<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="center">
      <% 
        upload = Upload.find_by(title: LANDINGSPLASHTITLE)
        if upload
      %>
        <%= image_tag upload.file_name.medium, class: "hundred-percent-width" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-2">
    <div>
      <%= link_to "Shop", postings_path, class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
</div>


<% if spoofing? %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <div class="panel-group">
        <div class="panel panel-default">      
          <div class="panel-heading">
            <h2 class="panel-title">User Spoof</h2>
          </div>
          <div class="panel-body">
            <%= link_to "Unspoof", sessions_unspoof_path, class: "btn btn-lg btn-primary" %>          
          </div>

        </div>
      </div>

    </div>
  </div>  
<% end %>

<% if admin_logged_in? %>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <div class="panel-group">



        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">Miscellaneous</h2>
          </div>

          <div class="panel-body">
            <%= link_to "Creditor Orders", creditor_orders_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Deliver products", deliveries_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Payment Payables", payment_payables_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Create new access code", new_access_code_path, class: "btn btn-lg btn-primary btn-block" %>    
            <%= link_to "Food Categories", food_categories_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Products", products_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Producer Product Commissions", new_producer_product_unit_commission_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Add new dropsite", new_dropsite_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "List dropsites", dropsites_path, class: "btn btn-lg btn-primary btn-block" %>        
            <% if @website_settings %>
              <%= link_to "Website Settings", edit_website_setting_path(@website_settings), class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
            <%= link_to "List Users", users_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Go to test page", test_page_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Uploads", uploads_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Partner Users", partner_users_index_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Toggle garage door", toggle_garage_door_path, class: "btn btn-lg btn-primary btn-block" %>
            <%= link_to "Recent pickups", pickups_path, class: "btn btn-lg btn-primary btn-block" %>
          </div>

        </div>


        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">User Spoof</h2>
          </div>
          <div class="panel-body">
            <%= form_tag sessions_spoof_path do %>      
              <%= label_tag :email %>
              <%= text_field_tag :email, nil, class: "form-control" %>                        
              <%= submit_tag "Spoof user", class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
          </div>

        </div>

        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">Email Test</h2>
          </div>
          <div class="panel-body">
            <%= form_tag test_send_email_path do %>      
              <%= label_tag :to %>
              <%= text_field_tag :to, nil, class: "form-control" %>
              <%= label_tag :body %>
              <%= text_field_tag :body, nil, class: "form-control" %>
              <%= submit_tag "Send test email", class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
          </div>

        </div>


      </div>


    </div>
  </div>


<% end %>

<%= render partial: "shared/access_code_submission" %>

<% if @preview_postings.any? %>
  
  <%= render partial: 'postings/postings', locals: { heading: "", postings: @preview_postings } %>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <hr class="section-divider" />
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
      <div class="standard-element-vertical-spacing">
        <%= link_to "Shop more products", postings_path, class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>