<% if spoofing? %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <div class="panel-group">
        <div class="panel panel-default">      
          <div class="panel-heading">
            <h2 class="panel-title">User Spoof</h2>
          </div>
          <div class="panel-body">
            <%= link_to "Unspoof", sessions_unspoof_path, class: "btn btn-lg btn-primary outline" %>          
          </div>

        </div>
      </div>

    </div>
  </div>  
<% end %>

<% if admin_logged_in? %>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">

      <div class="panel-group">



        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">Miscellaneous</h2>
          </div>

          <div class="panel-body">
            <%= link_to "Creditor Orders", creditor_orders_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Deliver products", deliveries_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Payment Payables", payment_payables_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Create new access code", new_access_code_path, class: "btn btn-lg btn-primary outline btn-block" %>    
            <%= link_to "Food Categories", food_categories_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Products", products_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Units", units_path, class: "btn btn-lg btn-primary outline btn-block" %>            
            <%= link_to "Add new dropsite", new_dropsite_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "List dropsites", dropsites_path, class: "btn btn-lg btn-primary outline btn-block" %>        
            <% if @website_settings %>
              <%= link_to "Website Settings", edit_website_setting_path(@website_settings), class: "btn btn-lg btn-primary outline btn-block" %>
            <% end %>
            <%= link_to "Users", users_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Producers", producers_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Business Interfaces", business_interfaces_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Go to test page", test_page_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Uploads", uploads_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Partner Users", partner_users_index_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Toggle garage door", toggle_garage_door_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Recent pickups", pickups_path, class: "btn btn-lg btn-primary outline btn-block" %>
            <%= link_to "Authorizations", rtauthorizations_path, class: "btn btn-lg btn-primary outline btn-block" %>
          </div>

        </div>


        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">User Spoof</h2>
          </div>
          <div class="panel-body">
            <%= form_tag sessions_spoof_path do %>      
              <%= label_tag :email %>
              <%= text_field_tag :email, nil, class: "form-control" %>                        
              <%= submit_tag "Spoof user", class: "btn btn-lg btn-primary outline btn-block" %>
            <% end %>
          </div>

        </div>

        <div class="panel panel-default">      

          <div class="panel-heading">
            <h2 class="panel-title">Email Test</h2>
          </div>
          <div class="panel-body">
            <%= form_tag test_send_email_path do %>      
              <%= label_tag :to %>
              <%= text_field_tag :to, nil, class: "form-control" %>
              <%= label_tag :body %>
              <%= text_field_tag :body, nil, class: "form-control" %>
              <%= submit_tag "Send test email", class: "btn btn-lg btn-primary outline btn-block" %>
            <% end %>
          </div>

        </div>


      </div>


    </div>
  </div>


<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center" style="padding-top: 25px; padding-bottom: 15px;">
      <span class="local-food-connection">A </span><span id="easy">local</span><span class="local-food-connection"> foods buying club.</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <div class="home-social-icons">        
        <%= link_to "https://www.facebook.com/groups/farmerscellar", class: "home-social-icons", target: "blank" do %>
          <i class="fa fa-facebook-square"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/access_code_submission" %>

<% if @food_categories && @food_categories.any? %>
  <div class="row">
    <% @food_categories.each do |food_category| %>
      <%
      if !food_category.uploads.any?
        next
      end
      %>
      <div class="col-xs-6 col-sm-3">
        <%= link_to food_category_path_helper(food_category), class: "thumbnail" do %>          
          <%= image_tag "#{food_category.uploads.last.file_name.square}", class: "img-responsive" %>
          <div class="caption">
            <h3><%= food_category.name %></h3>
          </div>
        <% end %>        
      </div>
    <% end %>
  </div>
<% end %>