<div class="center jumbotron">
    <h1>Farmer's Cellar</h1>
    <h3 class="fat-finger-spacing">think online farmer's market.</h3>

    <% if !logged_in? %>
      <div class="row row_spacing">
        <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5">
          <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary btn-block" %>
        </div>
      </div>
      <div class="row row_spacing">
        <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5">
          <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary btn-block" %>
        </div>
      </div>
    <% end %>
</div>

<% if current_user != nil && current_user.account_type == User.types[:ADMIN] %>
  <div>
    <% if !@website_settings.nil? %>
      <p><%= link_to "Website Settings", edit_website_setting_path(@website_settings), class: "btn btn-lg btn-primary" %></p>
    <% end %>
    <p><%= link_to "Receive products", postings_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Deliver products", deliveries_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Create new access code", new_access_code_path, class: "btn btn-lg btn-primary" %></p>    
    <p><%= link_to "Products", products_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Producer Product Commissions", producer_product_commissions_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Add new dropsite", new_dropsite_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "List dropsites", dropsites_path, class: "btn btn-lg btn-primary" %></p>        
    <p><%= link_to "List Users", users_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "Go to test page", test_page_path, class: "btn btn-lg btn-primary" %></p>
  </div>
<% end %>

<%= render partial: "shared/access_code_submission" %>