<% provide(:title, "How Things Work") %>
<h1>How Things Work</h1>

<div class="row">


  <div class="col-xs-12 col-sm-8 col-sm-offset-2">

    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="anchor panel-heading" id="the_simple_version">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSimpleVersion">
            Brief<span id="collapseSimpleVersionChevron" class="glyphicon glyphicon-chevron-up pull-right"></span>            
          </div>
        </div>
        <div id="collapseSimpleVersion" class="panel-collapse collapse in" data-chevron="#collapseSimpleVersionChevron">
          <div class="panel-body">
            <p>
              We are a local foods buying club. Club members pool buying power by ordering collectively, purchasing direct-from-producer at wholesale pricing.
            </p>
            <p>
              We have no membership fees, joining fees, dues or individual order minimums.
            </p>
            <p>
              Of the price you pay, we keep 10%, Paypal gets 3.5%, farmer gets 86.5%.
            </p>
            <h3>Sequence</h3>
            <ol>
              <li>You place your order with us</li>
              <li>At order cutoff we place club's order with producer</li>
              <li>Food arrives on 'delivery date'</li>
              <li>You pick up at our self-serve dropsite at your convenience</li>
            </ol> 
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseGetInvolved">
            Get Involved<span id="collapseGetInvolvedChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapseGetInvolved" class="panel-collapse collapse" data-chevron="#collapseGetInvolvedChevron">
          <div class="panel-body">
            <p>
              Our goals are great products at great prices. Your help is critical!
            </p>
            <p>
              The main way to help is by recruiting your friends to join. This helps:
            </p>
            <ol>
              <li>Lower prices</li>
              <li>Increase product selection</li>
            </ol>
            <p>Next, don't leave us guessing...tell us what products to source!</p>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="ordering">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOrdering">            
            Ordering <span id="collapseOrderingChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapseOrdering" class="panel-collapse collapse" data-chevron="#collapseOrderingChevron">
          <div class="panel-body">
            <div class="anchor" id="placing">
              <h3>Placing an Order</h3>
              <p>The basic ordering process is like any online shopping experience. First you have to place items in your tote. Then you have to check out. Your order will only get submitted to the producer if you've authorized payment by checking out. Items in your shopping tote that haven't been checked out won't get submitted to the producer so they won't get filled.</p>
            </div>

            <div class="anchor" id="order_minimums">
              <h3>Group Order Minimums</h3>
              <p>
                Lots of our products are subject to a Group Order Minimum. That means the customer community will need to collectively order at least a given amount or else your individual order will be cancelled for the current delivery cycle. For details on how to determine if a Group Order Minimum exists and is unmet, please see <%= link_to "Group Order Minimums", support_path(anchor: "order_minimums") %> on our support page.          
              </p>
            </div>

            <div class="anchor" id="case_constraints">
              <h3>Case Constraints</h3>
              <p>
                Lots of our products are packed in to cases by our producers. This means that Farmer's Cellar must order from the producer by the case. When we place our order with the producer we always round down to the nearest full case. Be aware this makes it possible for your individual order to get 'rounded' out and thus filled only partially or not at all.
              </p>
            </div>

            <div class="anchor" id="cutoff">
              <h3>Order Cutoff</h3>
              <p>
                This is the latest date and time you can place an order and still get delivery on the date specified. At the moment of the Order Cutoff, the producer gets notified and begins to fill your order. It's also the latest you can cancel an existing order for the scheduled delivery date. To view Order Cutoff information, please see <%= link_to "How can I view Order Cutoff?", support_path(anchor: "order_cutoff") %>
              </p>
            </div>

            <div class="anchor" id="cancellation">
              <h3>Order Cancellation</h3>
              <p>
                You can cancel an order for any product, even after you've checked out. But only up until the <%= link_to "Order Cutoff", how_things_work_path(anchor: "cutoff"), class: "self-link" %>. Beyond the Order Cutoff point any checked out orders become committed. This means that you cannot cancel the order after the order cutoff and you are obligated to pay for the product if the producer delivers on your behalf. The reason for this is to protect the producer from wasting his effort and product on an order that never gets paid on.
              </p>
              <p>
                This cancellation policy also applies to each item authorized as a result of a subscription. Please see <%= link_to "Subscription Item Cancellation", how_things_work_path(anchor: "subscription_item_cancellation"), class: "self-link" %>.
              </p>
            </div> 
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="paying">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapsePaying">            
            Paying<span id="collapsePayingChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapsePaying" class="panel-collapse collapse" data-chevron="#collapsePayingChevron">
          <div class="panel-body">
            <p>We accept credit card or Paypal. No cash, no check. Subscriptions require a Paypal account but only email and password are needed to set up. Pretty easy.</p> 
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="delivery">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseDelivery">            
            Delivery<span id="collapseDeliveryChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapseDelivery" class="panel-collapse collapse" data-chevron="#collapseDeliveryChevron">
          <div class="panel-body">

            <div class="anchor" id="scheduled_delivery_date">
              <h3>Scheduled Delivery Date</h3>
              <p>Each product posting specifies its Scheduled Delivery Date. The exact time of arrival is not known before hand but you'll always be notified by email once the day's deliveries are completed. Note that delivery will either occur on the Scheduled Delivery Date or be skipped. Please see <%= link_to "Delivery Not Guaranteed", how_things_work_path(anchor: "delivery_not_guaranteed"), class: "self-link" %> and <%= link_to "Skipped Deliveries", how_things_work_path(anchor: "skipped_deliveries"), class: "self-link" %></p>
            </div>            

            <div class="anchor" id="delivery_not_guaranteed">
              <h3>Delivery Not Guaranteed</h3>
              <p>
                Farmer's Cellar never guarantees ordered products will be delivered for several reasons:
              </p>
              <ol>
                <li>Farmer doesn't have enough product (see <%= link_to "Farmer Flexibility", how_things_work_path(anchor: "farmer_flexibility"), class: "self-link" %>)</li>
                <li>A Group Order Minimum wasn't met (see <%= link_to "Group Order Minimums", how_things_work_path(anchor: "order_minimums"), class: "self-link" %>)</li>
                <li>A case wasn't fully filled (see <%= link_to "Case Constraints", how_things_work_path(anchor: "case_constraints"), class: "self-link" %>)</li>
              </ol>

              <p>See <%= link_to "Skipped Deliveries", how_things_work_path(anchor: "skipped_deliveries"), class: "self-link" %> if your product was not delivered.</p>

            </div>

            <div class="anchor" id="skipped_deliveries">
              <h3>Skipped Deliveries</h3>
              <p>
                We don't guarantee delivery on the <%= link_to "Scheduled Delivery Date", how_things_work_path(anchor: "scheduled_delivery_date"), class: "self-link" %> (See <%= link_to "Delivery Not Guaranteed", how_things_work_path(anchor: "delivery_not_guaranteed") %>). If delivery is skipped, we won't notify you. Instead, unless you <%= link_to "cancel your order", how_things_work_path(anchor: "cancellation"), class: "self-link" %>, we'll just keep rolling your order to the next Scheduled Delivery Date and notify you once it fills. Please see <%= link_to "How Can I Tell What my Order's Currently Scheduled Delivery Date is?", support_path(anchor: "where_is_currently_scheduled_delivery_date") %>
              </p>
            </div>


          </div>

        </div>
      </div>



      <div class="panel panel-default">
        <div class="anchor panel-heading" id="pickup">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapsePickup">            
              Pickup<span id="collapsePickupChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapsePickup" class="panel-collapse collapse" data-chevron="#collapsePickupChevron">
          <div class="panel-body">
            <h3>Dropsite Access Information</h3>
            <p>You'll get a delivery notification email the day your products arrive. This email will contain everything you need to pickup your products.</p>
            <div class="anchor" id="pickup_deadline">
              <h3>Pickup Deadline</h3>
              <p>You are encouraged to pickup any day and time that is convenient for you after delivery. However, all products must be picked up by 8PM the Monday following delivery. Products not picked up by this time are non-refundable and will be removed from the dropsite and donated. The purpose for this policy is to prevent mixups of old and new product and to conserve dropsite resources.</p>
            </div> 
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="miscellaneous">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMiscellaneous">            
              Miscellaneous<span id="collapseMiscellaneousChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapseMiscellaneous" class="panel-collapse collapse" data-chevron="#collapseMiscellaneousChevron">
          <div class="panel-body"> 
            <div class="anchor" id="beta_mode">
              <h3>Beta Mode</h3>
              <p>
                Farmer's Cellar is still very much in beta mode. As such we have a long way to go and are making due with meager resources in the meantime as we progress. Although we always have and will strive for excellence, the reality is we'll probably have a higher rate of mistakes than a more established business and sometimes our communication might not be ideal. If that's not for you we completely understand. Best bet for you now is probably to patronize a more established business and check back in with us down the road. Hopefully by then we'll be better able to meet your needs.
              </p>
              <p>
                That said, our hope is that you choose to actively participate in our progress by not only becoming a customer now but also, more importantly, giving us your feedback about what you do and don't like about our service and suggestions for how we could improve.
              </p>
            </div>

            <div class="anchor" id="subscription_item_cancellation">
              <h3>Subscription Item Cancellation</h3>
              <p>
                Subscriptions just automatically place individual orders for you on the schedule you select (e.g. weekly, monthly etc.). As such, individual item orders placed automatically by subscriptions are subject to our usual <%= link_to "Order Cancellation policy", how_things_work_path(anchor: "cancellation"), class: "self-link" %>. You can only cancel individual subscription items for which the <%= link_to "Order Cutoff", how_things_work_path(anchor: "cutoff"), class: "self-link" %> has not yet passed. For example, if you have a subscription for a product whose <%= link_to "Order Cutoff", how_things_work_path(anchor: "cutoff"), class: "self-link" %> is Monday with a Friday delivery, it won't work for you to wait until Wednesday to cancel your item for the next delivery. In this example, if you waited until Wednesday, the nearest item you'd be able to cancel is the following week's delivery.
              </p>
              <p>
                For this reason it's important to remain aware of Order Cutoffs on an ongoing basis for all subscriptions. It is 100% your responsibility to be aware of the Order Cutoff times for any product subscriptions you authorize.
              </p>
            </div>

            <div class="anchor" id="farmer_flexibility">
              <h3>Farmer Flexibility</h3>
              <p>
                We serve small farmers only. It can be challenging for small farms to know exactly how much product they have available because it's still on the tree/vine/stalk etc. So we built Farmer's Cellar from day #1 with what we call 'Farmer Flexibility' in mind. What this means is that when a customer places an order the customer is obligated to pay if the farmer delivers but the farmer is never obligated to deliver (see <%= link_to "Delivery Not Guaranteed", how_things_work_path(anchor: "delivery_not_guaranteed"), class: "self-link" %>). This frees the farmer up to focus more on making high quality food and less on 'inventory' precision. A downside is that sometimes a customer won't get food they ordered. If you don't get ordered food you don't get charged.
              </p>
            </div>

            <div class="anchor" id="cooling_equipment_outages">
              <h3>Cooling Equipment Outages</h3>
              <p>
                We always work to keep our refrigerators and freezers in top running condition. Regardless, sometimes things break unexpectedly and sometimes the electrical power goes out. If that happens neither we nor our producers are responsible for food spoilage. Food spoilage due to electrical or equipment failure would be a loss to you and is one of the risks you incur patronizing our <%= link_to "Beta Mode", how_things_work_path(anchor: "beta_mode"), class: "self-link" %> business.
              </p>
              <p>
                That said, we've never had this scenario happen but if it ever does, we will try our best to send out an emergency notification email as soon as we become aware a cooler isn't working for whatever reason. Should you ever get an email like this, be aware that by law we are bound to dispose of the food after 4 hours of a cooler going out. In other words, once an emergency notification email goes out you have 4 hours to pick up your food.
              </p>
            </div>

            <div class="anchor" id="returns_and_refunds">
              <h3>Return / Refund Policy</h3>
              <p>
                All sales are final. We don't offer returns or refunds. If you are dissatisfied with a product please let us know so we can track customer feedback and possibly pull the product from our offering. But if you'd like your money back you might try contacting the producer directly to see if you can work something out.
              </p>
              <p>
                We have this policy because returns are very expensive which doesn't mesh with our goal of providing low cost access to quality local foods. We could only provide return service by drastically raising the prices of all our products, which we're not going to do. So, all sales are final.
              </p>              
            </div>

            <div class="anchor" id="policy_updates">
              <h3>Policy Updates</h3>
              <p>          
                Policies herein are added and updated periodically as we develop the business. Major changes happen infrequently and we will usually attempt to notify you of major or important changes but it remains entirely your responsibility to keep abreast of all changes to <%= link_to "How Things Work", how_things_work_path %> regardless of notification.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="anchor panel-heading" id="questions">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseQuestions">            
              Questions<span id="collapseQuestionsChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="collapseQuestions" class="panel-collapse collapse" data-chevron="#collapseQuestionsChevron">
          <div class="panel-body">
            <div class="anchor" id="why_pre_order_only">
              <h3>Why pre-order only?</h3>
              <p>
                Pre-order eliminates warehouses and inventory. This reduces cost and waste and increases quality, taste, variety and nutrition. Pre-order gets you as close as possible to picking the food right off the vine yourself. Well, U-pick probably would be closer...
              </p>
            </div>

            <div class="anchor" id="where_does_food_come_from">
              <h3>Where does the food come from?</h3>
              <p>
                We're all local. And no, not because 'local' is a fad. We're in to local because proximity fosters relationship. And relationship is important because words like 'organic' and 'natural' don't really convey all the nuances of each farmer. Each farm is different. Each farmer is different. These differences are going to affect the stuff you're putting in your body so we think it's pretty important to know more about where your food is made, how it's made and how it got to you. This is what Farmer's Cellar is all about; helping you know your food, its source and its journey.
              </p>
            </div>

            <div class="anchor" id="what_does_local_mean">
              <h3>What does 'Local' mean?</h3>
              <p>
                There is no legal definition of 'local'. We define it as however far a truck driver can get and return in a single 12 hour shift. In other words, 6 hours out, 6 hours back. Keeping distances short makes it easier for you to visit the sources of your food which, by the way, we recommend doing. Visiting your farmers makes a wonderful day or weekend trip and makes each subsequent meal a very different experience. Sounds a little corny (pun), but it really is true. Eating food when you personally know the land and people where it came from feels very different than consuming mystery food.
              </p>
            </div>

            <div class="anchor" id="incorrect_product_pickup">
              <h3>What happens if I accidentally pickup the wrong product?</h3>
              <p>
                For liability reasons, we do not accept products back once they've been removed from the dropsite. If you take someone else's products you must reimburse them and pay them a $15 inconvenience fee. Here's why: All products in our dropsite belong to someone who's already paid. If you take product that wasn't delivered for you, you just took someone else's product. They won't discover you took their product until they make the trip to the dropsite to pick it up and find that it's not there. This is very inconvenient for them. This is why it seems fair for you to pay them $15 for the inconvenience you caused by taking their product.
              </p>
              <p>
                Especially note that a $15 inconvenience fee will be charged for each inconvenienced customer. For example, if you ordered 3 gallons of milk but the farmer is only able to deliver 1 gallon for you, your delivery notification will say "1 gallon" was delivered for you. In this case, if you don't read the delivery notification and just take 3 gallons from the dropsite you will be charged for the 2 extra gallons of milk and at least one $15 "inconvenience fee" but possibly two (for a total of $30, in this example) because those 2 extra gallons you took might have belonged to two different “inconvenienced” people.
              </p>
              <p>
                You are 100% responsible for picking up the correct product. The key to picking up the correct product is to read your delivery notifications thoroughly every time. This is important because Farmer's Cellar never guarantees you'll get the quantity you ordered.                             
              </p>
            </div> 
          </div>
        </div>
      </div>

    </div>


    <% if @update_time %>      
      <p>Last update: <%= @update_time.strftime("%B %d, %Y") %></p>        
    <% end %>


  </div>
</div>