<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=597003080458571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>News</h1>

<div class="row">    
  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>What we're up to</h2>
      </div>
      <div class="panel-body">

        <% if @update_time %>      
          <p>Last update: <%= @update_time.strftime("%A, %B %d, %Y") %></p>
        <% end %>

        <h3>Current Work</h3>
        <p>Adding lots of producers, products, photos and customers.</p>

        <h3>Up Next</h3>
        <ul>          
          <li>We're having baby #3 in February (hopefully). Yay!!</li>
          <li>Marketing. Adding customers will help us deliver on schedule more reliably.</li>
        </ul>        

        <h3>Producers</h3>
        <ul>
          <li><%= link_to "Springrain Farm & Orchard", "http://www.springrainfarm.org/", target: "_blank" %></li>
          <li><%= link_to "Samish Bay Cheese", "http://samishbay.com/", target: "_blank" %></li>
          <li><%= link_to "Oak Meadows Farm", "http://oakmeadowsfarm.weebly.com/", target: "_blank" %></li>
          <li><%= link_to "Fila Farms", "https://www.facebook.com/pg/filafarmsllc", target: "_blank" %></li>
          <li><%= link_to "Grace Harbor Farms", "http://stores.graceharborfarms.com/", target: "_blank" %></li>
          <li><%= link_to "Misty Meadows Farm", "http://mistymeadowsfarm.com/", target: "_blank" %></li>
          <li><%= link_to "Palouse Pastured Poultry", "http://palousepasturedpoultry.com/", target: "_blank" %></li>
          <li><%= link_to "Pride and Joy Dairy", "http://www.prideandjoypugetsound.com/index.htm", target: "_blank" %></li>
          <li><%= link_to "Pure Eire", "http://www.pureeiredairy.com/", target: "_blank" %></li>          
          <li><%= link_to "St. John Creamery", "http://www.stjohncreamery.com/", target: "_blank" %></li>
        </ul>

        <h3>Products</h3>
        <ul>
          <li>Butter</li>
          <li>Buttermilk</li>
          <li>Chocolate Milk</li>
          <li>Duck Eggs</li>
          <li>Eggs</li>
          <li>Goat Milk</li>
          <li>Goat Milk Kefir</li>
          <li>Ground Beef</li>
          <li>Heavy Cream</li>
          <li>Kefirs</li>
          <li>Milks</li>
          <li>Quail Eggs</li>
          <li>Rabbit</li>
          <li>Raw Milk</li>
          <li>Raw Goat Milk</li>
          <li>Raw Goat Milk Cheese</li>
          <li>Vanilla Milk</li>
          <li>Whole Chicken</li>
          <li>Yogurts</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

      <div class="fb-page" data-href="https://www.facebook.com/farmerscellar" data-tabs="timeline,events,messages,photos" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">      
        <blockquote cite="https://www.facebook.com/farmerscellar" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/farmerscellar">Farmer&#039;s Cellar</a>        
        </blockquote>      
      </div>
    </div>
    
  </div>
</div>