<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=597003080458571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>News</h1>

<div class="row">    
  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>What we're up to</h2>
      </div>
      <div class="panel-body">
        <p>As of Monday, November 14th, 2016...</p>
        <h3>Current Work</h3>
        <ul>
          <li>We're working to add</li>
          <ul>
            <li>More <%= link_to "Blue Valley Meats", "http://shop.bluevalleymeats.com", target: "_blank" %> products (next couple months)</li>
            <li>More <%= link_to "Palouse Pastured Poultry", "http://palousepasturedpoultry.com/", target: "_blank" %> products (next couple weeks)</li>
            <ul>
              <li>Frozen whole chickens</li>
            </ul>
            <li>More <%= link_to "Pure Eire", "http://www.pureeiredairy.com/", target: "_blank" %> products (next couple weeks)</li>
            <ul>
              <li>Chocolate milk</li>
              <li>Yogurt</li>
              <li>Butter</li>
              <li>Cream</li>
            </ul>
          </ul>
          <li>We're building tech tools to streamline administrative operations</li>
        </ul>
        <h3>Up Next</h3>
        <p>We'll make our shopping pages browsable by food category. So we'll have a "Dairy" section and a "Poultry" section etc.</p>
        <h3>Producers</h3>
        <ul>
          <li><%= link_to "Fila Farms", "https://www.facebook.com/pg/filafarmsllc", target: "_blank" %></li>
          <li><%= link_to "Palouse Pastured Poultry", "http://palousepasturedpoultry.com/", target: "_blank" %></li>
          <li><%= link_to "Pure Eire", "http://www.pureeiredairy.com/", target: "_blank" %></li>
          <li><%= link_to "Blue Valley Meats", "http://shop.bluevalleymeats.com", target: "_blank" %></li>
          <li><%= link_to "Pride and Joy Dairy", "http://www.prideandjoypugetsound.com/index.htm", target: "_blank" %></li>
          <li><%= link_to "St. John Creamery", "http://www.stjohncreamery.com/", target: "_blank" %></li>
        </ul>

        <h3>Products</h3>
        <ul>
          <li>All natural whole frozen chicken</li>
          <li>All natural pastured eggs</li>
          <li>All natural pastured duck eggs</li>
          <li>Whole organic 100% grass-fed cow milk</li>
          <li>Grass-fed Ground Beef</li>
          <li>Raw, organic, grass fed milk</li>
          <li>Raw, grass fed goat milk</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

      <div class="fb-page" data-href="https://www.facebook.com/farmerscellar" data-tabs="timeline,events,messages,photos" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">      
        <blockquote cite="https://www.facebook.com/farmerscellar" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/farmerscellar">Farmer&#039;s Cellar</a>        
        </blockquote>      
      </div>
    </div>
    
  </div>
</div>