<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=597003080458571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<h1>News</h1>

<div class="row">    
  <div class="col-xs-12 col-sm-6">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>What we're up to</h2>
      </div>
      <div class="panel-body">

        <% if @update_time %>      
          <p>Last update: <%= @update_time.strftime("%A, %B %d, %Y") %></p>
        <% end %>

        <h3>Current Work</h3>
        <ul>
          <li>Building a feature allowing you to view all your 'ready for pickup' items on your mobile device to make pickups easier</li>
          <li>Building a 'my deliveries' calendar-type feature to visualize when your products will arrive. Should make pickup trip planning easier</li>
        </ul>        

        <h3>Up Next</h3>
        <p>Adding products, adding products, adding products. Harvest 2017 is set to be bangup at Farmer's Cellar. About another month or so...stay tuned!</p>
        
        <h3>Producers</h3>
        <ul>
          <li><%= link_to "Springrain Farm & Orchard", "http://www.springrainfarm.org/", target: "_blank" %></li>
          <li><%= link_to "Samish Bay Cheese", "http://samishbay.com/", target: "_blank" %></li>
          <li><%= link_to "Oak Meadows Farm", "http://oakmeadowsfarm.weebly.com/", target: "_blank" %></li>
          <li><%= link_to "Fila Farms", "https://www.facebook.com/pg/filafarmsllc", target: "_blank" %></li>
          <li><%= link_to "Grace Harbor Farms", "http://stores.graceharborfarms.com/", target: "_blank" %></li>
          <li><%= link_to "Misty Meadows Farm", "http://mistymeadowsfarm.com/", target: "_blank" %></li>
          <li><%= link_to "Palouse Pastured Poultry", "http://palousepasturedpoultry.com/", target: "_blank" %></li>
          <li><%= link_to "Pride and Joy Dairy", "http://www.prideandjoypugetsound.com/index.htm", target: "_blank" %></li>
          <li><%= link_to "Pure Eire", "http://www.pureeiredairy.com/", target: "_blank" %></li>          
          <li><%= link_to "St. John Creamery", "http://www.stjohncreamery.com/", target: "_blank" %></li>
        </ul>

        <h3>Products</h3>
        <ul>
          <li>Butter</li>
          <li>Buttermilk</li>
          <li>Chocolate Milk</li>
          <li>Duck Eggs</li>
          <li>Eggs</li>
          <li>Goat Milk</li>
          <li>Goat Milk Kefir</li>
          <li>Ground Beef</li>
          <li>Heavy Cream</li>
          <li>Kefirs</li>
          <li>Milks</li>
          <li>Quail Eggs</li>
          <li>Rabbit</li>
          <li>Raw Milk</li>
          <li>Raw Goat Milk</li>
          <li>Raw Goat Milk Cheese</li>
          <li>Vanilla Milk</li>
          <li>Whole Chicken</li>
          <li>Yogurts</li>
        </ul>

      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Pride and Joy Dairy Recall</h2>
      </div>
      <div class="panel-body">
        <p>A chronology of Washington State Department of Agriculture's (WSDA) recall of Pride and Joy raw milk products.</p>
        <h4><u>February 8, 2017</u></h4>
        <p>
          Recently two people reported to the state having become ill with Salmonella after consuming Pride and Joy milk. As a result, WSDA purchased some Pride and Joy milk from at least one retail location so they could conduct testing.
        </p>
        <p>
          Via this testing, WSDA’s Food Safety and Consumer Services Laboratory claims to have confirmed the presence of Shiga toxin-producing E. coli(E. coli STEC), a type of fecal coliform bacteria, in two samples of the raw milk collected from the retail outlet. Despite these alleged confirming test results, there are no known illnesses associated with the recalled products bearing Best Buy dates of Feb. 10 through Feb. 24. Salmonella has never been detected in PJ's milk.
        </p>

        <p>
          Additional samples were collected by WSDA from the processing facility for testing. <span style="background: yellow;">Pride and Joy also bottled 12 more samples from this same batch at the same time as WSDA and are currently in the process of having them tested at two different state regulated facilities</span>.
        </p>

        <h4><u>February 15, 2017</u></h4>
        <p>
          WSDA lab again claims to have confirmed the presence of E. coli STEC in one of the samples taken directly from PJ's processing facility. For that reason, the recall remains in place. 
        </p>
        <p>
          From WSDA: The next steps are for Pride and Joy to develop a plan for identifying factors potentially leading to the presence of these pathogens in their operations and how they will correct the problem. Once they have taken steps to address the issue, WSDA inspectors will collect additional samples and test them. Once e. coli or other pathogens WSDA tests for are no longer found in the samples, WSDA will issue a Reintroduction Letter confirming Pride and Joy products can be sold in the retail market.
        </p>

        <p>
          A note from Pride and Joy: <span style="background: yellow;">We have been in business for 40 years with no confirmed illness due to our milk</span>. Our entire family consumes the products on a daily basis and has had no issues.  We stand by our product 100% and have always offered a guarantee and refunded or replaced any product that a customer was not happy with.  As always, <span style="background: yellow;"> any customer is always welcome to come and visit our farm and stay in the guest farm house to see where your food comes from</span>.  We are an open book and will continue to fight for our right to produce.
        </p>

        <h4><u>February 22, 2017</u></h4>
        <p>
          More from Pride and Joy: As of now we still have not been released from the state to continue the bottling and selling of our milk.  Due to our attorneys now working on expediting the process, that the Department of Agriculture has some what implemented, we can not go into details of our situation. I (Ricky) can, however, disclose that <span style="background: yellow;">we had the same milk samples, that the state took, sent to 2 separate certified labs and all 8(4 to each lab) samples came back negative with no E-coli or Salmonella found in our milk. Having found out of our results, we are in a situation of a discrepancy issue with the States lab results</span>. We have been getting great feedback from both our mutual customers, and even some competitor dairies in the hopes we can be back up to production real soon.
        </p>

        <h4><u>March 5, 2017</u></h4>
        <p>
          Pride and Joy: We are still waiting on the state to release us.  They originally gave us a list of protocols to adhere to a couple weeks ago, however there were a few things on the list the dairy owners felt was unnecessary to the point where a couple requests could jeopardize their organic certification.  Which is odd because the same department(the WSDA) is the department that oversees the certified organic "practices".  Our attorneys along with veterinarians and biologists also agreed the WSDA was overstepping their authority.  For the sake of our reputation and integrity, we are questioning their requests before we complete the rest of the protocol list.  We also hope this helps with future "bullying" with the dairy and other(competing) dairies, as well.  Again, thanks for your support and patience.  We hope to be up and running real soon.
        </p>

        <h4><u>March 10, 2017</u></h4>
        <p>
          Pride and Joy: We are not giving up. All of independent tests from WSU and Silliker labs that we had done at the same time as the samples taken by the WSDA have come back 100% clean, however the WSDA refuses to retest us. They have asked us to do a HAZMAT type analysis and...<span style="background: yellow;">are asking us to use unapproved vaccines</span>. This would void our organic certification which we are not willing to do. The tests that we can do take quite a bit of time and effort and money on our part. We still have to take care of all the cows and things required to do on a daily basis so it is taking us a lot longer than anyone wants.
        </p>
        <p>
          We have worked very hard and long for our natural practices and are not willing to give up. Please bear with us as we try to work with them to come to some type of agreement for them to retest us. We have spoken with the Western Agricultural Report newspaper and they will be featuring our story with all the facts for the next few weeks if you would like all the details of what has transpired. (Article starts on page 26) <%= link_to "Western Agricultural Report", "https://indd.adobe.com/view/c5a13b83-4a4a-461d-8503-e1cf28b391b0", target: "blank" %> We appreciate your continued support. 
        </p>

      </div>
    </div>



  </div>

  <div class="col-xs-12 col-sm-6">

      <div class="fb-page" data-href="https://www.facebook.com/farmerscellar" data-tabs="timeline,events,messages,photos" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">      
        <blockquote cite="https://www.facebook.com/farmerscellar" class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/farmerscellar">Farmer&#039;s Cellar</a>        
        </blockquote>      
      </div>
    </div>
    
  </div>
</div>