<% provide(:title, "Support") %>
<h1>Support</h1>

<div class="row">
  
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">



    <div class="panel-group" id="accordion">



      <div class="panel panel-default">        
        <div class="anchor panel-heading" id="ordering">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#orderingBody">
            Ordering<span id="orderingBodyChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="orderingBody" class="panel-collapse collapse" data-chevron="#orderingBodyChevron">
          <div class="panel-body">
            
            <div class="anchor" id="order_minimums">
              <h3>Group Order Minimums</h3> 
              
              <div class="well">
                <p>How can I tell if a Group Order Minimum has been met before I place my order?</p>
                <p>
                  Click ‘Shop’, then find the product of interest. Click ‘Order’. If there is a <%= link_to "Group Order Minimum", how_things_work_path(anchor: "order_minimums") %> and it hasn’t been achieved you’ll see <span class="spin-continuously alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>. Whenever you see that spinning icon, click it and you’ll see how much remains to achieve the minimum.
                </p>
              </div>

              <div class="well">
                <p>How can I tell if a Group Order Minimum has been met after I place my order?</p>
                <p>
                  If you’ve already ordered and later want to see if a <%= link_to "Group Order Minimum", how_things_work_path(anchor: "order_minimums") %> has been achieved, log in to your Farmer’s Cellar account and go to the black header at the top of the page. Click either ‘Tote’ or ‘Orders’ depending on if you’ve authorized payment or not. If any of the products you’ve selected still have unmet Group Order Minimums you’ll see <span class="spin-continuously alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>. Whenever you see that spinning icon click it to find out more information.
                </p>
              </div>
              
            </div>

            <div class="anchor" id="order_cutoff">
              <h3>Order Cutoff</h3> 
              
              <div class="well">
                <p>How can I view Order Cutoff?</p>
                <p>
                  <%= link_to "Order Cutoff", how_things_work_path(anchor: "order_cutoff") %> is the latest you can place or cancel an order. To find this date/time from your Tote or Orders page, click the <span class="glyphicon glyphicon-chevron-down"></span> to the left of any of the item rows. To find this information while shopping click the 'Order' button, then click the Scheduled Delivery date to reveal the Order Cutoff.
                </p>
              </div>
              
            </div>

          </div>
        </div>
      </div>




      <div class="panel panel-default">        
        <div class="anchor panel-heading" id="delivery">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#deliveryBody">
            Delivery<span id="deliveryBodyChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="deliveryBody" class="panel-collapse collapse" data-chevron="#deliveryBodyChevron">
          <div class="panel-body">            
            
            <div class="anchor" id="where_is_currently_scheduled_delivery_date">              
              <h3>How Can I Tell What my Order's Currently Scheduled Delivery Date is?</h3>
              <p>
                If you did not receive delivery on the date you were expecting it's possible your <%= link_to "delivery was skipped", how_things_work_path(anchor: "skipped_deliveries") %>. To find the currently <%= link_to "Scheduled Delivery Date", how_things_work_path(anchor: "scheduled_delivery_date") %> log in to your Farmer's Cellar account and click 'Orders' in the black header at the top of the page.
              </p>
            </div>
                       
          </div>
        </div>
      </div>




      <div class="panel panel-default">        
        <div class="anchor panel-heading" id="miscellaneous">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#miscellaneousBody">
            Miscellaneous<span id="miscellaneousBodyChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>

        <div id="miscellaneousBody" class="panel-collapse collapse" data-chevron="#miscellaneousBodyChevron">
          <div class="panel-body">

            <div class="anchor" id="icon_descriptions">
              <h3>What Do the Various Icons Mean That I See on the Website?</h3>

              <ul class="list-group">
                <li id="spinning_red_exclamation_point" class="list-group-item anchor">
                  <span class="spin-continuously alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> means there is some kind of problem that you definitely should be aware of. You can sometimes click the icon for more detailed information.
                </li>
                <li class="list-group-item">
                  <span class="spin-continuously alert-info glyphicon glyphicon-info-sign" aria-hidden="true"></span> flags some kind of important information we'd like to make sure you're aware of. You can sometimes click the icon for more detailed information.
                </li>
                <li class="list-group-item">
                  <div data-toggle="collapse" data-target="#chevronDescriptionBody">
                    <span id="chevronDescriptionChevron" class="glyphicon glyphicon-chevron-down"></span> means you can click it to reveal more detailed information. Go ahead, click it...see what happens.
                  </div>
                  <div id="chevronDescriptionBody" class="collapse" data-chevron="#chevronDescriptionChevron">
                    Simple enough.
                  </div>
                </li>
              </ul>

            </div>
            




          </div>
        </div>
      </div>





      <div class="panel panel-default">
        <div class="anchor panel-heading" id="detailed_posting_info">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#detailed_posting_infoBody">
            Detailed Posting Info<span id="detailed_posting_infoBodyChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="detailed_posting_infoBody" class="panel-collapse collapse" data-chevron="#detailed_posting_infoBodyChevron">
          <div class="panel-body">
            <p>
              To find out detailed information about each posting, first click on 'Shop' to get to the postings page, then find the posting you're interested in. Each 'posting' is laid out with producer name first, then under that is product name. Each of those names has a little icon to the left...if you click that icon it expands to show more information. Expand these little icons and you should find what you're looking for.
            </p>            
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="anchor panel-heading" id="password_reset_not_working">
          <div class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#password_reset_not_workingBody">            
            Password Reset Isn't Working<span id="password_reset_not_workingBodyChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>            
          </div>
        </div>
        <div id="password_reset_not_workingBody" class="panel-collapse collapse" data-chevron="#password_reset_not_workingBodyChevron">
          <div class="panel-body">
            <h3>Email Submitted More than Once</h3>
            <p>
              When you submit your email address to reset your password, it can take a minute or two to get an email response from us...probably a bit longer than you're used to. So the trick is to submit your email address <%= link_to "here", new_password_reset_path %> only <u>once</u> and then just wait.
            </p>
            <p>
              And note: it's <u>ONLY</u> the most recent password reset email you receive that will work. All others will fail. So if you have submitted your email address multiple times you must wait until the last email response from our system is received. Than you should be just fine.
            </p>
            <h3>Account not Activated</h3>
            <p>
              Before you can log in or change your password you must first 'activate' your account. You do this by clicking the link that should have been emailed to you when you signed up for a Farmer's Cellar account. If you haven't done this yet, look in your inbox for an email from us with the subject "Account activation". In the email, click the link that says "Activate".
            </p>            
          </div>
        </div>
      </div>



    </div>




    


  </div>
</div>