<% provide(:title, "Developer Test Page") %>
  <h1>boaz and dad Test Page</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>One Time Buy Test</p>
		  </div>
	    <div class="panel-body">	    	
				<%= form_tag test_checkout_path, method: :post do %>				  
				  <%= label_tag :amount %>
				  <%= number_field_tag :amount, nil, class: 'form-control' %>
				  <%= submit_tag "Checkout", class: 'btn btn-primary form-control' %>
				<% end %>
	    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
	  <div class="panel-heading">
	    <p>Masspay Test</p>
	  </div>
	    <div class="panel-body">
			<%= form_tag bulk_payments_test_masspay_path, method: :post do %>
			  
			  <%= label_tag :email %>
			  <%= email_field_tag :email, nil, class: 'form-control' %>

			  <%= label_tag :amount %>
			  <%= number_field_tag :amount, nil, class: 'form-control' %>

			  <%= submit_tag "test masspay", class: 'btn btn-primary form-control' %>

			<% end %>
	    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>Reference Transactions Test</p>
		  </div>
	    <div class="panel-body">
	    	<%= link_to "Create billing agreement", reference_transactions_new_ba_path, class: "btn btn-primary" %>
	    	
				<%= form_tag reference_transactions_create_capture_path, method: :post do %>
				  
				  <%= label_tag :amount %>
				  <%= number_field_tag :amount, nil, class: 'form-control' %>

				  <%= submit_tag "Make purchase", class: 'btn btn-primary form-control' %>

				<% end %>
				<%= link_to "Do Rtpurchase", reference_transactions_do_rtpurchase_path, class: "btn btn-primary" %>
				<%= link_to "Do bulk_purchase", reference_transactions_do_bulk_purchase_path, class: "btn btn-primary" %>
	    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>Exception Test</p>
		  </div>
	    <div class="panel-body">
	    	<%= link_to "Trigger exception", test_exception_path, class: "btn btn-primary" %>				
	    </div>
    </div>
  </div>
</div>