<% provide(:title, "Developer Test Page") %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>Memory Profiler</p>
      </div>
      <div class="panel-body">
        <p>Usage: click 'start', then go do your browsing around thing that you want to test, then come back to this page and click 'stop'. The output will get dumped to the rails console (i.e. heroku logs)</p>
        <div class="col-md-6">
          <%= link_to "Start", test_memory_profiler_path(start: true), class: "btn btn-primary btn-lg outline" %>
        </div>
        <div class="col-md-6">
          <%= link_to "Stop", test_memory_profiler_path(stop: true), class: "btn btn-primary btn-lg outline" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>Garage Door Test</p>
		  </div>
	    <div class="panel-body">
				<%= link_to "Go garage", test_garage_door_path, class: "btn btn-primary outline" %>
	    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
  	<div class="panel panel-default">
  		<div class="panel-body">	    	
				<div
				  class="fb-like"
		  		data-href="https://www.farmerscellar.com/about" 
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
  		</div>
  	</div>		
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>One Time Buy Test</p>
		  </div>
	    <div class="panel-body">	    	
				<%= form_tag test_checkout_path, method: :post do %>				  
				  <%= label_tag :amount %>
				  <%= number_field_tag :amount, nil, class: 'form-control' %>
				  <%= submit_tag "Checkout", class: 'btn btn-primary outline form-control' %>
				<% end %>
	    </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>Reference Transactions Test</p>
		  </div>
	    <div class="panel-body">
	    	<%= link_to "Create billing agreement", reference_transactions_new_ba_path, class: "btn btn-primary outline" %>
	    	
				<%= form_tag reference_transactions_create_capture_path, method: :post do %>
				  
				  <%= label_tag :amount %>
				  <%= number_field_tag :amount, nil, class: 'form-control' %>

				  <%= submit_tag "Make purchase", class: 'btn btn-primary outline form-control' %>

				<% end %>
				<%= link_to "Do Rtpurchase", reference_transactions_do_rtpurchase_path, class: "btn btn-primary outline" %>
				<%= link_to "Do bulk_purchase", reference_transactions_do_bulk_purchase_path, class: "btn btn-primary outline" %>
	    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
		  <div class="panel-heading">
		    <p>Exception Test</p>
		  </div>
	    <div class="panel-body">
	    	<%= link_to "Trigger exception", test_exception_path, class: "btn btn-primary outline" %>				
	    </div>
    </div>
  </div>
</div>