<table id="quantityTable" class="table">
  <thead></thead>                
  <tbody>
    <tr>
      <td>
        <%= form_for tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                
          <%= f.number_field :quantity, value: 1, hidden: true %>
          <%= f.number_field :posting_id, value: posting.id, hidden: true %>
          <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

          <%= f.submit "+1", class: "btn btn-primary btn-lg btn-lg", disabled: account_on_hold %>
        <% end %>
      </td>

      <td>
        <%= form_for tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                
          <%= f.number_field :quantity, value: 2, hidden: true %>
          <%= f.number_field :posting_id, value: posting.id, hidden: true %>
          <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

          <%= f.submit "+2", class: "btn btn-primary btn-lg", disabled: account_on_hold %>
        <% end %>
      </td>

      <td>
        <%= form_for tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                
          <%= f.number_field :quantity, value: 3, hidden: true %>
          <%= f.number_field :posting_id, value: posting.id, hidden: true %>
          <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

          <%= f.submit "+3", class: "btn btn-primary btn-lg", disabled: account_on_hold %>
        <% end %>
      </td>

      <td>
        <%= form_for tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                
          <%= f.number_field :quantity, value: 4, hidden: true %>
          <%= f.number_field :posting_id, value: posting.id, hidden: true %>
          <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

          <%= f.submit "+4", class: "btn btn-primary btn-lg", disabled: account_on_hold %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div id="customQuantityFormDiv">

  <%= form_for tote_item do |f| %>
    <%= render partial: 'shared/error_messages_general', locals: { active_record_object: tote_item } %>
    
    <%= f.number_field :quantity, class: "form-control fat-finger-spacing", placeholder: "Enter custom quantity" %>
    <%= f.number_field :posting_id, value: posting.id, hidden: true %>                
    <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

    <%= f.submit "Add to Tote", class: "btn btn-primary btn-lg", disabled: account_on_hold %>
  <% end %>

</div>