<h1>Orders Calendar</h1>

<% if @first_future_item %>
  <div class="row">
    <div class="col-xs-12">
      <div id="calendar" style="white-space: nowrap; overflow: auto;">
        <%
        @tote_items_by_week.each do |tote_items_by_week|
          week_start = tote_items_by_week[:start]
          week_end = tote_items_by_week[:end]
          tote_items = tote_items_by_week[:tote_items]          
          delivery_date = week_start
          thumbnail_index = 0

          while delivery_date <= week_end
        %>

            <%= link_to '#', class: "black" do %>
              <div class="thumbnail horizontal-scroller" style="position: relative;">        
                <div class="text-right" style="padding-bottom: 10px; padding-right: 2px;<%= delivery_date == Time.zone.now.midnight ? "background-color: lightgray;" : "" %>">
                  <%= "#{delivery_date.strftime("%a, %b")} #{delivery_date.day.ordinalize}" %>
                </div>
                <% tote_items_for_date = tote_items.where("postings.delivery_date = ?", delivery_date) %>
                <% if tote_items_for_date.any? %>
                  <ul>
                    <%
                    max_count = 8
                    count = 0                  
                    tote_items_for_date.each do |tote_item|
                    %>
                      <%
                      if count > max_count
                        next
                      end
                      %>
                      <% if tote_item == @first_future_item %>
                        <span id="firstFutureItemThumbnailIndex" data-thumbnailindex="<%= thumbnail_index %>"></span>
                      <% end %>
                      <li>
                        <%= tote_item.posting.product.name %>
                        <% if tote_item.additional_units_required_to_fill_my_case > 0 || tote_item.posting.biggest_order_minimum_producer_net_outstanding > 0 %>
                          <span class="gentle-flash alert-danger glyphicon glyphicon-exclamation-sign"></span>
                        <% end %>
                      </li>
                      <% if count == max_count %>
                        <li><%= link_to "See more", '#' %></li>
                      <% end %>
                    <%
                      count += 1
                    end
                    %>              
                  </ul>            
                <% end %>

                <% if delivery_date == week_end.midnight %>
                  <div class="text-center">
                    <div class="alert alert-danger" style="position: absolute; bottom: 0;"><%= "Pickup by #{week_end.strftime("%l%p")}" %></div>
                  </div>
                <% end %>

              </div>
            <% end %>            

            <%
            thumbnail_index += 1
            delivery_date = week_start + thumbnail_index.days
            %>

          <% end %>

          <br>              

        <% end %>
      </div>
    </div>
  </div>
<% else %>
  
<% end %>