<h1>Orders Calendar</h1>

<% if @first_future_item %>

  <div class="row">
    <div class="col-xs-12">
      <div class="nice-note text-center"><span>Pickup <u>any</u> day you like!</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center small" style="padding-bottom: 20px;"><span><%= "(just note the #{current_user.dropsite.next_food_clearout.strftime("%A %l%p")} deadline)" %></span></div>
    </div>
  </div>  

  <div class="row">
    <div class="col-xs-12">
      <div id="calendar" style="white-space: nowrap; overflow: auto;">
        <%
        @tote_items_by_week.each do |tote_items_by_week|
          week_start = tote_items_by_week[:start]
          week_end = tote_items_by_week[:end]
          tote_items = tote_items_by_week[:tote_items]          
          delivery_date = week_start
          thumbnail_index = 0

          while delivery_date <= week_end
        %>
 
            <%
            tote_items_for_date = tote_items.where("postings.delivery_date = ?", delivery_date)
            order_deficiencies = order_deficiencies?(tote_items_for_date)
            %>
            <%= link_to tote_items_path(orders: delivery_date.to_s), class: "black" do %>
              <div class="thumbnail horizontal-scroller <%= tote_items_for_date.any? ? "calendar-delivery-day" : "" %>">
                <div class="<%= delivery_date == Time.zone.now.midnight ? "calendar-delivery-day-header-today" : "calendar-delivery-day-header" %>">
                  <% if order_deficiencies %>
                    <span class="gentle-flash alert-danger glyphicon glyphicon-exclamation-sign pull-left" style="padding: 2px;"></span>
                  <% end %>
                  <%= "#{delivery_date.strftime("%a, %b")} #{delivery_date.day.ordinalize}" %>
                </div>                
                <% if tote_items_for_date.any? %>
                  <div>
                    <%
                    max_count = 8
                    count = 0                  
                    tote_items_for_date.each do |tote_item|
                    %>
                      <%
                      if count > max_count
                        next
                      end
                      %>
                      <% if tote_item == @first_future_item %>
                        <span id="firstFutureItemThumbnailIndex" data-thumbnailindex="<%= thumbnail_index %>"></span>
                      <% end %>
                      <div class="truncated-text-line-no-expand">
                        <%= tote_item.short_friendly_description %>
                      </div>
                      <% if count == max_count %>
                        <div style="padding-top: 10px; text-align: center;">More...</div>
                      <% end %>
                    <%
                      count += 1
                    end
                    %>              
                  </div>
                <% end %>

                <% if delivery_date == week_end.midnight %>                  
                    <div class="alert-danger calendar-pickup-deadline"><%= "Pickup by #{week_end.strftime("%l%p")}" %></div>
                <% end %>

              </div>
            <% end %>            

            <%
            thumbnail_index += 1
            delivery_date = week_start + thumbnail_index.days
            %>

          <% end %>

          <br>              

        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">You have zero future deliveries scheduled.</div>
    </div>
  </div>

  <!--if there are no future items but there are items, that means there are only past items. if there are past items that means there's viewable content in 'ready for pickup'-->
  <% if @tote_items_by_week.any? %>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="text-center">
        But you do have items <%= link_to "ready for pickup", pickup_path %>.
      </div>
    </div>
  </div>  
  <% end %>
<% end %>