<% if @posting.food_category %>
  <%= render partial: 'postings/nav_trinket', locals: { food_category: @posting.food_category, include_self: true, posting: @posting } %>
<% end %>

<h1>How Often?</h1>

<% if @display_vanilla_just_once_option %>
  <div class="row">
    <div class="col-xs-10 col-sm-offset-4 col-sm-5">
      <div>
        <%= form_tag tote_items_path do %>
          <%= hidden_field_tag :frequency, @subscription_create_options[0][:subscription_frequency] %>
          <%= hidden_field_tag :quantity, @quantity %>
          <%= hidden_field_tag :posting_id, @posting.id %>
          <%= submit_tag @subscription_create_options[0][:text], class: "btn btn-primary outline btn-lg" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-2 col-sm-1">
      <span data-toggle="collapse" data-target="#justOnceInfo">
        <div>
          <span class="alert-info glyphicon glyphicon-info-sign spin-continuously"></span>
        </div>
        <div>
          <span id="justOnceInfoChevron" class="glyphicon glyphicon-chevron-down"></span>
        </div>
      </span>    
    </div>
  </div>
  <div id="justOnceInfo" class="row collapse" data-chevron="#justOnceInfoChevron">
    <div class="col-xs-10 col-sm-offset-4 col-sm-5">    
      <span>This places an order for delivery on <%= @posting.delivery_date.strftime("%A %b %d") %>. If it does not fill on that date this order will automatically be canceled.</span>    
    </div>
  </div>
  <div class="fat-finger-spacing">
  </div>
<% end %>




<div class="row">
  <div class="col-xs-10 col-sm-offset-4 col-sm-5">
    <div>
      <%= form_tag subscriptions_path do %>
        <%= hidden_field_tag :frequency, @subscription_create_options[0][:subscription_frequency] %>
        <%= hidden_field_tag :quantity, @quantity %>
        <%= hidden_field_tag :posting_id, @posting.id %>
        <%= hidden_field_tag :roll_until_filled, true %>
        <%= submit_tag @subscription_create_options[0][:text] + " (roll until filled)", class: "btn btn-primary outline btn-lg" %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-2 col-sm-1">
    <span data-toggle="collapse" data-target="#justOnceRTFInfo">
      <div>
        <span class="alert-info glyphicon glyphicon-info-sign spin-continuously"></span>
      </div>
      <div>
        <span id="justOnceRTFInfoChevron" class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </span>    
  </div>
</div>
<div id="justOnceRTFInfo" class="row collapse" data-chevron="#justOnceRTFInfoChevron">
  <div class="col-xs-10 col-sm-offset-4 col-sm-5">    
    <span>This places an order for delivery on <%= @posting.delivery_date.strftime("%A %b %d") %>. If it does not fill on that date we will keep rolling the order to the next delivery date until it fills.</span>
  </div>
</div>
<div class="fat-finger-spacing">
</div>


<%
  count = 1
  while count < @subscription_create_options.count
    subscription_create_option = @subscription_create_options[count]
%>

  <div class="row">
    <div class="col-xs-10 col-sm-offset-4 col-sm-5 fat-finger-spacing">
      <%= form_tag subscriptions_path do %>
        <%= hidden_field_tag :frequency, subscription_create_option[:subscription_frequency] %>
        <%= hidden_field_tag :quantity, @quantity %>
        <%= hidden_field_tag :posting_id, @posting.id %>        
        <%= submit_tag subscription_create_option[:text], class: "btn btn-primary outline btn-lg" %>
      <% end %>                  
    </div>
  </div>

<%
  count += 1
  end
%>