<h1>ToteItems#index</h1>
<p>Find me in app/views/tote_items/index.html.erb</p>

<% @tote_items = ToteItem.includes(posting: [:user, :product]).where(user_id: current_user.id) %>

<% if @tote_items != nil && @tote_items.any? %>
  <% total = 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>>        
        <th>Producer</th>
        <th>Posting</th>        
        <th>Price per Unit</th>>        
        <th>Quantity</th>>
        <th>Cost</th>>     
      </tr>
    </thead>
    <tbody>
      <% @tote_items.each do |tote_item| %>
        <% cost = tote_item.price * tote_item.quantity %>
        <tr>
          <td><%= tote_item.posting.product.name %></td>
          <td><%= tote_item.posting.user.farm_name %></td>
          <td><%= link_to "view", new_tote_item_path(posting_id: tote_item.posting_id) %></td>
          <td><%= tote_item.price %></td>
          <td><%= tote_item.quantity %></td>
          <td><%= cost %></td>
        </tr>
        <% total += cost %>
      <% end %>
    </tbody>
  </table>
  <div>
    <p>TOTAL: $<%= total %></p>
  </div>
<% end %>

<% if false %>
	<% @tote_items.each do |ti| %>
	  <p><%= ti.posting.user.farm_name %></p>
	<% end %>
<% end %>