<h1>Shopping Tote</h1>

<% if logged_in? %>

  <% show_remove_button = true %>
  <%= render partial: "shared/tote", locals: { tote_items: @tote_items, show_remove_button: show_remove_button, subscriptions: @subscriptions } %>  

  <% action = "Checkout" %>

  <% if @total_amount_to_authorize > 0 %>
        
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <h2><%= action %></h2>
        <table class="table">
          <tbody>          
            <tr>
              <td>Total: <%= number_to_currency(@total_amount_to_authorize) %></td>
            </tr>
          </tbody>
        </table>                  
      </div>
    </div>

    <div class="row">
    
      <div class="col-xs-3 col-sm-1 col-sm-offset-1">
        <span><%= image_tag "https://www.paypalobjects.com/en_US/i/btn/x-click-but02.gif" %></span>
      </div>

      <% one_click = "One-click checkout" %>
      <% guest = "Guest checkout" %>

      <div class="col-xs-9 col-sm-4">
      
        <% if @rtba %>

          <div class="fat-finger-spacing">
            <%= form_tag rtauthorizations_create_path do %>
              <%= hidden_field_tag(:token, @rtba.token) %>
              <%= submit_tag one_click, class: 'btn btn-lg btn-primary', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>
            <% end %>
          </div>

        <% else %>

          <div class="fat-finger-spacing">
            <%= form_tag(checkouts_path) do %>
              <%= hidden_field_tag(:amount, @total_amount_to_authorize) %>                        
              <%= hidden_field_tag(:use_reference_transaction, "1") %>
              <%= submit_tag one_click, class: 'btn btn-lg btn-primary', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>                        
            <% end %>
          </div>

          <% if @subscriptions.nil? || !@subscriptions.any? %>

            <div class="fat-finger-spacing">            
              <%= form_tag(checkouts_path) do %>
                <%= hidden_field_tag(:amount, @total_amount_to_authorize) %>                        
                <%= hidden_field_tag(:use_reference_transaction, "0") %>
                <%= submit_tag "Guest checkout", class: 'btn btn-lg btn-primary', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>                        
              <% end %>                            
            </div>

          <% end %>          
        <% end %>
      </div>
      
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">

        <% if @dropsite.nil? %>
          <p class="alert alert-danger">No delivery dropsite specified.</p>
          <p>You must specify a <%= link_to "delivery dropsite", dropsites_path %> before checking out.</p>
        <% else %>
          <p class="small">(By proceeding with <%= action.downcase %> you agree to transact with and through Farmer's Cellar in accordance with our operational policies and procedures outlined on our <%= link_to "How Things Work", how_things_work_path %> page)</p>
        <% end %>

      </div>
    </div>
  <% end %>

  <% if tote_has_items(@tote_items) %>

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <h2>Delivery Dropsite</h2>
        <% if @dropsite.nil? %>
          <p class="alert alert-danger">No delivery dropsite specified.</p>
          <p>Please specify a <%= link_to "delivery dropsite", dropsites_path %>.</p>
        <% else %>
          <p>Products in this order will be delivered to <%= link_to @dropsite.name, dropsite_path(@dropsite) %>.</p>
          <% if Dropsite.count > 1 %>
            <p><%= link_to "Select different delivery dropsite", dropsites_path %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if @subscriptions && @subscriptions.any? %>
      <p>You have active subscriptions but your tote is otherwise empty.</p>
      <div><%= link_to "manage subscriptions", subscriptions_path, class: "fat-finger-spacing" %></div>
    <% else %>
      <p>Your shopping tote is empty so there is nothing to view here. You need to <%= link_to "add some items to your tote", postings_path %>, then you will see them listed here.</p>
    <% end %>    
  <% end %>

<% else %>
  <p>Sorry, you need to log in before you can view the contents of your tote</p>
<% end %>