<h1>Shopping Tote</h1>

<% if logged_in? %>

  <%= render partial: "shared/tote", locals: { tote_items: @tote_items } %>
  


  <% if @total_amount_to_authorize > 0 %>
    <h2>Checkout</h2>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-right-8">
        <table class="table">
          <tbody>          
            <tr>
              <td>Total: <%= number_to_currency(@total_amount_to_authorize) %></td>
            </tr>
          </tbody>
        </table>                  



        <%= form_tag(checkouts_path) do %>

          <% if @provide_guest_checkout_option %> 

          

            <% if SHOWSUBSCRIPTIONSTUFF %>

              <div class="text-center">
                <div class="btn-group" data-toggle="buttons">
                  <%= label_tag :use_reference_transaction, class: "btn btn-default active" do %>
                    <%= radio_button_tag :use_reference_transaction, "1", checked: true %>
                    <span>Setup one-click checkout</span>
                  <% end %>
                  <%= label_tag :use_reference_transaction, class: "btn btn-default" do %>
                    <%= radio_button_tag :use_reference_transaction, "0" %>
                    <span>Use guest checkout</span>
                  <% end %>
                </div>
              </div>          

            <% else %>
              <%= hidden_field_tag(:use_reference_transaction, "0") %>
            <% end %>





          <% else %>
              <%= hidden_field_tag(:use_reference_transaction, "1") %>
          <% end %>

          <%= hidden_field_tag(:amount, @total_amount_to_authorize) %>





          
          <%= image_tag "https://www.paypalobjects.com/en_US/i/btn/x-click-but02.gif" %>
          <%= submit_tag "Checkout", class: 'btn btn-lg btn-primary', id: "paypal-button", disabled: @dropsite.nil? %>
          





          
        <% end %>

        <% if @dropsite.nil? %>
          <p class="alert alert-danger">No delivery dropsite specified.</p>
          <p>You must specify a <%= link_to "delivery dropsite", dropsites_path %> before checking out.</p>
        <% end %>

        <p>(By proceeding with checkout you agree to transact with and through Farmer's Cellar in accordance with our operational policies and procedures outlined on our <%= link_to "How Things Work", how_things_work_path %> page)</p>




      </div>
    </div>

  <% end %>





  <% if tote_has_items(@tote_items) %>


    <h2>Delivery Dropsite</h2>
    <% if @dropsite.nil? %>
      <p class="alert alert-danger">No delivery dropsite specified.</p>
      <p>Please specify a <%= link_to "delivery dropsite", dropsites_path %>.</p>
    <% else %>
      <p>Products in this order will be delivered to <%= link_to @dropsite.name, dropsite_path(@dropsite) %>.</p>
      <% if Dropsite.count > 1 %>
        <p><%= link_to "Select different delivery dropsite", dropsites_path %></p>
      <% end %>
    <% end %>



  <% else %>
    <p>Your shopping tote is empty so there is nothing to view here. You need to <%= link_to "add some items to your tote", postings_path %>, then you will see them listed here.</p>
  <% end %>


<% else %>
  <p>Sorry, you need to log in before you can view the contents of your tote</p>
<% end %>