<h2 id="toteAdditionHeading" class="text-center">Add to Tote</h2>

<% posting = nil %>
<% if params[:posting_id] != nil %>
  <% posting = Posting.find_by(id: params[:posting_id]) %>
<% end %>
<% if !@tote_item.nil? && !(@tote_item.posting_id).nil? %>
  <% posting = Posting.find_by(id: @tote_item.posting_id) %>
<% end %>
  
<% if posting != nil %>
  <% unit_kind = UnitKind.find_by(id: posting.unit_kind_id) %>
  <% producer = User.find_by(id: posting.user_id) %>
  <% provide(:title, producer.farm_name) %>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if @account_on_hold %>
        <p class="text-center alert alert-danger alert-dismissable">
          Your account is on hold, most likely due to a positive balance on your account. Please <%= link_to "contact Farmer's Cellar", contact_path %> to pay your balance before continuing to shop.
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">





        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="detailsHeading">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailsBody" aria-expanded="false" aria-controls="detailsBody">
                Details
              </a>
            </h4>
          </div>          
          <div id="detailsBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="detailsHeading">
            <div class="panel-body">
              <h3>Order</h3>
                <ul>
                  <li><%= User.find_by(id: posting.user_id).farm_name %> <%= Product.find_by(id: posting.product_id).name %></li>
                  <li><%= number_to_currency(posting.price) %> / <%= UnitKind.find_by(id: posting.unit_kind_id).name %></li>                
                  <li>
                    <% data_content = "This is mostly like an 'order cutoff' but with " + link_to("some important differences", how_things_work_path(anchor: "commitment_zone")) + "." %>

                    <a href='#' class="popover_init" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="<%=data_content%>">Commitment Zone</a>

                    starts <%= posting.commitment_zone_start.strftime("%A, %B %-d, %l:%M %p") %>
                  </li>
                  <li>Delivery <%= posting.delivery_date.strftime("%A, %B %-d") %></li>
                </ul>
              <h3>Producer</h3>
              <p><%= posting.user.description %></p>
              <% if posting.user.website != nil %>
                <%= link_to posting.user.website, @sanitized_producer_url, target: "_blank" %>
              <% end %>
              <h3>Product</h3>
              <%= posting.description %>
              <p></p>              

            </div>
          </div>
        </div>





        <% if @subscription != nil && posting.posting_recurrence != nil %>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="subscribeHeading">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#subscribeBody" aria-expanded="false" aria-controls="subscribeBody">
                  Subscribe
                </a>
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
              </h4>
            </div>
            <div id="subscribeBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="subscribeHeading">
              <div class="panel-body">

                <div>
                  <%= label_tag :delivery_frequency %>
                  <%= select_tag :delivery_frequency, options_for_select(posting.posting_recurrence.subscription_options.collect { |o| [o[:text], o[:subscription_frequency]] }), {id: "frequency_dropdown", class: "form-control"} %>
                </div>

                <%= content_tag "div", id: "next_delivery_dates", data: {dates: posting.posting_recurrence.subscription_options.collect { |o| o[:next_delivery_date].strftime("%A, %B %-d") }} do %>
                  <%= label_tag :next_delivery %>
                  <p id="next_delivery_date"><%= posting.delivery_date.strftime("%A, %B %-d") %></p>
                <% end %>               

              </div>
            </div>
          </div>

        <% end %>










        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="quantityHeading">
            <h4 class="panel-title">
              <a role="button" data-parent="#accordion" href="#quantityBody" aria-expanded="true" aria-controls="quantityBody">
                Quantity
              </a>
            </h4>
          </div>
          <div id="quantityBody" class="panel-body" role="tabpanel" aria-labelledby="quantityHeading">            
            <table id="quantityTable" class="table">
              <thead></thead>                
              <tbody>
                <tr>
                  <td>
                    <%= form_for @tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                            
                      <%= f.number_field :quantity, value: 1, hidden: true %>
                      <%= f.number_field :price, value: posting.price, hidden: true %>
                      <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
                      <%= f.number_field :posting_id, value: posting.id, hidden: true %>
                      <%= f.number_field :user_id, value: current_user.id, hidden: true %>
                      <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

                      <%= f.submit "+1", class: "btn btn-primary", disabled: @account_on_hold %>
                    <% end %>
                  </td>

                  <td>
                    <%= form_for @tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                            
                      <%= f.number_field :quantity, value: 2, hidden: true %>
                      <%= f.number_field :price, value: posting.price, hidden: true %>
                      <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
                      <%= f.number_field :posting_id, value: posting.id, hidden: true %>
                      <%= f.number_field :user_id, value: current_user.id, hidden: true %>
                      <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

                      <%= f.submit "+2", class: "btn btn-primary", disabled: @account_on_hold %>
                    <% end %>
                  </td>

                  <td>
                    <%= form_for @tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                            
                      <%= f.number_field :quantity, value: 3, hidden: true %>
                      <%= f.number_field :price, value: posting.price, hidden: true %>
                      <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
                      <%= f.number_field :posting_id, value: posting.id, hidden: true %>
                      <%= f.number_field :user_id, value: current_user.id, hidden: true %>
                      <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

                      <%= f.submit "+3", class: "btn btn-primary", disabled: @account_on_hold %>
                    <% end %>
                  </td>

                  <td>
                    <%= form_for @tote_item, html: {class: "tote_addition_one_button_form"} do |f| %>
                                            
                      <%= f.number_field :quantity, value: 4, hidden: true %>
                      <%= f.number_field :price, value: posting.price, hidden: true %>
                      <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
                      <%= f.number_field :posting_id, value: posting.id, hidden: true %>
                      <%= f.number_field :user_id, value: current_user.id, hidden: true %>
                      <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

                      <%= f.submit "+4", class: "btn btn-primary", disabled: @account_on_hold %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>

            <div id="customQuantityFormDiv">

              <%= form_for @tote_item do |f| %>
                <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
                <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @subscription } %>
                
                <%= f.number_field :quantity, class: "form-control", placeholder: "Enter custom quantity" %>
                <%= f.number_field :price, value: posting.price, hidden: true %>
                <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
                <%= f.number_field :posting_id, value: posting.id, hidden: true %>
                <%= f.number_field :user_id, value: current_user.id, hidden: true %>
                <%= f.number_field :subscription_frequency, value: 0, class: "subscription_frequency", hidden: true %>

                <%= f.submit "Add to Tote", class: "btn btn-primary", disabled: @account_on_hold %>
              <% end %>

            </div>
                        
          </div>
        </div>    
















      </div>
    </div>
  </div>
<% end %>