<h2 id="toteAdditionHeading" class="text-center">Add to Tote</h2>
  
<% if @posting != nil %>
  <% unit = Unit.find_by(id: @posting.unit_id) %>
  <% producer = User.find_by(id: @posting.user_id) %>
  <% provide(:title, producer.farm_name) %>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if @account_on_hold %>
        <p class="text-center alert alert-danger alert-dismissable">
          Your account is on hold, most likely due to a positive balance on your account. Please <%= link_to "contact Farmer's Cellar", contact_path %> to pay your balance before continuing to shop.
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">







        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="overviewHeading">
            <h4 class="panel-title">Overview</h4>
          </div>
          <div id="overviewBody" class="panel-body" role="tabpanel" aria-labelledby="overviewHeading">
            

            <ul class="list-group">
              <li class="list-group-item"><%= User.find_by(id: @posting.user_id).farm_name %> <%= Product.find_by(id: @posting.product_id).name %></li>              
              <% if @posting.description %>
                <li class="list-group-item"><%= @posting.description %></li>
              <% end %>              
              <li class="list-group-item">
                <%= number_to_currency(@posting.price) %> / <%= Unit.find_by(id: @posting.unit_id).name %>
                <% if @posting.unit_body || @posting.price_body %>
                  <ul>
                    <% if @posting.unit_body %>
                      <li><%= @posting.unit_body %></li>
                    <% end %>
                    <% if @posting.price_body %>
                      <li><%= @posting.price_body %></li>
                    <% end %>
                  </ul>
              <% end %>
              </li>              
              <li class="list-group-item"><%= "#{@posting.user.city}, #{@posting.user.state}"  %></li>              
              <li class="list-group-item">Delivery <%= @posting.delivery_date.strftime("%A, %B %-d") %></li>
              <li class="list-group-item">
                <div
                  class="fb-like"             
                  data-href=<%= new_tote_item_url(posting_id: @posting.id) %>
                  data-share="true"
                  data-width="200"
                  data-size="large"
                  data-show-faces="true">
                </div>
              </li>
            </ul>
            
                        
          </div>
        </div>    






        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="detailsHeading">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#detailsBody" aria-expanded="false" aria-controls="detailsBody">
                <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Details
              </a>
            </h4>
          </div>          
          <div id="detailsBody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="detailsHeading">
            <div class="panel-body">
              <h3>Order</h3>
              <ul class="list-group">                                
                <li class="list-group-item">
                  <%= link_to "Order Cutoff", how_things_work_path(anchor: "cutoff") %>: <%= @posting.order_cutoff.strftime("%A, %B %-d, %l:%M %p") %>                  
                </li>
              </ul>

              <h3>Producer</h3>
              <ul class="list-group">
                <% if !@posting.user.website.blank? %>
                  <li class="list-group-item">Website: <a href=<%= "#{@posting.user.website}" %> target='_blank'><%= @posting.user.website %></a></li>              
                <% end %>   
                <% if @posting.user.description != nil %>                       
                  <li class="list-group-item"><%= @posting.user.description %></li>
                <% end %>
              </ul>

              <h3>Product</h3>
              <ul class="list-group">
                <% if !@posting.description_body.blank? %>
                  <li class="list-group-item"><%= @posting.description_body %></a></li>              
                <% end %>                   
              </ul>      

            </div>
          </div>
        </div>










        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="quantityHeading">
            <h4 class="panel-title">Quantity</h4>
          </div>
          <div id="quantityBody" class="panel-body" role="tabpanel" aria-labelledby="quantityHeading">
            <%= render partial: "add_quantity", locals: { tote_item: @tote_item, posting: @posting, account_on_hold: @account_on_hold } %>
          </div>
        </div>            


















      </div>
    </div>
  </div>
<% end %>