<h1>Add to Tote</h1>
  
<% if @posting != nil %>
  <% unit = Unit.find_by(id: @posting.unit_id) %>
  <% producer = User.find_by(id: @posting.user_id) %>
  <% provide(:title, producer.farm_name) %>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if @account_on_hold %>
        <p class="text-center alert alert-danger alert-dismissable">
          Your account is on hold, most likely due to a positive balance on your account. Please <%= link_to "contact Farmer's Cellar", contact_path %> to pay your balance before continuing to shop.
        </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="panel-group" id="accordion">


        <div class="panel panel-default">
          <div class="anchor panel-heading">
            <h4 class="panel-title">
              <div class="clearfix">
                <span data-toggle="collapse" data-parent="#accordion" data-target="#producerDescriptionBody">
                  <%= User.find_by(id: @posting.user_id).farm_name %> <%= Product.find_by(id: @posting.product_id).name %><span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </span>
              </div>
            </h4>
          </div>
          <div id="producerDescriptionBody" class="panel-collapse collapse">
            <div class="panel-body">              
              <ul>
                <li><%= "#{@posting.user.city}, #{@posting.user.state}"  %></li>
                <% if @posting.user.website %>
                  <li>
                    <a href=<%= "#{@posting.user.website}" %> target='_blank'><%= @posting.user.website %></a>
                  </li>
                <% end %>
              </ul>                

              <% if @posting.user.description %>
                <div>
                  <%= @posting.user.description %>
                </div>
              <% end %>
                                         
            </div>
          </div>
        </div>




        <div class="panel panel-default">
          <div class="anchor panel-heading">
            <h4 class="panel-title">
              <% if @posting.description_body %>
                <div class="clearfix">                
                  <span data-toggle="collapse" data-parent="#accordion" data-target="#descriptionBody">
                    <%= @posting.description %><span class="glyphicon glyphicon-chevron-up pull-right"></span>
                  </span>
                </div>
              <% else %>
                <span><%= @posting.description %></span>
              <% end %>
            </h4>
          </div>
          <% if @posting.description_body %>
            <div id="descriptionBody" class="panel-collapse collapse">
              <div class="panel-body">    
                <%= @posting.description_body %>              
              </div>
            </div>
          <% end %>
        </div>





        <div class="panel panel-default">
          <div class="anchor panel-heading">
            <h4 class="panel-title">
              <% if @posting.unit_body || @posting.price_body %>
                <div class="clearfix">
                  <span data-toggle="collapse" data-parent="#accordion" data-target="#priceOrUnitBody">
                    <%= number_to_currency(@posting.price) %> / <%= Unit.find_by(id: @posting.unit_id).name %><span class="glyphicon glyphicon-chevron-up pull-right"></span>
                  </span>
                </div>
              <% else %>
                <span><%= number_to_currency(@posting.price) %> / <%= Unit.find_by(id: @posting.unit_id).name %></span>
              <% end %>
            </h4>
          </div>
          <% if @posting.unit_body || @posting.price_body %>
            <div id="priceOrUnitBody" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <% if @posting.unit_body %>
                    <li><%= @posting.unit_body %></li>
                  <% end %>
                  <% if @posting.price_body %>
                    <li><%= @posting.price_body %></li>
                  <% end %>
                </ul>                
              </div>
            </div>
          <% end %>
        </div>





        <div class="panel panel-default">
          <div class="anchor panel-heading" id="heading">
            <h4 class="panel-title">
              <div class="clearfix">
                <span data-toggle="collapse" data-parent="#accordion" data-target="#orderCutoff">
                  Delivery <%= @posting.delivery_date.strftime("%A, %B %-d") %><span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </span>
              </div>
            </h4>
          </div>
          <div id="orderCutoff" class="panel-collapse collapse">
            <div class="panel-body">                            
              <%= link_to "Order Cutoff", how_things_work_path(anchor: "cutoff") %>: <%= @posting.order_cutoff.strftime("%A, %B %-d, %l:%M %p") %>
            </div>
          </div>
        </div>






        <% if @posting.important_notes && !@posting.important_notes.empty? %>
          <div class="panel panel-default">
            <div class="anchor panel-heading" id="heading">
              <h4 class="panel-title">                
                
                <% if @posting.important_notes_body && !@posting.important_notes_body.empty? %>
                  <span data-toggle="collapse" data-parent="#accordion" data-target="#important-notes-body">
                  <div class="clearfix">
                    <span id="important-notes-info-glyph" class="alert-info glyphicon glyphicon-info-sign spin-continuously"></span>
                      <%= @posting.important_notes %><span class="glyphicon glyphicon-chevron-up pull-right"></span>
                    </span>
                  </div>
                <% else %>                    
                  <span id="important-notes-info-glyph" class="alert-info glyphicon glyphicon-info-sign spin-continuously"></span>
                  <span><%= @posting.important_notes %></span>
                <% end %>                
              </h4>
            </div>

            <% if @posting.important_notes && !@posting.important_notes.empty? && @posting.important_notes_body && !@posting.important_notes_body.empty? %>              
              <div id="important-notes-body" class="panel-collapse collapse">
                <div class="panel-body">
                  <p><%= @posting.important_notes_body %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>


        <% if @biggest_order_minimum_producer_net_outstanding && @biggest_order_minimum_producer_net_outstanding > 0 %>
          <div class="panel panel-default">
            <div class="anchor panel-heading">
              <h4 class="panel-title">                
                <div class="clearfix">
                  <span data-toggle="collapse" data-parent="#accordion" data-target="#unmetOrderMinBody">
                    <span id="important-notes-info-glyph" class="alert-danger glyphicon glyphicon-exclamation-sign spin-continuously"></span>
                    Unmet Order Minimum
                    <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                  </span>
                </div>
              </h4>
            </div>
            <div id="unmetOrderMinBody" class="panel-collapse collapse">
              <div class="panel-body">
                <p>This product is subject to a <%= link_to "Community Order Minimum", how_things_work_path(anchor: "order_minimums") %>. Currently the minimum is unmet. There is <%= number_to_currency(@biggest_order_minimum_producer_net_outstanding) %> more to go to meet the minimum.</p>
              </div>
            </div>
          </div>
        <% end %>







        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="quantityHeading">
            <h4 class="panel-title">Order Quantity</h4>
          </div>
          <div id="quantityBody" class="panel-body" role="tabpanel" aria-labelledby="quantityHeading">
            <%= render partial: "add_quantity", locals: { tote_item: @tote_item, posting: @posting, account_on_hold: @account_on_hold } %>
          </div>
        </div>            



      </div>
    </div>
  </div>
<% end %>