<h1>Add to Tote</h1>

<% posting = nil %>
<% if params[:posting_id] != nil %>
  <% posting = Posting.find_by(id: params[:posting_id]) %>
<% end %>
<% if !@tote_item.nil? && !(@tote_item.posting_id).nil? %>
  <% posting = Posting.find_by(id: @tote_item.posting_id) %>
<% end %>
  
<% if posting != nil %>
  <% unit_kind = UnitKind.find_by(id: posting.unit_kind_id) %>
  <% producer = User.find_by(id: posting.user_id) %>
  <% provide(:title, producer.farm_name) %>

  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <% if @account_on_hold %>
        <p class="text-center alert alert-danger alert-dismissable">
          Your account is on hold, most likely due to a positive balance on your account. Please <%= link_to "contact Farmer's Cellar", contact_path %> to pay your balance before continuing to shop.
        </p>
      <% end %>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">

<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" 
           href="#collapseOne" class="collapsed">
          <%= User.find_by(id: posting.user_id).farm_name %>
        </a>
      </h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body"><%= posting.user.description %></div>
        </div>
    </div>
    <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseTwo" 
           href="#collapseTwo" class="collapsed">
          <%= Product.find_by(id: posting.product_id).name %>
        </a>
      </h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <%= posting.description %>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
             <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseThree"
           href="#collapseThree" class="collapsed">
          Delivery Date
        </a>
      </h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              The delivery date is <%= posting.delivery_date.strftime("%a, %b %d") %>. The <%= link_to("Commitment Zone", how_things_work_path(anchor: "commitment_zone")) %>  for this posting starts <%= posting.commitment_zone_start.strftime("%a, %b %d, %I:%M%p") %>.
            </div>
        </div>
    </div>
</div>

  </div>
</div>

  <div class="row">

    <div class="col-md-4">
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 1, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+1", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 2, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+2", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 3, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+3", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 4, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+4", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-md-4">
    </div>

  </div>  

  <div class="row form_element_spacing">          

    <div class="col-md-4">
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 5, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+5", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 6, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+6", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 7, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+7", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-xs-3 col-md-1">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, value: 8, hidden: true %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "+8", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>

    <div class="col-md-4">
    </div>

  </div>     

  <div class="row form_element_spacing">          
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= form_for @tote_item, class: "form-inline" do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @tote_item } %>
        
        <%= f.number_field :quantity, class: "form-control", placeholder: "Or enter custom quantity here" %>
        <%= f.number_field :price, value: posting.price, hidden: true %>
        <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
        <%= f.number_field :posting_id, value: posting.id, hidden: true %>
        <%= f.number_field :user_id, value: current_user.id, hidden: true %>

        <%= f.submit "Add custom quantity", class: "btn btn-primary", disabled: @account_on_hold %>
      <% end %>
    </div>
  </div>  

<% end %>