<h1>Shopping Tote Addition</h1>
<% if params[:posting_id] != nil %>
  <% posting = Posting.find_by(id: params[:posting_id]) %>
  <% unit_kind = UnitKind.find_by(id: posting.unit_kind_id) %>
  <% if posting != nil %>
    <% producer = User.find_by(id: posting.user_id) %>
    <% provide(:title, producer.farm_name) %>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Producer</th>
        <th class="text-center">Product</th>
        <th class="text-center">Price</th>   
        <th class="text-center">Unit</th>        
      </tr>
    </thead>
    <tbody>
        <% farmInfo = "Producer has not provided info about their operation" %>
        <% if posting.user.description != nil %>
          <% farmInfo = "<u>Producer Description</u><p>" + posting.user.description %>
        <% end %>
        <% if !posting.user.website.blank? %>
          <% farmInfo = farmInfo + "<p>" + "<u>Producer Website</u><p><a href='" + posting.user.website + "' target='_blank'>" + posting.user.website + "</a>"%>
        <% end %>

        <tr>
          <td><a tabindex="0" class="btn btn-primary btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=farmInfo%>"><%= User.find_by(id: posting.user_id).farm_name %></a></td>          
          <td><a tabindex="0" class="btn btn-primary btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%= posting.description %>"><%= Product.find_by(id: posting.product_id).name %></a></td>
          <td class="text-center"><%= number_to_currency(posting.price) %></td>
          <td class="text-center"><%= UnitKind.find_by(id: posting.unit_kind_id).name %></td>          
        </tr>      
    </tbody>
  </table>  

    <div class="row">      
      <div class="productInfo col-md-4">        
      </div>       
      <div class="col-md-2 col-md-offset-1">
        <% disabled = current_user.account_states.last.state != AccountState.states[:OK] %>    
        <%= form_for @tote_item do |f| %>
          <%= f.label :quantity, "Quantity to add" %>
          <%= f.number_field :quantity, class: "form-control" %>
          <%= f.number_field :price, value: posting.price, hidden: true %>
          <%= f.number_field :status, value: ToteItem.states[:ADDED], hidden: true %>
          <%= f.number_field :posting_id, value: posting.id, hidden: true %>
          <%= f.number_field :user_id, value: current_user.id, hidden: true %>

          <%= f.submit "Add to shopping tote", class: "btn btn-primary", disabled: disabled %>
          <% if disabled %>
            <%= "your account is on hold, most likely due to a positive balance on your account. please pay your balance before continuing shopping." %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  $(function(){ $('.btn').popover(); });
</script>