<h1>ToteItem Filling</h1>

<% if @errors != nil %>
  <div>
    <% @errors.each do |error| %>
      <p>
        <%= error %>
      </p>
    <% end %>
  </div>
  <p></p>
<% end %>

<% if @tote_item == nil %>
  <p>Congrats! All done processing this delivery! :)</p>
<% else %>

<div class="row">
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-default">
  <div class="panel-heading">
    <p><h2>Primary Info</h2></p>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center"><h3>Quantity</h3></th>
          <th class="text-center"><h3>User ID</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><h3><%= @tote_item.quantity %></h3></td>
          <td class="text-center"><h3><%= @tote_item.user_id %></h3></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <p><h2>Secondary Info</h2></p>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Posting ID</th>
          <th class="text-center">Price</th>
          <th class="text-center">ToteItem ID</th>
          <th class="text-center">ToteItem Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center"><%= @tote_item.posting_id %></td>
          <td class="text-center"><%= number_to_currency(@tote_item.price) %></td>
          <td class="text-center"><%= @tote_item.id %></td>
          <td class="text-center"><%= @tote_item.status %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <%= form_for @tote_item, url: tote_items_next_path, method: "post" do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :posting_id %>
    <%= f.submit "Fill & Fetch", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="panel panel-default">
  <%= form_tag postings_no_more_product_path do %>
    <%= hidden_field_tag :posting_id, @tote_item.posting_id %>
    <%= submit_tag "No more product", class: "btn btn-primary", data: { confirm: "This will mark all remaining tote items in the queue as not filled. Are you sure you want to do this?" } %>
  <% end %>
</div>

<% end %>

</div>
</div>