<h1>Orders</h1>

<div class="text-center" style="margin-bottom: 20px;">
  <div data-toggle="collapse" data-target="#deliveryDateDetails">
    <span><%= "Scheduled for delivery #{friendly_date_text(@delivery_date)}" %></span>
    <span id="deliveryDateChevron" class="glyphicon glyphicon-chevron-down"></span>
  </div>
  <div id="deliveryDateDetails" class="collapse" data-chevron="#deliveryDateChevron">
    <%= link_to "Scheduled delivery dates", how_things_work_path(anchor: "scheduled_delivery_date") %> sometimes slide. Please follow the link to make sure you understand how this works.
  </div>
</div>

<% if @tote_items.any? %>


  <div class="row">
    <% @tote_items.each do |tote_item| %>
      <%
      additional_units_required_to_fill_my_case = tote_item.additional_units_required_to_fill_my_case
      biggest_order_minimum_producer_net_outstanding = tote_item.posting.biggest_order_minimum_producer_net_outstanding
      deficiency = additional_units_required_to_fill_my_case > 0 || biggest_order_minimum_producer_net_outstanding > 0
      if additional_units_required_to_fill_my_case > 0
        expected_fill_quantity = tote_item.expected_fill_quantity
      end
      %>

      <div class="col-xs-6 col-sm-3">

        <div class="thumbnail">

          <% authorized = tote_item.state?(:AUTHORIZED) %>
          <div>
            <span data-toggle="collapse" data-target="#toteItem<%= tote_item.id.to_s %>Details">
              <span id="toteItem<%= tote_item.id.to_s %>Chevron" class="glyphicon glyphicon-chevron-down"></span>

              <% if deficiency %>
                <span class="gentle-flash alert-danger glyphicon glyphicon-exclamation-sign"></span>
              <% end %>
            </span>

            <% if authorized %>
              <%= link_to "", tote_item_path(tote_item), class: "black glyphicon glyphicon-remove pull-right", method: :delete %>
            <% else #must be committed  %>              
              <span class="lightgray glyphicon glyphicon-remove pull-right" data-toggle="collapse" data-target="#toteItem<%= tote_item.id.to_s %>Details"></span>
            <% end %>
          </div>

          <div id="toteItem<%= tote_item.id.to_s %>Details" class="collapse" data-chevron="#toteItem<%= tote_item.id.to_s %>Chevron">
            <%
            oc = tote_item.posting.order_cutoff
            cutoff_time = "#{friendly_time(oc)} #{friendly_date_text(oc)}"
            %>
            <div class="<%= authorized ? "" : "alert alert-danger" %>">
              <div>
                <%= link_to "Cancel Deadline", how_things_work_path(anchor: "cancellation") %>
              </div>
              <div>                
                <%= cutoff_time %>                
              </div>
            </div>

          </div>


          <% if deficiency %>
            <div class="alert alert-danger">                
              <% if biggest_order_minimum_producer_net_outstanding > 0 %>                  
                Unmet <%= link_to "Club Order Minimum", how_things_work_path(anchor: "order_minimums") %>. Current shortfall is <%= number_to_currency(biggest_order_minimum_producer_net_outstanding) %>
              <% elsif additional_units_required_to_fill_my_case > 0 %>
                <% if expected_fill_quantity > 0 %>
                  <%= link_to "Item will partially fill", how_things_work_path(anchor: "case_constraints") %>. <%= expected_fill_quantity.to_s %> of your <%= tote_item.quantity.to_s %> units ordered will ship.
                <% else %>
                  <%= link_to "Case not full", how_things_work_path(anchor: "case_constraints") %>. Item won't ship. <%= additional_units_required_to_fill_my_case.to_s %> more units needed to fill case.
                <% end %>
              <% end %>
            </div>
          <% end %>


          <div class="quantity-delivered black">
            <%= "#{pluralize(tote_item.quantity, tote_item.posting.unit.name)}" %>
          </div>

          <%= link_to tote_item.posting do %>
           
            <% if tote_item.posting.uploads.count > 0 %>        
              <%= image_tag "#{tote_item.posting.uploads.first.file_name.square}", class: "img-responsive" %>
            <% elsif (upload = Upload.find_by(title: NOPRODUCTIMAGETITLE)) %>
              <%= image_tag upload.file_name.square, class: "img-responsive" %>
            <% end %>

            <div class="caption">
              <div class="truncated-text-line-no-expand producer-name-font">
                <%= tote_item.posting.user.farm_name %>
              </div>
              <div class="truncated-text-line-no-expand producer-name-font">
                <%= tote_item.posting.product.name %>
              </div>
              <div>
                <strong>Total <%= number_to_currency(get_gross_item(tote_item)) %></strong>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>


<% else %>
  <p class="text-center">Zilch.</p>
<% end %>