<h1>Order Info</h1>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">

    <% if !@back_link.nil? && !@back_link_text.nil? %>
      <%= link_to @back_link_text, @back_link, class: "fat-finger-spacing" %>
    <% end %>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <% if @tote_item.cancelable? %>
              <h4 class="panel-title">Attention</h4>
            <% else %>
              <h4 class="panel-title">For your information...</h4>
            <% end %>            
          </div>
          <div class="panel-body" role="tabpanel">

            <% if @additional_units_required_to_fill_my_case > 0 %>              

              <%
                if @tote_item.subscription
                  subscription_text = " for the next delivery"
                else
                  subscription_text = ""
                end
              %>

              <p class="alert alert-danger"><span class="alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <% if @will_partially_fill %>                
                  <span> Currently this order will only partially ship<%= subscription_text %></span>
                  <% fully = " fully" %>
                <% else %>
                  <span> Currently this order will not ship<%= subscription_text %></span>
                  <% fully = "" %>
                <% end %>              
              </p>

              <ul class="list-group">

                <li class="list-group-item">
                  <h5>Details</h5>
                  <ul>
                    <% if @will_partially_fill %>                    
                      <li><%= "Currently only #{@expected_fill_quantity.to_s} of the #{@tote_item.quantity.to_s} " %><%= "unit".pluralize(@additional_units_required_to_fill_my_case) + " ordered are set to ship" %></li>
                    <% end %>
                    <li>Reason: the case that your order will ship in<%= subscription_text %> is not yet full</li>
                    <% if @tote_item.cancelable? %>
                      <li><%= @additional_units_required_to_fill_my_case.to_s %> more <%= "unit".pluralize(@additional_units_required_to_fill_my_case) %> required to fill this case<%= subscription_text %></li>                    
                    <% end %>
                    <% if @tote_item.subscription %>
                      <li>This notice does not apply to subsequent deliveries</li>
                    <% end %>
                  </ul>
                </li>


                <% if @tote_item.cancelable? %>
                  <li class="list-group-item">
                    <h5>Resolution</h5>
                    <ul>
                      <li>Leave this order alone (other customer orders may fill this case, causing your order to<%= fully%> ship)</li>
                      <li>Order more yourself</li>
                      <li>Recruit community</li>                
                    </ul>
                  </li>
                <% end %>

              </ul>

            <% end %>

          </div>
        </div>


        <% if @tote_item.cancelable? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">Recruit Community</h4>
            </div>
            <div class="panel-body" role="tabpanel">

  						<div
  						  class="fb-like"						  
  				  		data-href=<%= new_tote_item_url(posting_id: @posting.id) %>
  				  		data-share="true"
  				  		data-width="200"
  				  		data-size="large"
  						  data-show-faces="true">
  						</div>
                          
            </div>
          </div>
        <% end %>



        <% if @tote_item.cancelable? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">Order more <%= User.find_by(id: @posting.user_id).farm_name %> <%= Product.find_by(id: @posting.product_id).name %></h4>
            </div>
            <div id="quantityBody" class="panel-body" role="tabpanel">
            	<%= render partial: "add_quantity", locals: { tote_item: ToteItem.new, posting: @posting, account_on_hold: @account_on_hold } %>                        
            </div>
          </div>
        <% end %>


    </div>
	</div>
</div>