<h1>Order Info</h1>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">

    <% if !@back_link.nil? && !@back_link_text.nil? %>
      <%= link_to @back_link_text, @back_link, class: "fat-finger-spacing" %>
    <% end %>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <% if @tote_item.cancelable? %>
              <h4 class="panel-title">Attention</h4>
            <% else %>
              <h4 class="panel-title">For your information...</h4>
            <% end %>            
          </div>
          <div class="panel-body" role="tabpanel">

            

            <%
              if @tote_item.subscription
                subscription_text = " for the next delivery"
              else
                subscription_text = ""
              end
            %>

            <p class="alert alert-danger"><span class="alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

              <% if @will_partially_fill %>                
                <span> Currently this item will only partially ship<%= subscription_text %></span>
                <% fully = " fully" %>
              <% else %>
                <span> Currently this item will not ship<%= subscription_text %></span>
                <% fully = "" %>
              <% end %>              
            </p>

            <ul class="list-group">

              <li class="list-group-item">
                <h5>Details</h5>
                <ul>

                  <% if @additional_units_required_to_fill_my_case > 0 %>

                    <% if @will_partially_fill %>                    
                      <li><%= "Currently only #{@expected_fill_quantity.to_s} of the #{@tote_item.quantity.to_s} " %><%= "unit".pluralize(@additional_units_required_to_fill_my_case) + " ordered are set to ship" %></li>
                    <% end %>
                    <li>Reason: the case that your order will ship in<%= subscription_text %> is not yet full</li>
                    <% if @tote_item.cancelable? %>
                      <li><%= @additional_units_required_to_fill_my_case.to_s %> more <%= "unit".pluralize(@additional_units_required_to_fill_my_case) %> required to fill this case<%= subscription_text %></li>                    
                    <% end %>

                  <% elsif @biggest_order_minimum_producer_net_outstanding > 0 %>

                    <li><%= link_to "Club Order Minimum", how_things_work_path(anchor: "order_minimums") %> unmet</li>
                    <li><%= number_to_currency(@biggest_order_minimum_producer_net_outstanding) %> more required</li>

                  <% end %>

                  <% if @tote_item.subscription %>
                    <li>This notice does not apply to subsequent deliveries</li>
                  <% end %>

                </ul>
              </li>


              <% if @tote_item.cancelable? %>
                <li class="list-group-item">
                  <h5>Resolution options</h5>
                  <ul>
                    <li>
                      <span data-toggle="collapse" data-target="#doNothingExplanation">
                        Leave this order alone<span id="doNothingExplanationChevron" class="glyphicon glyphicon-chevron-down pull-right"></span>
                      </span>
                      <div id="doNothingExplanation" class="panel-collapse collapse" data-chevron="#doNothingExplanationChevron">

                        <%
                          if @additional_units_required_to_fill_my_case > 0
                            do_nothing_text = "Other customer orders may fill this case, causing your order to#{fully} ship."
                          elsif @biggest_order_minimum_producer_net_outstanding > 0
                            do_nothing_text = "Other customer orders may increase total ordered amount above the minimum, causing your order to ship."
                          end
                        %>

                        <p><%= do_nothing_text %></p>

                      </div>                      
                    </li>
                    <li>Order more yourself</li>
                    <li>Recruit community</li>                
                  </ul>
                </li>
              <% end %>

            </ul>

            

          </div>
        </div>


        <% if @tote_item.cancelable? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">Recruit Community</h4>
            </div>
            <div class="panel-body" role="tabpanel">

  						<div
  						  class="fb-like"						  
  				  		data-href=<%= posting_url(@posting) %>
  				  		data-share="true"
  				  		data-width="200"
  				  		data-size="large"
  						  data-show-faces="true">
  						</div>
                          
            </div>
          </div>
        <% end %>



        <% if @tote_item.cancelable? %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">Order more <%= User.find_by(id: @posting.user_id).farm_name %> <%= Product.find_by(id: @posting.product_id).name %></h4>
            </div>
            <div id="quantityBody" class="panel-body" role="tabpanel">
            	<%= render partial: "postings/add_quantity", locals: {posting: @posting} %>
            </div>
          </div>
        <% end %>


    </div>
	</div>
</div>