<h1>Tote</h1>

<% if tote_has_stuff?(current_user) %>


  <% if @subscriptions && @subscriptions.any? %>
    <h2>Subscriptions</h2>
    <hr class="section-divider">

    
    <div class="row gutter-10">
      <div class="col-xs-offset-9 col-xs-3">
        <div class="text-center"><strong>Total*</strong></div>
      </div>
    </div>


    <% @subscriptions.each do |subscription| %>
      <div class="row gutter-10 toteRowPadding">
        <div class="col-xs-9">
          <div class="truncated-text-line" data-toggle="collapse" data-target="#subscriptionSeePosting<%= subscription.id.to_s %>">
            <span id="subscriptionChevron<%= subscription.id.to_s %>" class="glyphicon glyphicon-chevron-down"> </span>
            <%= "#{subscription.latest_delivery_date_item.friendly_description} delivered #{subscription.friendly_frequency.downcase}" %>
          </div>

          <div id="subscriptionSeePosting<%= subscription.id.to_s %>" class="collapse" data-chevron="#subscriptionChevron<%= subscription.id.to_s %>">
            <%= link_to "View posting", posting_path(subscription.posting_recurrence.current_posting), class: "btn btn-lg btn-primary outline" %>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="text-center">
            <%= number_to_currency(subscription.sub_total_per_delivery) %>
            <%= link_to "", subscription_path(subscription, subscription: {on: 0}), method: :patch, class: "non-blue glyphicon glyphicon-remove pull-right", style: "margin-top: 2px;" %>
          </div>
        </div>

        
      </div>      
    <% end %>

    <div class="row gutter-10">
      <div class="col-xs-offset-8 col-xs-4 col-sm-offset-9 col-sm-3">
        <div class="text-center">*each delivery</div>
      </div>
    </div>


  <% end %>



  <% if @tote_items && @tote_items.any? %>

    <h2>Items</h2>
    <hr class="section-divider">

    <div class="row gutter-10">
      <div class="col-xs-offset-9 col-xs-3">
        <div class="text-center"><strong>Total</strong></div>
      </div>
    </div>

    <% @tote_items.each do |tote_item| %>

      <div class="row gutter-10 toteRowPadding">
        <div class="col-xs-9">
          <div class="text-left truncated-text-line" data-toggle="collapse" data-target="#see-posting<%= tote_item.posting.id.to_s %>">
            <span id="toteitemChevron<%= tote_item.posting.id.to_s %>" class="glyphicon glyphicon-chevron-down"> </span>
            <span><%= tote_item.friendly_description %></span>
          </div>
          <div id="see-posting<%= tote_item.posting.id.to_s %>" class="collapse" data-chevron="#toteitemChevron<%= tote_item.posting.id.to_s %>">
            <%= link_to "View posting", posting_path(tote_item.posting), class: "btn btn-lg btn-primary outline" %>              
          </div>
        </div>
        <div class="col-xs-3">
          <div class="text-center">
            <%= number_to_currency(get_gross_item(tote_item)) %>
            <%= link_to "", tote_item, class: "non-blue glyphicon glyphicon-remove pull-right", method: :delete, style: "margin-top: 2px;" %>
          </div>
        </div>
      </div>

    <% end %>

    <div id="orderTotal">
      Total: <%= number_to_currency(@items_total_gross) %>
    </div>



  <% end %>




  <% content_for :action do %>
    <% one_click = "One-click checkout" %>
    <% if @rtba %>

      <div>
        <%= form_tag rtauthorizations_create_path do %>
          <%= hidden_field_tag(:token, @rtba.token) %>
          <%= submit_tag one_click, class: 'btn btn-lg btn-primary outline', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>
        <% end %>
      </div>

    <% else %>

      <div class="fat-finger-spacing">
        <%= form_tag(checkouts_path) do %>
          <%= hidden_field_tag(:amount, @items_total_gross) %>                        
          <%= hidden_field_tag(:use_reference_transaction, "1") %>
          <%= submit_tag one_click, class: 'btn btn-lg btn-primary outline', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>                        
        <% end %>
      </div>

      <% if @recurring_orders.nil? || !@recurring_orders.any? %>

        <div>            
          <%= form_tag(checkouts_path) do %>
            <%= hidden_field_tag(:amount, @items_total_gross) %>                        
            <%= hidden_field_tag(:use_reference_transaction, "0") %>
            <%= submit_tag "Guest checkout", class: 'btn btn-lg btn-primary outline', id: "paypal-button", disabled: @dropsite.nil?, data: { disable_with: "Please wait..." } %>                        
          <% end %>                            
        </div>

      <% end %>          
    <% end %>
    <p class="small">(By proceeding with checkout you agree to transact with and through Farmer's Cellar in accordance with our policies and operational procedures detailed on our <%= link_to "How Things Work", how_things_work_path %> page)</p>    
  <% end %>

  <%= render partial: 'shared/payflow_action', locals: { action_title: "Checkout" } %>

<% else %>  

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">    
        <div class="panel-body">
          <p>Your shopping tote is empty. You need to <%= link_to "add some items to your tote", postings_path %>, then you can checkout here.</p>  
        </div>
      </div>
    </div>
  </div>

<% end %>