<p>
Hello,
</p>

<p>
This is your Farmer's Cellar receipt for payment authorization #<%= @id %>.
</p>

<p>
Here is the product information for which you authorized payment:
</p>
<p>
  <span style="background-color:#DFFCD2;">*Please be aware of our <%= link_to "Delivery Not Guaranteed", how_things_work_url(anchor: "delivery_not_guaranteed") %> policy</span>.
</p>
<table border="1">
  <thead>
    <tr>		    
      <th align="left">ID</th>
      <th align="left">Producer</th>
      <th align="left">Product</th>
      <th align="left" style="background-color:#DFFCD2;">Scheduled Delivery*</th>
      <th align="left">Price</th>
      <th align="center">Quantity</th>
      <th align="center">Sub Total</th>
    </tr>
  </thead>
  <tbody>
    <% @tote_items.each do |tote_item| %>
      <tr>
        <td align="left"><%= tote_item.id %></td>
        <td align="left"><%= tote_item.posting.user.farm_name %></td>
        <td align="left"><%= tote_item.posting.product.name %></td>
        <td align="center"><%= tote_item.posting.delivery_date.strftime("%A %b %d, %Y") %></td>
        <td align="left"><%= number_to_currency(tote_item.price) %> / <%= tote_item.posting.unit.name %></td>
        <td align="center"><%= tote_item.quantity %></td>
        <td align="center"><%= number_to_currency(get_gross_item(tote_item)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @subscriptions && @subscriptions.any? %>

  <p>
    The total payment amount authorized for the products listed above is <%= number_to_currency(@amount) %>. Additionally, you authorized future charges to your payment account associated with the following <%= "subscription".pluralize(@subscriptions.count) %>:
  </p>

  <ul>
    <% @subscriptions.each do |subscription| %>
      <li><%= subscription.description %></li>
    <% end %>
  </ul>  

<% else %>

  <p>
    The total payment amount authorized is <%= number_to_currency(@amount) %>.
  </p>

<% end %>

<p>
When products are delivered:
</p>

<ul>
  <li>We'll send a delivery notification email on any day that product is delivered</li>
  <li>The delivery notification email will contain all information necessary to pick up your products</li>
  <li>Delivered products must be picked up by 8PM the Monday following delivery</li>
  <li>Charges to your payment account will be made after products are delivered</li>  
</ul>

<% if @policies_update_time %>
  <p>
    <%= link_to "Our policies", how_things_work_url %> were last updated <%= @policies_update_time.strftime("%A, %B %d, %Y") %>.
  </p>
<% end %>

<p>
Thanks!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>