<p>
Hello,
</p>

<% if @partner_name %>
  <h1>Farmer's Cellar</h1>
  <p>
    We are a local foods buying club and a free <%= @partner_name %> dropsite. The idea is you can order local products from us and pick them up at the same time as your <%= @partner_name %> products.
  </p>
  <p>
    We specialize in raw milk. Click any link below to place an order or give us a call/text/email if you have any questions.
  </p>
  <h3>Raw Milk</h3>
  <ul>
    <li>Organic, 100% grass-fed: <%= link_to "$8.75 / gallon", "https://www.farmerscellar.com/postings/3273" %></li>
    <li>Organic, 100% grass-fed, <strong><u>glass bottle</u></strong>: <%= link_to "$4.90 / half gallon", "https://www.farmerscellar.com/postings/3271" %></li>
  </ul>
  <h1><%= "#{@partner_name} Delivery Notification" %></h1>
<% end %>

<% if @partner_name %>
  <p>
    Your products are available for you to pick up anytime before <%= @dropsite.next_food_clearout.strftime("%l%p on %A %B %d, %Y") %>.
  </p>
  <p>First time user? Watch <%= link_to "this", "https://youtu.be/oE4D93bALnM", target: false %> to see what to expect at pickup.</p>
  <p>Your dropsite is:</p>
  <p>
  <%= @dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@dropsite.address + " " + @dropsite.city + " " + @dropsite.state + " " + @dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @dropsite.address %> <%= @dropsite.city %>, <%= @dropsite.state %> <%= @dropsite.zip.to_s %></a><br>
  Hours: <%= @dropsite.hours %>
  </p>  
  <p>Your pickup code is: <%= @user.pickup_code.code %></p>
  <% if @dropsite.access_instructions != nil %>
    <p>
      <%= @dropsite.access_instructions %>
    </p>
  <% end %>
<% else %>

  <h1>Pure Eire Raw Milk</h1>
  <p>
    We are working on putting together a weekly run to Pure Eire Dairy in Othello, WA. We need about 10 more PE orders to to cover fuel, then we can get started. The plan is once we get a stable weekly trip to PE we'll be able to pick up other great products from PE's many neighbor farms.
  </p>
  <p>
    To join the fun, just place an order for any PE product. We'll notify you once we get another 10 orders before we actually start making the trips.
  </p>
  <ul>
    <li>Organic, 100% grass-fed: <%= link_to "$8.75 / gallon", "https://www.farmerscellar.com/postings/3273" %></li>
    <li>Organic, 100% grass-fed, <strong><u>glass bottle</u></strong>: <%= link_to "$4.90 / half gallon", "https://www.farmerscellar.com/postings/3271" %></li>
  </ul>

  <h1>Delivery Notification</h1>

  <!-- xunrfomunchfve this line needs to get changed if we ever go back to sending delivery notifications on a day when zero products were delivered -->
  <p>You have products <%= link_to "ready for pickup", pickup_url %>.</p>
<% end %>

<p>
Thanks!
</p>
<p>
Farmer's Cellar<br><br>
206-588-6579<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>
