<% if !@all_items_fully_filled %>
<h1>Important Message!</h1>
<ol>
  <li>Not all of your orders were fully filled</li>
  <li><span style="background-color:yellow;"><u>Please only pick up the quantity that was actually delivered for you</u></span></li>
  <li>You will only be charged for the quantity that was actually delivered</li>
</ol>

<p>----------------------------------------------------------------------------------------</p>
<% end %>
<p>
Hello,
</p>

<p>
This email is your Farmer's Cellar delivery notification.
</p>

<% products_delivered = false %>

<table border="1">
  <thead>
    <tr>		    
      <th align="left">ID</th>
      <th align="left">Producer</th>
      <th align="left">Product</th>
      <th align="left">Unit</th>
      <th align="center">Quantity Delivered</th>
      <th align="center">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @tote_items.each do |tote_item| %>
      <tr>
        <td align="left"><%= tote_item.id %></td>
        <td align="left"><%= tote_item.posting.user.farm_name %></td>
        <td align="left"><%= tote_item.posting.product.name %></td>
        <td align="left"><%= tote_item.posting.unit.name %></td>

        <% if tote_item.fully_filled? %>
          <td align="center"><%= tote_item.quantity_filled %></td>
        <% else %>
          <td bgcolor="yellow" align="center"><%= tote_item.quantity_filled %></td>
        <% end %>        

        <td align="center">
          <% if tote_item.state == ToteItem.states[:FILLED] %>
            DELIVERED
            <% products_delivered = true %>
          <% elsif tote_item.state == ToteItem.states[:NOTFILLED] %>
            NOT DELIVERED
          <% else %>
            UNKNOWN
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if products_delivered == true %>
  <p>Your products are available for you to pick up at your convenience.</p>
  <p>Your dropsite is:</p>
  <p>
  <%= @dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@dropsite.address + " " + @dropsite.city + " " + @dropsite.state + " " + @dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @dropsite.address %> <%= @dropsite.city %>, <%= @dropsite.state %> <%= @dropsite.zip.to_s %></a><br>
  Hours: <%= @dropsite.hours %>
  </p>

  <p>First time user? Watch <%= link_to "this", "https://youtu.be/2fOXJ2Ijs8Y", target: false %> to see what to expect at pickup.</p>

  <% if @dropsite.access_instructions != nil %>
    <p>
      <%= @dropsite.access_instructions %>
    </p>
  <% end %>

  <p>There is a kiosk at the dropsite. If you need help remembering what you ordered just enter your pickup code at the kiosk and your product list will pop up. Your pickup code is <%= @user.pickup_code.code %>.</p>
<% else %>
<p>Unfortunately we were unable to fill your order for today's delivery.</p>
<% end %>
<p>
Thanks!
</p>
<p>
Farmer's Cellar<br>
<%= link_to "www.farmerscellar.com", root_url %>
</p>