<p>
Hello,
</p>

<% if @partner_name %>
  <p>
  This email is your Farmer's Cellar delivery notification.
  </p>

  <p>
    Your products are available for you to pick up at your convenience. However, all products must be picked up by <%= @dropsite.next_food_clearout.strftime("%l%p on %A %B %d, %Y") %> according to <%= link_to "our pickup deadline policy outlined here", how_things_work_url(anchor: "pickup_deadline") %>.
  </p>
  <p>First time user? Watch <%= link_to "this", "https://youtu.be/oE4D93bALnM", target: false %> to see what to expect at pickup.</p>
  <p>Your dropsite is:</p>
  <p>
  <%= @dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@dropsite.address + " " + @dropsite.city + " " + @dropsite.state + " " + @dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @dropsite.address %> <%= @dropsite.city %>, <%= @dropsite.state %> <%= @dropsite.zip.to_s %></a><br>
  Hours: <%= @dropsite.hours %>
  </p>  
  <p>Your pickup code is: <%= @user.pickup_code.code %></p>
  <% if @dropsite.access_instructions != nil %>
    <p>
      <%= @dropsite.access_instructions %>
    </p>
  <% end %>
<% else %>
  <!-- xunrfomunchfve this line needs to get changed if we ever go back to sending delivery notifications on a day when zero products were delivered -->
  <p>You have products <%= link_to "ready for pickup", pickup_url %>.</p>
<% end %>

<% if true %>

  <h1>Help us Continue...</h1>
  <p>We need to grow to sustain operations beyond 2017. You can help us simply by telling us which products you'd like us to source.</p>
  <p>As a <%= link_to "local foods buying club", how_things_work_url %> we have wholesale access to <%= link_to "pretty much anything in the state", "http://www.sfmamarkets.com/vendor-list" %>.</p>
  <p>So....<%= link_to "tell us what we should get!", survey_url %></p>
  <p>Thanks!</p>
  <p>David &amp; Kellye</p>
  <%= link_to "farmerscellar.com/news", news_url %>
<% else %>

<p>
Thanks!
</p>
<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>
<% end %>