<p>
Hello,
</p>

<% if @partner_name %>


  <h1><%= "#{@partner_name} Delivery Notification" %></h1>
  <p>
    Your products are available for you to pick up anytime before <%= @dropsite.next_food_clearout.strftime("%l%p on %A %B %d, %Y") %>.
  </p>
  <p>First time user? Watch <%= link_to "this", "https://youtu.be/oE4D93bALnM", target: false %> to see what to expect at pickup.</p>
  <p>Your dropsite is:</p>
  <p>
  <%= @dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@dropsite.address + " " + @dropsite.city + " " + @dropsite.state + " " + @dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @dropsite.address %> <%= @dropsite.city %>, <%= @dropsite.state %> <%= @dropsite.zip.to_s %></a><br>
  Hours: <%= @dropsite.hours %>
  </p>  
  <p>Your pickup code is: <%= @user.pickup_code.code %></p>
  <% if @dropsite.access_instructions != nil %>
    <p>
      <%= @dropsite.access_instructions %>
    </p>
  <% end %>
  
  
<% else %>

  <h1>Delivery Notification</h1>
  <!-- xunrfomunchfve this line needs to get changed if we ever go back to sending delivery notifications on a day when zero products were delivered -->
  <p>You have products <%= link_to "ready for pickup", pickup_url %>.</p>

<% end %>

<h1>Pure Eire run update</h1>
<% if @partner_name %>
  We are Farmer's Cellar, a local foods buying club and free <%= @partner_name %> dropsite. The idea is you can order local products from us (Farmer's Cellar) and pick them up at the same time as your Azure Standard products.
  <p></p>
<% end %>

Good news...we are all set for our 1st weekly Pure Eire run to begin next week, Wednesday June 28th. If you'd like to make the switch to Pure Eire, go ahead and place your order on the website and if you have a Pride and Joy subscription be sure to cancel it before 11:55PM tomorrow, Friday June 23rd.
<p></p>
We'll send out a separate message a bit later to make sure everybody's on the same page.
<p></p>
Here are some of our PE products:

<h3>Raw Milk, Certified Organic, 100% grass-fed</h3>
<a href="https://www.farmerscellar.com/postings/3323" target="_blank">
  <figure style="border: 1px solid black; display: inline-block; padding: 5px;">
    <img src="https://farmerscellaruploads.s3.amazonaws.com/uploads/upload/file_name/575/square_IMG_20170305_081618.jpg" width="350" height="350">
    <figcaption><strong>$8.75 / gallon</strong></figcaption>
  </figure>
</a>
<a href="https://www.farmerscellar.com/postings/3324" target="_blank">
  <figure style="border: 1px solid black; display: inline-block; padding: 5px;">
    <img src="https://farmerscellaruploads.s3.amazonaws.com/uploads/upload/file_name/573/square_IMG_20170316_160128.jpg" width="350" height="350">
    <figcaption><strong>$4.90 / glass bottle</strong></figcaption>
  </figure>
</a>


<h3>Yogurt, Certified Organic, 100% grass-fed</h3>
<a href="https://www.farmerscellar.com/postings/3320" target="_blank">
  <figure style="border: 1px solid black; display: inline-block; padding: 5px;">
    <img src="https://farmerscellaruploads.s3.amazonaws.com/uploads/upload/file_name/620/square_IMG_20170512_092718.jpg" width="350" height="350">
    <figcaption><strong>Strawberry, $5.49 / pint</strong></figcaption>
  </figure>
</a>
<a href="https://www.farmerscellar.com/postings/3303" target="_blank">
  <figure style="border: 1px solid black; display: inline-block; padding: 5px;">
    <img src="https://farmerscellaruploads.s3.amazonaws.com/uploads/upload/file_name/634/square_IMG_20170330_134542.jpg" width="350" height="350">
    <figcaption><strong>Peach, $5.49 / pint</strong></figcaption>
  </figure>
</a>


<p>
Thanks!
</p>
<p>
Farmer's Cellar<br><br>
206-588-6579<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>
