<p>
Hello,
</p>

<% if false %>
<h1>Raw Milk</h1>
We are working on putting together a weekly run to <%= link_to "Pure Eire Dairy", "https://www.pureeiredairy.com/", target: "blank" %> in Othello, WA to pick up their certified organic, 100% grass fed Jersey cow dairy products. Here's the kind of prices we can get by picking up on-farm ourselves:
<br>
<ul>
  <li><%= link_to "Raw Milk $6.94 / Gallon", "https://www.farmerscellar.com/postings/2683", target: "blank" %></li>
  <li><%= link_to "Raw Milk $3.76 / Glass Bottle", "https://www.farmerscellar.com/postings/2685", target: "blank" %></li>
  <li><%= link_to "Whole Milk $5.78 / Gallon", "https://www.farmerscellar.com/postings/2745", target: "blank" %></li>
</ul>
<p>
In order to pull this off we need to build a group of about 100 interested people. To participate, just place an order for <%= link_to "any Pure Eire Dairy product", "https://www.farmerscellar.com/postings?food_category=31", target: "blank" %> then <%= link_to "join our facebook group", "https://www.facebook.com/groups/farmerscellar", target: "blank" %> to stay in the loop as we work towards our '100 people' goal.
</p>

<p>Also, once we're making this weekly dairy run we should be able to stop at many other farms along the way to pick up more great deals so let's get it done!</p>

<p>
Last thing...the more you share the quicker we can hit this goal so <strong>share, share, share</strong> cause harvest 2017 is already here! (tip: every <%= link_to "product page", "https://www.farmerscellar.com/postings/2754", target: "blank" %> has a facebook 'share' button down near the price)
</p>

<h1><%= "#{@partner_name} Delivery Notification" %></h1>
<% end %>

<% if @partner_name %>
  <p>
    Your products are available for you to pick up anytime before <%= @dropsite.next_food_clearout.strftime("%l%p on %A %B %d, %Y") %>.
  </p>
  <p>First time user? Watch <%= link_to "this", "https://youtu.be/oE4D93bALnM", target: false %> to see what to expect at pickup.</p>
  <p>Your dropsite is:</p>
  <p>
  <%= @dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@dropsite.address + " " + @dropsite.city + " " + @dropsite.state + " " + @dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @dropsite.address %> <%= @dropsite.city %>, <%= @dropsite.state %> <%= @dropsite.zip.to_s %></a><br>
  Hours: <%= @dropsite.hours %>
  </p>  
  <p>Your pickup code is: <%= @user.pickup_code.code %></p>
  <% if @dropsite.access_instructions != nil %>
    <p>
      <%= @dropsite.access_instructions %>
    </p>
  <% end %>
<% else %>
  <!-- xunrfomunchfve this line needs to get changed if we ever go back to sending delivery notifications on a day when zero products were delivered -->
  <p>You have products <%= link_to "ready for pickup", pickup_url %>.</p>
<% end %>

<% if false %>
  <h1>Help us Continue...</h1>
  <p>We need to grow to sustain operations beyond 2017. You can help us simply by telling us which products you'd like us to source.</p>
  <p>As a <%= link_to "local foods buying club", how_things_work_url %> we have wholesale access to <%= link_to "pretty much anything in the state", "http://www.sfmamarkets.com/vendor-list" %>.</p>
  <p>So....<%= link_to "tell us what we should get!", survey_url %></p>
  <p>Thanks!</p>
  <p>David &amp; Kellye</p>
  <%= link_to "farmerscellar.com/news", news_url %>
<% else %>

<p>
Thanks!
</p>
<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>
<% end %>