<p>
Hello,
</p>
<p>
Have you picked up these products yet?
</p>
<% if @tote_items && @tote_items.any? %>
  <% if @partner_deliveries && @partner_deliveries.any? %>  
    <h2>Farmer's Cellar Sourced</h2>
  <% end %>

  <table border="1">
    <thead>
      <tr>        
        <th align="left">ID</th>
        <th align="left">Producer</th>
        <th align="left">Product</th>
        <th align="left">Unit</th>
        <th align="center">Quantity Delivered</th>
        <th align="center">Delivery Date</th>
      </tr>
    </thead>
    <tbody>
      <% @tote_items.each do |tote_item| %>

        <tr>
          <td align="left"><%= tote_item.id %></td>
          <td align="left"><%= tote_item.posting.user.farm_name %></td>
          <td align="left"><%= tote_item.posting.product.name %></td>
          <td align="left"><%= tote_item.posting.unit.name %></td>

          <% if tote_item.fully_filled? %>
            <td align="center"><%= tote_item.quantity_filled %></td>
          <% else %>
            <td bgcolor="yellow" align="center"><%= tote_item.quantity_filled %></td>
          <% end %>        

          <td align="center"><%= tote_item.posting.delivery_date.strftime("%A %b %d, %Y") %></td>

        </tr>

      <% end %>
    </tbody>
  </table>
<% end %>

<% if @partner_deliveries && @partner_deliveries.any? %>  
  <% if @tote_items && @tote_items.any? %>
    <h2>Partner Sourced</h2>
  <% end %>  
  <table border="1">
    <thead>
      <tr>        
        <th align="left">Source</th>
        <th align="center">Delivery Date</th>
      </tr>
    </thead>
    <tbody>
      <% @partner_deliveries.each do |partner_delivery| %>
        <tr>
          <td align="left"><%= partner_delivery.partner %></td>
          <td align="center"><%= partner_delivery.created_at.strftime("%A %b %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>     
<% end %>

<p>
Our records suggest they might remain at the dropsite. If so, please plan to pick them up before 8PM tonight (i.e. <%= @user.dropsite.next_food_clearout.strftime("%A %B %d, %Y at %l:%M %p") %>). Otherwise they'll be removed and donated according to <%= link_to "our policy outlined here", how_things_work_url(anchor: "pickup_deadline") %>.
</p>
<% if @user.pickups.any? %>
  <p>
  FYI, your last recorded pickup was <%= @user.pickups.last.created_at.strftime("%A %B %d, %Y at %l:%M %p") %>.
  </p>
<% else %>
  <p>First time user? Watch <%= link_to "this", "https://youtu.be/oE4D93bALnM", target: false %> to see what to expect at pickup.</p>
<% end %>
<% if @user.dropsite %>
  <p>Your dropsite is:</p>
  <p>
  <%= @user.dropsite.name %><br>
  <% address_link = "https://www.google.com/maps/place/" + (@user.dropsite.address + " " + @user.dropsite.city + " " + @user.dropsite.state + " " + @user.dropsite.zip.to_s).gsub(' ', '+') %>
  <a target="blank" href="<%= address_link %>"><%= @user.dropsite.address %> <%= @user.dropsite.city %>, <%= @user.dropsite.state %> <%= @user.dropsite.zip.to_s %></a><br>
  Hours: <%= @user.dropsite.hours %>
  </p>
  <% if @user.dropsite.access_instructions != nil %>
    <p>
      <%= @user.dropsite.access_instructions %>
    </p>
  <% end %>
<% end %>
<% if @user.pickup_code %>
  <p>Your pickup code is: <%= @user.pickup_code.code %></p>
<% end %>

<p>
Thanks!
</p>
<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>