<p>
  Hi <%= @posting_infos.first[0].user.farm_name %>,
</p>

<p>
  Below are orders for your upcoming delivery. If all orders are filled total sales will be <%= number_to_currency(@total) %>.
</p>

<table border="1">
  <thead>
    <tr>		    
      <th align="left">ID</th>
      <th align="center">Product</th>
      <th align="center">Delivery Date</th>
      <th align="center">Units</th>        
      <th align="center">Quantity</th>
      <th align="center">Unit Price</th>
      <th align="center">Sub Total</th>
    </tr>
  </thead>
  <tbody>
    <% @posting_infos.each do |posting, value| %>
      <tr>
        <td align="left"><%= posting.id %></td>
        <td align="center"><%= posting.product.name %></td>
        <td align="center"><%= posting.delivery_date.strftime("%A %b %d, %Y") %></td>
        <td align="center"><%= posting.unit_kind.name %></td>        
        <td align="center"><%= value[:unit_count] %></td>
        <td align="center"><%= number_to_currency(value[:unit_price]) %></td>
        <td align="center"><%= number_to_currency(value[:sub_total]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
Thanks!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "www.farmerscellar.com", root_url %>
</p>