<% if @business_interface.order_email_accepted %>
  <p>
    Hi <%= @business_interface.name %>,
  </p>
<% else %>
  <p>
    Hi <%= @email %>,
  </p>
<% end %>

<p>
  Below are orders for your upcoming delivery. If all orders are filled total sales will be <%= number_to_currency(@total) %>.
</p>

<table border="1">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="center">Delivery Date</th>
      <% if @business_interface.user.distributor? %>
        <th align="center">Producer</th>
      <% end %>
      <th align="center">Product</th>
      <th align="center">Unit</th>
      <% if @column_product_id_code %>
        <th align="center">Product ID Code</th>
      <% end %>
      <% if @column_cases %>
        <th align="center">Units per Case</th>
        <th align="center">Number of Cases</th>
        <th align="center">Case Price</th>
      <% end %>
      <th align="center">Number of Units</th>
      <th align="center">Unit Price</th>
      <th align="center">Sub Total</th>
    </tr>
  </thead>


  <tbody>
    <% @posting_infos.each do |posting, value| %>
      <tr>
        <td align="left"><%= posting.id.to_s %></td>
        <td align="center"><%= posting.delivery_date.strftime("%A %b %d, %Y") %></td>
        <% if @business_interface.user.distributor? %>
          <td align="left"><%= posting.user.farm_name %></td>
        <% end %>
        <td align="center"><%= posting.product.name %></td>
        <td align="center"><%= posting.unit.name %></td>
        <% if @column_product_id_code %>
          <td align="center"><%= posting.product_id_code %></td>
        <% end %>
        <% if @column_cases %>
          <td align="center"><%= posting.units_per_case.to_s %></td>
          <td align="center"><%= value[:case_count].to_s %></td>          
          <td align="center"><%= number_to_currency(posting.get_producer_net_case) %></td>
        <% end %>
        <td align="center"><%= value[:unit_count] %></td>
        <td align="center"><%= number_to_currency(posting.get_producer_net_unit) %></td>        
        <td align="center"><%= number_to_currency(value[:sub_total]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if !@business_interface.order_email_accepted && !@business_interface.order_instructions.empty? %>
<p>Order Instructions: <%= @business_interface.order_instructions %></p>
<% end %>

<p>
Thanks!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>