<p>Hi <%= @creditor_order.business_interface.name %>,</p>
<p>Here's a 'paper' trail for the <%= number_to_currency(@payment.amount) %> payment we just made for the following products / quantities:</p>

<table border="1">
  <thead>
    <tr>		    
      <th align="left">ID</th>
      <% if @creditor_order.business_interface.user.distributor? %>
        <th align="center">Producer</th>
      <% end %>
      <th align="center">Product</th>
      <th align="center">Delivery Date</th>
      <th align="center">Units</th>        
      <th align="center">Quantity</th>
      <th align="center">Unit Price</th>
      <th align="center">Sub Total</th>
    </tr>
  </thead>
  <tbody>  
    <% @creditor_order.postings.each do |posting| %>    
      <tr>
        <td align="left"><%= posting.id %></td>
        <% if @creditor_order.business_interface.user.distributor? %>
          <td align="left"><%= posting.user.farm_name %></td>
        <% end %>
        <td align="center"><%= posting.product.name %></td>
        <td align="center"><%= posting.delivery_date.strftime("%A %b %d, %Y") %></td>
        <td align="center"><%= posting.unit.name %></td>        
        <td align="center"><%= posting.num_units_filled %></td>
        <td align="center"><%= number_to_currency(posting.producer_net_unit) %></td>
        <td align="center"><%= number_to_currency(posting.outbound_order_value_producer_net) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Payment ID# <%= @payment.id.to_s %></p>

<p>
Thanks!
</p>

<p>
Farmer's Cellar<br>
<%= link_to "farmerscellar.com/news", news_url %>
</p>