<h1>Captures#new</h1>
<p>Find me in app/views/captures/new.html.erb</p> 

<% total_capture = 0 %>
<% user_ids = @tote_items.select(:user_id).distinct %>

<% user_ids.each do |user_id| %>  
  <% tote_items_by_user = @tote_items.where(user_id: user_id.user_id) %>
  <% user_name = '' %>
  <% user_capture_amount = 0 %>
  <% tote_items_by_user.each do |tote_item_by_user| %>
    <% user_capture_amount += tote_item_by_user.quantity * tote_item_by_user.price %>
    <% user_name = tote_item_by_user.user.name %>
  <% end %>
  <p>Capturing <%= user_capture_amount %> from user: <%= user_name %></p>
  <% total_capture += user_capture_amount %>
<% end %>
<p> Total Capture: $<%= total_capture %></p>

-------------------------------------------------------
<%= form_tag({controller: "captures", action: "create"}, method: "post") do %>
  <% for tote_item in @capture.tote_items %>  
    <%= hidden_field_tag "tote_item_ids[]", tote_item.id %>   
  <% end %>
  <%= submit_tag "Capture payments" %>
<% end %>