<div class="row">
  <div class="col-xs-12">    
    <div class="text-center" id="logo" style="font-size: 4.0em;padding-top: 20px;">Farmer's Cellar</div>    
  </div>
</div>


<h1>Ready for Pickup</h1>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%
    if @user.producer? && @user.get_business_interface && !@user.get_business_interface.name.blank?
      identifier = @user.get_business_interface.name
    else
      identifier = @user.email
    end
    %>

    <p>Hello <%= identifier %></p>
  </div>
</div>


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <% if @closed %>      
      <h2 class="alert alert-danger">Attention!</h2>             
      <div>
        <p>City of Kirkland's rule is that <span class="alert alert-danger">all pickups must be between 8AM - 8PM</span>.</p>
        <p>Go ahead and get your products now but in the future please try to pickup within those hours.</p>
        <p>Thanks!</p>
      </div>
    <% end %>
  </div>
</div>


<% if !all_items_fully_filled?(@tote_items) %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">    
      <div class="quantity-delivered alert alert-danger">Only take <strong>Quantity Delivered</strong></div>          
    </div>
  </div>
<% end %>


<% if @tote_items.any? %>
  <%= render partial: 'shared/pickup_list', locals: { link_to_posting: false, tote_items: @tote_items } %>
<% else %>    
  <h2>You don't have any products ready for pickup</h2>
<% end %> 


<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_tag pickups_toggle_garage_door_path do %>
      
      <% if @mockup_mode %>
        <%= hidden_field_tag :pickup_code, "1111" %>
      <% else %>
        <%= hidden_field_tag :pickup_code, @pickup_code.code %>
      <% end %>                   

      <%= submit_tag "Open/Close garage door", class: 'btn btn-lg btn-primary outline fat-finger-spacing', data: { disable_with: "Please wait...sometimes slow! :(" } %>      
    <% end %>

    <%= link_to "Log out", new_pickup_path, class: 'btn btn-lg btn-primary outline btn-block fat-finger-spacing', data: { disable_with: "Please wait..." } %>
  </div>
</div>