<div class="center jumbotron">
  <h1>Farmer's Cellar</h1>
  <h2>Pickup List</h2>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

    <div class="panel-group">


      <div class="panel panel-default">
        <div class="panel-body">
					<table class="table-condensed">
					  <tbody>
					    <tr>
					      <td class="borderless">
									<%= form_tag pickups_toggle_garage_door_path do %>
										<%= hidden_field_tag :pickup_code, @pickup_code.code %>
										<%= submit_tag "Open garage door", class: 'btn btn-lg btn-primary', data: { disable_with: "Please wait...sometimes slow! :(" } %>			
									<% end %>
					      </td>
					      <td class="borderless">
									<%= form_tag pickups_toggle_garage_door_path do %>
										<%= hidden_field_tag :pickup_code, @pickup_code.code %>
										<%= submit_tag "Close garage door", class: 'btn btn-lg btn-primary', data: { disable_with: "Please wait...sometimes slow! :(" } %>			
									<% end %>
					      </td>
					      <td class="borderless">
									<%= link_to "Log out", new_pickup_path, class: 'btn btn-lg btn-primary', data: { disable_with: "Please wait..." } %>
					      </td>
					    </tr>
					  </tbody>
					</table>
        </div>        
      </div>
        

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= @user.email %></h2>
        </div>          
        <div class="panel-body">
        	<% if @last_pickup %>
						<p>Last pickup: <%= @last_pickup.created_at.strftime("%A %B %d, %Y at %l:%M %p") %></p>
					<% else %>
						<p>Below is your list of products to pick up.</p>
					<% end %>        	
        </div>        
      </div>

      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Products to pickup today</h2>
        </div>          
        <div class="panel-body">
			    <table class="table">
			      <thead>
			        <tr>
			        	<th class="text-center"></th>
			          <th class="text-center">Producer</th>
			          <th class="text-center">Product</th>
			          <th class="text-center">Quantity to Pickup</th>
			        </tr>
			      </thead>
			      <tbody>

				        <% @tote_items.each do |tote_item| %>        
				        	<tr>				        	
				        		<td><%= image_tag "sun.jpg" %></td>
					        	<td class="text-center"><%= tote_item.posting.user.farm_name %></td>
					        	<td class="text-center"><%= tote_item.posting.product.name %></td>

					        	<% if tote_item.quantity_filled < tote_item.quantity || tote_item.state?(:NOTFILLED) %>
					        		<td class="text-center">
					        			<div class="alert alert-danger">
				        					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <%= pluralize(tote_item.quantity_filled, tote_item.posting.unit.name) %>. We couldn't fully fill this order.					        				
				        				</div>
					        		</td>
					        	<% else %>
					        		<td class="text-center"><%= pluralize(tote_item.quantity_filled, tote_item.posting.unit.name) %></td>
					        	<% end %>
										
				          </tr>        
				        <% end %>

			      </tbody>
			    </table>          	
        </div>
      </div>


    </div>
	</div>
</div>