<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <% #if this is a farmer we need to put all the fields up for them to edit %>
      <% if @user.account_type == 1 %>
      
        <%= f.label :farm_name %>
        <%= f.text_field :farm_name, class: 'form-control' %>

        <%= f.label :description, "Description (just tell us a little bit about your business or farm)" %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>       

        <% button_text = "Save changes" %>
        <% save_button_disabled_state = false %>

        <% if @user.agreement != true %>        
          <% save_button_disabled_state = true %>
          <%= f.label :agreement, class: "checkbox inline" do %>
            <%= f.check_box :agreement %>
            <span>I agree to the Terms of Service</span>
          <% end %>
          <% button_text = "Request approval" %>
        <% end %>
      <% end %>

      <%= f.submit button_text, id: "submit_button", class: "btn btn-primary", disabled: save_button_disabled_state %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>

<script>
$(function(){
    $("#user_agreement").change(function() {
        if ($(this).is(':checked')) $("#submit_button").removeAttr("disabled");
        else $("#submit_button").attr("disabled", true);
    });
});
</script>