<% provide(:title, @user.name) %>

<div class="row">
	<div class="col-xs-12 col-sm-offset-4 col-sm-4">
	  <div class="panel-group">
	  	<div class="panel panel-default">
	  		<div class="panel-heading">
	  			<h3>Account status</h3>
	  		</div>
	  		<div class="panel-body">
  		  	<% if @user.activated && !@user.account_currently_on_hold? %>
  		  		<span>Everything's great!</span>
 		  		<% else %>
		  		  <div class="list-group">
	  		  		<% if !@user.activated %>
	  		  			<%= link_to "Account not activated", new_account_activation_path, class: "list-group-item list-group-item-danger" %>	  		  		
	  		  		<% end %>
	  		  		<% if @user.account_currently_on_hold? %>
	  		  			<%= link_to "Your account is on hold", contact_path, class: "list-group-item list-group-item-danger" %>
	  		  		<% end %>
		  		  </div>
  		  	<% end %>
	  		</div>
	  	</div>

	  	<% if @user && @user.pickup_code %>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h3>Pickup code</h3>
	        </div>
	        <div class="panel-body">
	        	<p><%= @user.pickup_code.code.to_s %></p>
	        </div>
	      </div>
      <% end %>

      <% if @recent_pickups.any? %>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h3>Recent pickups</h3>
	        </div>
	        <div class="panel-body">
	        	<ul>
		        	<% @recent_pickups.each do |recent_pickup| %>
        				<li><%= recent_pickup.created_at.strftime("%A %B %d, %Y at %l:%M %p") %></li>
		        	<% end %>		        	
		        </ul>
	        </div>
	      </div>
      <% end %>

				<% if @user.account_type_is?(:PRODUCER) %>
					<div class="panel panel-default">
						<div class="panel-heading">
					  	<h3>Postings</h3>
					  </div>
					  <div class="panel-body">
				      <div class="text-center">
				        <%= link_to "Create new posting", new_posting_path(current_user), class: "btn btn-lg btn-primary outline" %>
				      </div>
				      <% if !@postings.nil? && @postings.any? %>      
					      <h1>My Postings</h1>
							  <table class="table">
							    <thead>
									  <tr>		    
									    <th class="text-center">Product</th>
									    <th class="text-center">Price</th>   
									    <th class="text-center">Unit</th>
									    <th class="text-center">Quantity Ordered</th>
									    <th class="text-center">Delivery Date</th>
									    <th class="text-center">Re-post</th>
									    <th class="text-center">Edit</th>
									  </tr>
									</thead>
									<tbody>
								    <% @postings.each do |posting| %>
								      <% farmInfo = "Producer has not provided info about their operation" %>
										  <% if posting.user.description != nil %>
										    <% farmInfo = "<u>Producer Description</u><p>" + posting.user.description %>
										  <% end %>
										  <% if !posting.user.website.blank? %>
										    <% farmInfo = farmInfo + "<p>" + "<u>Producer Website</u><p><a href='" + posting.user.website + "' target='_blank'>" + posting.user.website + "</a>"%>
										  <% end %>
									    <tr>	                    
							          <td><a tabindex="0" class="btn btn-primary outline btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%= posting.description_body %>"><%= Product.find_by(id: posting.product_id).name %></a></td>
							          <td class="text-center"><%= number_to_currency(posting.price) %></td>
							          <td class="text-center"><%= Unit.find_by(id: posting.unit_id).name %></td>
							          <td class="text-center"><%= posting.total_quantity_ordered %></td>	          
							          <td class="text-center"><%= posting.delivery_date.strftime("%A %b %d, %Y") %></td>
							          <td class="text-center"><%= link_to "Copy", new_posting_path(posting_id: posting.id),  class: "glyphicon glyphicon-duplicate" %></td>
							          <td class="text-center"><%= link_to "Edit posting", edit_posting_path(posting) %></td>
									    </tr>
									  <% end %>
									</tbody>
							  </table>        
				      <% end %>
						</div>
					</div>
				<% end %>

	  </div>

	</div>
</div>