  <div class="row gutter-10" style="padding-top: 20px;">
    <div class="col-sm-3">      
    </div>
    
    <%
    quantities = [1,2,3]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4 col-sm-2">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    <% end %>    
  </div>

<div style="padding-top: 15px;" data-toggle="collapse" data-target="#moreQuantitiesBody">
  <p class="text-center">More quantities <span id="moreQuantitiesChevron" class="glyphicon glyphicon-chevron-down"></span></p>  
</div>

<div id="moreQuantitiesBody" class="collapse" data-chevron="#moreQuantitiesChevron">

  <div class="row gutter-10" style="padding-bottom: 20px;">
    <div class="col-sm-3">      
    </div>
    <%
    quantities = [4,5,6]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4 col-sm-2">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="row gutter-10" style="padding-bottom: 20px;">
    <div class="col-sm-3">      
    </div>
    <%
    quantities = [7,8,9]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4 col-sm-2">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row gutter-10" style="padding-bottom: 20px;">
    <div class="col-sm-3">      
    </div>
    <%
    quantities = [10,15,20]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4 col-sm-2">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="row gutter-10" style="padding-bottom: 20px;">
    <div class="col-sm-3">      
    </div>
    <%
    quantities = [30,40,50]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4 col-sm-2">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary btn-lg" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>