<div class="row gutter-10">
  <%
  quantities = [1,2,3]
  quantities.each do |quantity |
  %>  
    <div class="col-xs-4">
      <div class="add-quantity-button-row-spacing">
        <%= form_tag tote_items_path do %>                                          
          <%= hidden_field_tag :quantity, quantity %>
          <%= hidden_field_tag :posting_id, posting.id %>          
          <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary outline btn-lg" %>
        <% end %>
      </div>      
    </div>
  <% end %>    
</div>

<div class="row gutter-10" data-toggle="collapse" data-target="#moreQuantitiesBody">
  <div class="col-xs-12">
    <div class="text-center add-quantity-button-row-spacing">More quantities <span id="moreQuantitiesChevron" class="glyphicon glyphicon-chevron-down"></span></div>  
  </div>
</div>

<div id="moreQuantitiesBody" class="collapse" data-chevron="#moreQuantitiesChevron">

  <div class="row gutter-10">
    <%
    quantities = [4,5,6,7,8,9,10,15,20,30,40,50]
    quantities.each do |quantity |
    %>  
      <div class="col-xs-4">
        <div class="add-quantity-button-row-spacing">
          <%= form_tag tote_items_path do %>                                          
            <%= hidden_field_tag :quantity, quantity %>
            <%= hidden_field_tag :posting_id, posting.id %>          
            <%= submit_tag "+#{quantity.to_s}", class: "btn btn-primary outline btn-lg" %>
          <% end %>
        </div>        
      </div>
    <% end %>
  </div>

</div>