<% #grab params from local_assigns
  heading = local_assigns[:heading]
  postings = local_assigns[:postings]
  collapse = local_assigns[:collapse]

  partial_id = rand(0..10000000)
%>

<% if postings && postings.any? %>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">    
      <hr class="section-divider" />      
      <% if !heading.blank? %>
        <h2 data-toggle="collapse" data-target="<%= "##{partial_id.to_s}CollapseRows" %>" class="section-heading"><%= heading %>
        <span id="<%= "#{partial_id.to_s}CollapseRowsChevron" %>" class="glyphicon <%= collapse ? "glyphicon-chevron-down" : "glyphicon-chevron-up" %> pull-right"></span></h2>
      <% end %>
      <div id="<%= "#{partial_id.to_s}CollapseRows" %>" class="<%= collapse ? "collapse" : "collapse in" %>" data-chevron="<%= "##{partial_id.to_s}CollapseRowsChevron" %>">
        <%        
          items_per_row = 2
          num_rows_needed = postings.count / items_per_row
          if postings.count % items_per_row > 0
            num_rows_needed += 1
          end
          row_num = 0
          while row_num < num_rows_needed
            item_index = row_num * items_per_row
          %>
            <div class="row gutter-10 posting-rows-spacing">
              <%= render partial: 'postings/posting_thumbnail', locals: { posting: postings[item_index] } %>

              <% 
              item_index += 1
              if postings.count > item_index
              %>
                <%= render partial: 'postings/posting_thumbnail', locals: { posting: postings[item_index] } %>
              <% end %>

            </div>
          <%
            row_num += 1
          end
        %>
      </div>
      

    </div>
  </div>
  
<% end %>