<% #grab params from local_assigns
  postings = local_assigns[:postings]
  pagination_page_name = local_assigns[:pagination_page_name]
%>

<% if postings && postings.any? %>

  <div class="col-xs-12">
    <div class="text-center">
      <%= will_paginate postings, param_name: pagination_page_name, inner_window: 1, outer_window: 0 %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div style="padding-top: 10px; padding-bottom: 10px;">
        <%= get_delivery_range_schedule_text(postings) %>
      </div>
    </div>
  </div>
  <div class="row">
    <% postings.order("users.farm_name").order("products.name").order("postings.price").each do |posting| %>
      <div class="col-xs-6 col-sm-3">
        <%= link_to posting, class: "thumbnail" do %>
          <% if posting.uploads.count > 0 %>        
            <%= image_tag "#{posting.uploads.first.file_name.square}", class: "img-responsive" %>
          <% elsif (upload = Upload.find_by(title: NOPRODUCTIMAGETITLE)) %>
            <%= image_tag upload.file_name.square, class: "img-responsive" %>
          <% end %>          
          <div class="caption">
            <div class="truncated-text-line producer-name-font">
              <%= posting.user.farm_name %>
            </div>
            <div class="truncated-text-line">
              <%= posting.product.name %>
            </div>
            <div class="truncated-text-line">
              <%= posting.description %>
            </div>
            <div class="truncated-text-line">
              <strong><%= "#{number_to_currency(posting.price)} / #{posting.unit.name}" %></strong>        
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>