<% provide(:title, 'Edit Posting') %>

<h1>Edit Posting</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">


    <div class="panel-group">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Non-editable
          </div>
        </div>
        <div class="panel-body">
          <h3>Product</h3>
          <p><%= @posting.product.name %></p>
          <h3>Unit</h3>
          <p><%= @posting.unit.name %></p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Basics
          </div>
        </div>
        <div class="panel-body">          

          <%= form_for @posting do |f| %>

          <%= render 'shared/error_messages_posting' %>

          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
          
          <%= f.label :description_body %>
          <%= f.text_field :description_body, class: 'form-control' %>

          <%= f.label :important_notes %>
          <%= f.text_field :important_notes, class: 'form-control' %>

          <%= f.label :important_notes_body %>
          <%= f.text_field :important_notes_body, class: 'form-control' %>

          <%= f.label :product_id_code %>
          <%= f.text_field :product_id_code, class: 'form-control' %>

          <%= f.label :units_per_case %>
          <%= f.number_field :units_per_case, min: 1, step: 1, class: 'form-control' %>

          <%= f.label :unit_body %>
          <%= f.text_field :unit_body, class: 'form-control' %>

          <% if spoofing? %>
            <%= f.label :producer_net_unit %>
            <%= f.number_field :producer_net_unit, min: 0.01, step: 0.01, class: 'form-control' %>
          <% end %>

          <%= f.label :price, "Price per unit (retail)" %>
          <%= f.number_field :price, min: 0.01, step: 0.01, class: 'form-control' %>

          <%= f.label :price_body %>
          <%= f.text_field :price_body, class: 'form-control' %>

          <%= f.label :order_minimum_producer_net %>
          <%= f.number_field :order_minimum_producer_net, min: 0.01, step: 0.01, class: 'form-control' %>

          <%= f.label :live, class: "inline" do %>
            <%= f.check_box :live %>
            <span class="checkboxText">Live</span>
          <% end %>

          <% if WebsiteSetting.order("website_settings.id").last.recurring_postings_enabled && !@posting_recurrence.nil? %>      
            <div>
              <%= f.fields_for @posting.posting_recurrence do |posting_recurrence_f| %>
                <%= posting_recurrence_f.label :on, class: "inline" do %>
                  <%= posting_recurrence_f.check_box :on, {}, 1, 0 %>
                  <span class="checkboxText">Recur</span>      
                <% end %>                 
              <% end %>     
            </div>

          <% else %>    
            <div class="form_element_spacing">
              <% #this is a hack to get the form elemetn spacing right %>
            </div>
          <% end %>

          <%= f.submit class: "btn btn-lg btn-primary outline" %>

          <% end %>          

        </div>
      </div>

      <% if @posting.uploads.count > 0 %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              Current Photos
            </div>
          </div>
          <div class="panel-body">
            <% @posting.uploads.each do |upload| %>            
              <span>
                <img src=<%= "#{upload.file_name.thumb}" %>>
                <%= link_to "", upload_path(upload, posting_id: @posting.id), class: "non-blue glyphicon glyphicon-remove", method: :delete, data: { confirm: 'Delete photo?' } %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Add new photo
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(@upload, html: { multipart: true }) do |f| %>
            <div>
              <%= f.file_field :file_name, class: 'form-control' %>
              <%= hidden_field_tag :posting_id, @posting.id %>
            </div>
            <div>
              <%= f.submit "Upload new photo", class: 'btn btn-lg btn-primary outline' %>
            </div>
          <% end %>

        </div>
      </div>

    </div>

	</div>
</div>