<% if @fill_report %>

	<p>Producer: <%= @posting.user.farm_name %></p>
	<p>Product: <%= @posting.product.name %></p>
	<p>Unit: <%= @posting.unit_kind.name %></p>
	<p>quantity filled: <%= @fill_report[:quantity_filled] %></p>
	<p>quantity not filled: <%= @fill_report[:quantity_not_filled] %></p>
	<p>quantity remaining: <%= @fill_report[:quantity_remaining] %></p>

  <div class="panel-group">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Items Filled</h2>
      </div>          
      <div class="panel-body">
			  <table class="table">
			    <thead>
			      <tr>
			        <th>User ID</th>
			        <th>Email</th>
			        <th>Quantity</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @fill_report[:tote_items_filled].each do |tote_item| %>
			        <tr>
			          <td><%= tote_item.user.id %></td>
			          <td><%= tote_item.user.email %></td>          
			          <td><%= tote_item.quantity %></td>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>		           	
      </div>
    </div>

    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Items Not Filled</h2>
      </div>          
      <div class="panel-body">		        
			  <table class="table">
			    <thead>
			      <tr>
			        <th>User ID</th>
			        <th>Email</th>
			        <th>Quantity</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @fill_report[:tote_items_not_filled].each do |tote_item| %>
			        <tr>
			          <td><%= tote_item.user.id %></td>
			          <td><%= tote_item.user.email %></td>          
			          <td><%= tote_item.quantity %></td>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
      </div>
    </div>    
  </div>

<% else %>
	<p>@fill_report is nil</p>
<% end %>