<% if @fill_report %>

	<p>Producer: <%= @posting.user.farm_name %></p>
	<p>Product: <%= @posting.product.name %></p>
	<p>Unit: <%= @posting.unit.name %></p>
	<p>quantity filled: <%= @fill_report[:quantity_filled] %></p>  
	<p>quantity not filled: <%= @fill_report[:quantity_not_filled] %></p>
	<p>quantity remaining: <%= @fill_report[:quantity_remaining] %></p>
  <% if @fill_report[:partially_filled_tote_items] && @fill_report[:partially_filled_tote_items].count > 0 %>
    <p><span class="alert alert-danger">num partially filled items: <%= @fill_report[:partially_filled_tote_items].count.to_s %></span></p>
  <% end %>

  <div class="panel-group">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Items Filled</h2>
      </div>          
      <div class="panel-body">
			  <table class="table">
			    <thead>
			      <tr>
			        <th>User ID</th>
			        <th>Email</th>
			        <th>Quantity</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @fill_report[:tote_items_filled].each do |tote_item| %>
			        <tr>
			          <td><%= tote_item.user.id %></td>
			          <td><%= tote_item.user.email %></td>          
                <% if tote_item.partially_filled? %>
                  <td><span class="alert alert-danger"><%= "#{tote_item.quantity_filled.to_s} of #{tote_item.quantity.to_s}" %></span></td>
                <% else %>
                  <td><%= tote_item.quantity_filled.to_s %></td>
                <% end %> 
			        </tr>
			      <% end %>
			    </tbody>
			  </table>		           	
      </div>
    </div>

    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Items Not Filled</h2>
      </div>          
      <div class="panel-body">		        
			  <table class="table">
			    <thead>
			      <tr>
			        <th>User ID</th>
			        <th>Email</th>
			        <th>Quantity</th>
			      </tr>
			    </thead>
			    <tbody>
			      <% @fill_report[:tote_items_not_filled].each do |tote_item| %>
			        <tr>
			          <td><%= tote_item.user.id %></td>
			          <td><%= tote_item.user.email %></td>
                <td><%= tote_item.quantity.to_s %></td>
			        </tr>
			      <% end %>
			    </tbody>
			  </table>
      </div>
    </div>    
  </div>

<% else %>
	<p>@fill_report is nil</p>
<% end %>