<% provide(:title, 'Postings') %>

<h1>Postings</h1>

<% if @postings != nil && @postings.any? %>  

<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="col-xs-12 col-sm-offset-6 col-sm-6"></th>
          </tr>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @postings.each do |posting| %> 
            
            <tr>
            
              <td>
                <div class="panel-group block" id=<%= "#{count.to_s}accordion" %> role="tablist" aria-multiselectable="true">
                  
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id=<%= "#{count.to_s}producer_name" %>>
                      <h4 class="panel-title">              
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent=<%= "##{count.to_s}accordion" %> href=<%= "##{count.to_s}producerDetails" %> aria-expanded="false" aria-controls=<%= "#{count.to_s}producerDetails" %>>
                          <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> <%= User.find_by(id: posting.user_id).farm_name %>
                        </a>
                      </h4>  
                    </div>          
                    <div id=<%= "#{count.to_s}producerDetails" %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= "#{count.to_s}producer_name" %>>
                      <div class="panel-body">
                        <ul class="list-group">
                          <% if posting.user.city && posting.user.state %>
                            <li class="list-group-item">Location: <%= "#{posting.user.city}, #{posting.user.state}" %></li>              
                          <% end %>
                          <% if !posting.user.website.blank? %>
                            <li class="list-group-item">Website: <a href=<%= "#{posting.user.website}" %> target='_blank'><%= posting.user.website %></a></li>              
                          <% end %>   
                          <% if posting.user.description != nil %>                       
                            <li class="list-group-item"><%= posting.user.description %></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id=<%= "#{count.to_s}product" %>>
                      <h4 class="panel-title">              
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent=<%= "##{count.to_s}accordion" %> href=<%= "##{count.to_s}productDetails" %> aria-expanded="false" aria-controls=<%= "#{count.to_s}productDetails" %>>
                          <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> <%= Product.find_by(id: posting.product_id).name %>
                        </a>
                      </h4>  
                    </div>          
                    <div id=<%= "#{count.to_s}productDetails" %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= "#{count.to_s}product" %>>
                      <div class="panel-body">
                        <ul class="list-group">
                          <% if posting.description != nil %>
                            <li class="list-group-item"><%= posting.description %></li>                
                          <% end %>
                          <% if posting.description_body != nil %>
                            <li class="list-group-item"><%= posting.description_body %></li>                
                          <% end %>
                        </ul>
                      </div>
                    </div>                
                  </div>


                  <% if posting.unit_body || posting.price_body %>

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id=<%= "#{count.to_s}price" %>>
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent=<%= "##{count.to_s}accordion" %> href=<%= "##{count.to_s}priceDetails" %> aria-expanded="false" aria-controls=<%= "#{count.to_s}priceDetails" %>>
                            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> <%= number_to_currency(posting.price) %> / <%= Unit.find_by(id: posting.unit_id).name %>
                          </a>
                        </h4>
                      </div>          
                      <div id=<%= "#{count.to_s}priceDetails" %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= "#{count.to_s}price" %>>
                        <div class="panel-body">
                          <ul class="list-group">
                            <% if posting.unit_body %>
                              <li class="list-group-item"><%= posting.unit_body %></li>
                            <% end %>
                            <% if posting.price_body %>
                              <li class="list-group-item"><%= posting.price_body %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>                
                    </div>

                  <% else %>

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id=<%= "#{count.to_s}price" %>>
                        <h4 class="panel-title">                          
                          <%= number_to_currency(posting.price) %> / <%= Unit.find_by(id: posting.unit_id).name %>                          
                        </h4>
                      </div>          
                    </div>

                  <% end %>


                  <% if posting.posting_recurrence && posting.posting_recurrence.on %>

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id=<%= "#{count.to_s}delivery" %>>
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent=<%= "##{count.to_s}accordion" %> href=<%= "##{count.to_s}deliveryDetails" %> aria-expanded="false" aria-controls=<%= "#{count.to_s}deliveryDetails" %>><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Next Delivery <%= posting.delivery_date.strftime("%A %b %d") %>
                          </a>
                        </h4>
                      </div>          


                      <div id=<%= "#{count.to_s}deliveryDetails" %> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%= "#{count.to_s}deliveryDetails" %>>
                        <div class="panel-body">
                          <ul class="list-group">                            
                            <li class="list-group-item">
                              <%= PostingRecurrence.frequency[posting.posting_recurrence.frequency][0] %>
                            </li>
                          </ul>
                        </div>
                      </div>                



                    </div>

                  <% else %>

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id=<%= "#{count.to_s}delivery" %>>
                        <h4 class="panel-title">                          
                            Delivery <%= posting.delivery_date.strftime("%A %b %d") %>
                          </a>
                        </h4>
                      </div>          
                    </div>

                  <% end %>


                    

                </div>            

                <div>                                                      
                  <p><%= link_to "Order", new_tote_item_path(posting_id: posting.id), class: "btn btn-primary btn-lg fat-finger-spacing" %></p>
                </div>

                <% if current_user && current_user.account_type == User.types[:ADMIN] %>
                  <div>
                    <%= link_to "Edit", edit_posting_path(posting), class: "btn btn-primary btn-lg fat-finger-spacing" %>
                  </div>
                <% end %>

              </td>
              


            </tr>

            <% count = count + 1 %>
          <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>  
<% end %>