<% provide(:title, 'Postings') %>

<h1>Postings</h1>

<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div>
      <p class="text-center alert alert-danger alert-dismissable">
        <em>
          February 11, 2016<br>
          We are in test mode. Please do not place orders unless you first <%= link_to "contact us", contact_path %>. Thanks!<br>
          ~Farmer's Cellar
        </em>
      </p>
    </div>
  </div>
</div>



<% if @postings != nil && @postings.any? %>  

<div class="row">
  <div class="col-xs-12">

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Producer</th>
        <th class="text-center">Product</th>
        <th class="text-center">Price</th>   
        <th class="text-center">Delivery</th>
        <th class="text-center">Buy</th>
        <% if current_user.account_type == User.types[:ADMIN] %>
          <th>Do delivery</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @postings.each do |posting| %>

        <% farmInfo = "Producer has not provided info about their operation" %>
        <% if posting.user.description != nil %>
          <% farmInfo = "<u>Producer Description</u><p>" + posting.user.description %>
        <% end %>
        <% if !posting.user.website.blank? %>
          <% farmInfo = farmInfo + "<p>" + "<u>Producer Website</u><p><a href='" + posting.user.website + "' target='_blank'>" + posting.user.website + "</a>"%>
        <% end %>

        <tr>
          <td><a tabindex="0" class="btn btn-primary btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=farmInfo%>"><%= User.find_by(id: posting.user_id).farm_name %></a></td>

          <td><a tabindex="0" class="btn btn-primary btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%= posting.description %>"><%= Product.find_by(id: posting.product_id).name %></a></td>
          
          <td><a tabindex="0" class="btn btn-primary btn-block" role="button" data-html="true" data-toggle="popover" data-trigger="focus" data-content="per <%= UnitKind.find_by(id: posting.unit_kind_id).name %>"><%= number_to_currency(posting.price) %></a></td>

          <td class="text-center">              
            <% data_content = " " + link_to("Commitment Zone", how_things_work_path(anchor: "commitment_zone")) + " for this posting starts " + posting.commitment_zone_start.strftime("%a %b %d, %I:%M%p") %>
            <a tabindex="0" class="btn btn-primary" role="button" data-container="body" data-placement="left" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%= data_content %>"><%= posting.delivery_date.strftime("%a %b %d") %></a>
          </td>

          <td class="text-center"><%= link_to "Go!", new_tote_item_path(posting_id: posting.id), class: "btn btn-primary" %></td>
          <% if current_user.account_type == User.types[:ADMIN] %>
            <td><%= link_to "Go!", tote_items_next_path( tote_item: {posting_id: posting.id}) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>  

</div>
</div>  
<% end %>