<% provide(:title, 'Shop') %>

<% if @food_category %>

  <%= render partial: 'nav_trinket', locals: { food_category: @food_category, include_self: false } %>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <h1><%= @food_category.name %></h1>
    </div>
  </div>

  <% if @food_category.children.any? %>
    <div class="row">
      <% @food_category.children.each do |food_category| %>      
        <div class="col-xs-6 col-sm-3">
          <%= link_to postings_path(food_category: food_category.name), class: "thumbnail" do %>
            <% if food_category.uploads.last %>
              <%= image_tag "#{food_category.uploads.last.file_name.square}", class: "img-responsive" %>
            <% end %>        
            <div class="caption">
              <h3><%= food_category.name %></h3>
            </div>
          <% end %>        
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <h1>Shop</h1>
<% end %>

<% if @food_category %>
  <% if !@food_category.children.any? && !@this_weeks_postings.any? && !@next_weeks_postings.any? && !@future_postings.any? %>
    <p class="text-center">Apparently there is nothing to see in this category</p>
  <% end %>
<% end %>

<% if display_delivery_range_buttons?(@this_weeks_postings, @next_weeks_postings, @future_postings) %>

  <% if current_user.nil? || current_user.got_it.nil? || current_user.got_it.delivery_date_range_selection.nil? || current_user.got_it.delivery_date_range_selection == false %>
    <div class="row">
      <div class="col-xs-offset-7 col-xs-5">
        <div class="row">        
          <div class="col-xs-12">
            <span class="text-center pull-left" id="delivery-date-range-selection-got-it">
              <span class="glyphicon glyphicon glyphicon-hand-down"></span>
            </span>
            <% if current_user %>
              <span>
                <%= link_to "Got it!", postings_delivery_date_range_selection_got_it_path, class: "btn btn-primary got-it" %>
              </span>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>

  <div id="delivery-time-buttons" class="btn-group btn-group-justified" data-toggle="buttons">
    
    <% if @this_weeks_postings.any? %>
      <label class="btn btn-primary outline active">
        <input type="radio" name="options" id="this-week" autocomplete="off" checked> This Week
      </label>
    <% end %>

    <% if @next_weeks_postings.any? %>
      <label class="btn btn-primary outline <%= 'active' if !@this_weeks_postings.any? %>">
        <input type="radio" name="options" id="next-week" autocomplete="off"> Next Week
      </label>
    <% end %>

    <% if @future_postings.any? && (@this_weeks_postings.any? || @next_weeks_postings.any?) %>
      <label class="btn btn-primary outline">
        <input type="radio" name="options" id="future" autocomplete="off"> Future
      </label>
    <% end %>

  </div>
<% end %>

<% if @this_weeks_postings.any? %>
  <div class="this-week">
    <%= render partial: 'posting_thumbnails', locals: { postings: @this_weeks_postings } %>
  </div>
<% end %>

<% if @next_weeks_postings.any? %>
  <div class="next-week <%= 'display-none' if @this_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @next_weeks_postings } %>
  </div>  
<% end %>

<% if @future_postings.any? %>
  <div class="future <%= 'display-none' if @this_weeks_postings.any? || @next_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @future_postings } %>
  </div>  
<% end %>