<% provide(:title, 'Shop') %>

<% if @food_category %>

  <% if @food_category_ancestors.any? %>
    <div class="row">
      <div class="col-xs-12">

        <%= link_to "Home", root_path, class: "food-category-nav non-blue" %>
        <%
          index = 1
          while index < @food_category_ancestors.count
        %>            
            <span class="food-category-nav"><%= "/ " %></span>
            <%= link_to @food_category_ancestors[index].name, postings_path(food_category: @food_category_ancestors[index].name), class: "food-category-nav non-blue" %>
        <%
            index += 1
          end
        %>

      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <div style="padding-top: 25px;">
      </div>
      <div class="thumbnail">
        <%= image_tag "#{@food_category.uploads.last.file_name.square}", class: "img-responsive" %>
        <div class="caption">
          <div class="text-center" style="font-size: 1.9em;"><%= @food_category.name %></div>
        </div>
      </div>
    </div>
  </div>

  <% if @food_category.children.any? %>
    <div class="row">
      <% @food_category.children.each do |food_category| %>
        <div class="col-xs-6 col-sm-3">
          <%= link_to postings_path(food_category: food_category.name), class: "thumbnail" do %>
            <%= image_tag "#{food_category.uploads.last.file_name.square}", class: "img-responsive" %>
            <div class="caption">
              <h3><%= food_category.name %></h3>
            </div>
          <% end %>        
        </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <h1>Shop</h1>
<% end %>

<% if @food_category %>
  <% if !@food_category.children.any? && !@this_weeks_postings.any? && !@next_weeks_postings.any? && !@future_postings.any? %>
    <p class="text-center">Apparently there is nothing to see in this category</p>
  <% end %>
<% end %>

<% if display_delivery_range_buttons?(@this_weeks_postings, @next_weeks_postings, @future_postings) %>
  <div id="delivery-time-buttons" class="btn-group btn-group-justified" data-toggle="buttons">
    
    <% if @this_weeks_postings.any? %>
      <label class="btn btn-primary outline active">
        <input type="radio" name="options" id="this-week" autocomplete="off" checked> This Week
      </label>
    <% end %>

    <% if @next_weeks_postings.any? %>
      <label class="btn btn-primary outline <%= 'active' if !@this_weeks_postings.any? %>">
        <input type="radio" name="options" id="next-week" autocomplete="off"> Next Week
      </label>
    <% end %>

    <% if @future_postings.any? && (@this_weeks_postings.any? || @next_weeks_postings.any?) %>
      <label class="btn btn-primary outline">
        <input type="radio" name="options" id="future" autocomplete="off"> Future
      </label>
    <% end %>

  </div>
<% end %>

<% if @this_weeks_postings.any? %>
  <div class="this-week">
    <%= render partial: 'posting_thumbnails', locals: { postings: @this_weeks_postings } %>
  </div>
<% end %>

<% if @next_weeks_postings.any? %>
  <div class="next-week <%= 'display-none' if @this_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @next_weeks_postings } %>
  </div>  
<% end %>

<% if @future_postings.any? %>
  <div class="future <%= 'display-none' if @this_weeks_postings.any? || @next_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @future_postings } %>
  </div>  
<% end %>