<% provide(:title, 'Shop') %>

<% if @food_category %>

  <% content_for :nav_trinket do %>
    <%= render partial: 'shared/nav_trinket', locals: { links: FoodCategoriesController.helpers.get_top_down_ancestors(@food_category, include_self = false) } %>
  <% end %>  

  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <h1><%= @food_category.name %></h1>
    </div>
  </div>

  <% if @food_category.children.any? %>
    <div class="row">
      <% @food_category.children.each do |food_category| %>      
        <div class="col-xs-6 col-sm-3">
          <%= link_to postings_path(food_category: food_category.name), class: "thumbnail" do %>
            <% if food_category.uploads.last %>
              <%= image_tag "#{food_category.uploads.last.file_name.square}", class: "img-responsive" %>
            <% end %>        
            <div class="caption">
              <h3><%= food_category.name %></h3>
            </div>
          <% end %>        
        </div>
      <% end %>
    </div>
  <% end %>

<% elsif @title %>
  <h1><%= @title %></h1>
<% else %>
  <h1>Shop</h1>
<% end %>

<% if @food_category %>
  <% if !@food_category.children.any? && !@this_weeks_postings.any? && !@next_weeks_postings.any? && !@future_postings.any? %>
    <p class="text-center">Apparently there is nothing to see in this category</p>
  <% end %>
<% end %>

<% if display_delivery_range_buttons?(@this_weeks_postings, @next_weeks_postings, @future_postings) %>

  <% if current_user.nil? || current_user.got_it.nil? || current_user.got_it.delivery_date_range_selection.nil? || current_user.got_it.delivery_date_range_selection == false %>
    <div class="row">
      <div class="col-xs-offset-7 col-xs-5">
        <div class="row">        
          <div class="col-xs-12">
            <span class="text-center pull-left" id="delivery-date-range-selection-got-it">
              <span class="glyphicon glyphicon glyphicon-hand-down"></span>
            </span>
            <% if current_user %>
              <span>
                <%= link_to "Got it!", postings_delivery_date_range_selection_got_it_path, class: "btn btn-primary got-it" %>
              </span>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12">

      <!-- the padding on this div...wow. what happens is the btn-group-justified class causes mobile devices to have a horizontal scroll bar.
      this makes the experience on those pages really lame. on an iphone 4 i was able to get away with 8px of padding but the nexus 5 wanted 14.
      super hack. i just need to move on. don't know if this will work for other popular mobiles. what a pain...
       -->
      <!-- the above comment is obsolete. God gave me some insight for searching the google monster and it turned up the following overflow: hidden
      'solution'. anyway, putting that on there makes unnecessary / mysterious horizontal scrollbar go away. good riddance! by the way, the reason
      i kept looking for a solution after authoring the above comment is because i went to test 14 pixels on other mobile device on chrome emulator
      and found that the iPhone 6 Plus required 20 pixels to get the h scrollbar to go away. that was intractable for smaller devices like iphone 4.
       -->
      <div style="overflow: hidden;">

        <div id="delivery-time-buttons" class="btn-group btn-group-justified" data-toggle="buttons">
          
          <% if @this_weeks_postings.any? %>
            <label class="btn btn-primary rdio active">
              <input type="radio" name="options" id="this-week" autocomplete="off" checked> This Week
            </label>
          <% end %>

          <% if @next_weeks_postings.any? %>
            <label class="btn btn-primary rdio <%= 'active' if !@this_weeks_postings.any? %>">
              <input type="radio" name="options" id="next-week" autocomplete="off"> Next Week
            </label>
          <% end %>

          <% if @future_postings.any? && (@this_weeks_postings.any? || @next_weeks_postings.any?) %>
            <label class="btn btn-primary rdio">
              <input type="radio" name="options" id="future" autocomplete="off"> Future
            </label>
          <% end %>

        </div>
      </div>

    </div>
  </div>

<% end %>

<% if @this_weeks_postings.any? %>
  <div class="this-week">
    <%= render partial: 'posting_thumbnails', locals: { postings: @this_weeks_postings, pagination_page_name: "this_week" } %>
  </div>
<% end %>

<% if @next_weeks_postings.any? %>
  <div class="next-week <%= 'display-none' if @this_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @next_weeks_postings, pagination_page_name: "next_week" } %>
  </div>  
<% end %>

<% if @future_postings.any? %>
  <div class="future <%= 'display-none' if @this_weeks_postings.any? || @next_weeks_postings.any? %>">
    <%= render partial: 'posting_thumbnails', locals: { postings: @future_postings, pagination_page_name: "future" } %>
  </div>  
<% end %>