<% provide(:title, 'New posting') %>

<h1>New posting</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @posting do |f| %>

		<% if true %>
		  <%= render 'shared/error_messages_posting' %>
		<% end %>

		<% if current_user.account_type == User.types[:ADMIN] %>
		  <%= f.label :user_id, "Producer" %>
		  <%= f.collection_select(:user_id, @producers, :id, :farm_name, prompt: true, selected: @posting.user_id, class: 'form-control') %>
		<% else %>
		  <%= f.hidden_field :user_id %>
		<% end %>

		<%= f.label :product_id %>
		<%= f.collection_select(:product_id, @products, :id, :name, {prompt: true}, {class: 'form-control'}) %>		

		<%= f.label :product_attributes %>
		<%= f.text_field :product_attributes, class: 'form-control' %>

		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>

		<%= f.label :unit_id %>
		<%= f.collection_select(:unit_id, @units, :id, :name, {prompt: true}, {class: 'form-control'}) %>		

		<%= f.label :unit_equivalency_description %>
		<%= f.text_field :unit_equivalency_description, class: 'form-control' %>

		<%= f.label :product_identifier %>
		<%= f.text_field :product_identifier, class: 'form-control' %>

		<%= f.label :units_per_case %>
		<%= f.number_field :units_per_case, min: 1, step: 1, class: 'form-control' %>

		<%= f.label :quantity_available, "Approximate Number of Units for Sale" %>
		<%= f.number_field :quantity_available, min: 1, step: 1, class: 'form-control' %>

		<%= f.label :price, "Price per Unit" %>
		<%= f.number_field :price, min: 0.01, step: 0.01, class: 'form-control' %>

		<%= f.label :price_equivalency_description %>
		<%= f.text_field :price_equivalency_description, class: 'form-control' %>

		<%= f.label :delivery_date, "Delivery Date (Date only)" %>
	    <div class="input-group date" id="dtpDeliveryDate">
		  <%= f.text_field :delivery_date, class: 'form-control', readonly: true %>
		  <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
	    </div>
		
		<%= f.label :commitment_zone_start, "Commitment Zone Start (Date & Time)", id: "czsLabel" %>
	    <div class="input-group date" id="dtpCommitmentZoneStart">	      
		  <%= f.text_field :commitment_zone_start, class: 'form-control', readonly: true %>
		  <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
	    </div>

	    <%= f.hidden_field :live %>

	    <% if WebsiteSetting.order("website_settings.id").last.recurring_postings_enabled %>
		    <div>
			    <%= f.fields_for @posting.posting_recurrence do |posting_recurrence_f| %>
			      <%= posting_recurrence_f.label :frequency, id: "posting_recurrence_label" %>	      
			      <%= posting_recurrence_f.select(:frequency, options_for_select(PostingRecurrence.frequency), {}, {class: 'form-control'}) %>
			    <% end %>
		    </div>

		    <% else %>
		    
		      <div class="form_element_spacing">
		      	<% #this is a hack to get the form elemetn spacing right %>
		      </div>

	    <% end %>

		<%= f.submit "Create new posting", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>