<% provide(:title, 'New posting') %>

<h1>New posting</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @posting do |f| %>

		<% if false %>
		<%= render 'shared/error_messages' %>
		<% end %>

		<%= f.label :product_id %>
		<%= collection_select @posting, :product_id, @products, :id, :name, prompt: true %>

		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>

		<%= f.label :unit_kind_id, "Units" %>
		<%= f.grouped_collection_select :unit_kind_id, UnitCategory.order(:name), :unit_kinds, :name, :id, :name, { include_blank: true, prompt: true } %>

		<%= f.label :quantity_available, "Number of Units for Sale" %>
		<%= f.text_field :quantity_available, class: 'form-control' %>

		<%= f.label :price, "Price per Unit" %>
		<%= f.text_field :price, class: 'form-control' %>

		<%= f.submit "Create new posting", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>

<div id="daviddiv">
mydiv
</div>

<div>

<% if @posting.id == nil %>
  <p>id == nil</p>
<% else %>
  <p><%= @posting.id %></p>
<% end %>

<% if @posting.user_id == nil %>
  <p>user_id == nil</p>
<% else %>
  <p><%= @posting.user_id %></p>
<% end %>

</div>