<% provide(:title, 'New posting') %>

<h1>New posting</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @posting do |f| %>

		<% if true %>
		  <%= render 'shared/error_messages_posting' %>
		<% end %>

		<%= f.label :product_id %>
		<%= f.collection_select(:product_id, @products, :id, :name, prompt: true) %>

		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>

		<%= f.label :unit_kind_id, "Units" %>
		<%= f.grouped_collection_select :unit_kind_id, UnitCategory.order(:name), :unit_kinds, :name, :id, :name, { include_blank: true, prompt: true } %>

		<%= f.label :quantity_available, "Approximate Number of Units for Sale" %>
		<%= f.number_field :quantity_available, min: 1, step: 1, class: 'form-control' %>

		<%= f.label :price, "Price per Unit" %>
		<%= f.number_field :price, min: 0.01, step: 0.01, class: 'form-control' %>

		<%= f.label :delivery_date, "Delivery Date" %>
		<%= f.collection_select :delivery_date, @delivery_dates, :to_s, :to_s, prompt: true %>

	    <%= f.label :live, class: "inline" do %>
	      <%= f.check_box :live, checked: true %>
	      <span>Make posting live</span>      
	    <% end %>

	    <a href='#' class="popover_init" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-content="A 'live' posting is one that shows up on the shopping pages for customers to view and make purchases from. Unchecking this 'live' box will make your posting instantly disappear from the shopping pages so that no further customer interactions can happen. It does not delete your posting and any customer orders in place at the time you uncheck this box will remain fully intact and legitimate.">(?)</a>

		<%= f.submit "Create new posting", class: "btn btn-primary" %>

		<% end %>
	</div>
</div>