<% if tote_has_items(tote_items) %>  

<% tote_items_added = [] %>
<% tote_items_authorized = [] %>

<h2>Tote Items in Tote</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Producer</th>
          <th class="text-center">Posting</th>        
          <th class="text-center">Price per Unit</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Cost</th>
          <th class="text-center">Remove from tote</th>
        </tr>
      </thead>
      <tbody>
        <% tote_items.each do |tote_item| %>        
          <% if tote_item.status == ToteItem.states[:ADDED] %>
            <% tote_items_added << tote_item %>
            <tr class="action_needed">
          <% else %>
            <% tote_items_authorized << tote_item %>
            <tr>
          <% end %>        
            <td><%= tote_item.posting.product.name %></td>
            <td><%= tote_item.posting.user.farm_name %></td>
            <td class="text-center"><%= link_to "View", new_tote_item_path(posting_id: tote_item.posting_id) %></td>
            <td class="text-center"><%= number_to_currency(tote_item.price) %></td>
            <td class="text-center"><%= tote_item.quantity %></td>
            <td class="text-center"><%= number_to_currency(tote_item.price * tote_item.quantity) %></td>
            <td class="text-center">
            <% if tote_item.status == ToteItem.states[:ADDED] || tote_item.status == ToteItem.states[:AUTHORIZED] %>
              <%= link_to "-", tote_item, class: "btn btn-primary", method: :delete %>
            <% else %>
              <% data_content = "This item is not removable because it is in the " + link_to("Commitment Zone", how_things_work_path(anchor: "commitment_zone")) %>
              <a tabindex="0" class="btn btn-primary" role="button" data-container="body" data-placement="left" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">-</a>
              <% end %>
            </td>          
          </tr>        
        <% end %>
      </tbody>
    </table>
  </div>
</div>  


  <h2>Totals</h2>
  <div class="row">
    <div class="col-md-4">

      <table class="table">
        <tbody>
          <% if tote_items.count > 0 %>            
            <tr>
              <td>Total (all items)</td>
              <td class="text-right"><%= number_to_currency(total_cost_of_tote_items(tote_items)) %></td>
            </tr>
          <% end %>
          <% if tote_items_authorized.count > 0 %>
            <% data_content = "This is the total of all the items that you have authorized Farmer's Cellar to charge your payment account. These are the items listed above that are highlighted in light green. Your account will be charged the total amount shown here if and when all your ordered items are delivered. For more information please see " + link_to("Authorization", how_things_work_path(anchor: "authorization")) + "." %>
            <tr>
              <td><a href="#" class="popover_init" tabindex="0" data-container="body" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">Total (already authorized)</a></td>
              <td class="text-right"><%= number_to_currency(total_cost_of_tote_items(tote_items_authorized)) %></td>
            </tr>
          <% end %>
          <% if tote_items_added.count > 0 %>
            <% data_content = "This is the total of all the items that you added to your shopping tote but have not yet authorized Farmer's Cellar to charge your payment account for. These are the items listed above with a white background. Your account will not be charged for these unless you first authorize them. For more information please see " + link_to("Addition", how_things_work_path(anchor: "addition")) + "." %>
            <tr class="action_needed">
              <td><a href="#" class="popover_init" tabindex="0" data-container="body" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">Total (needs authorization)</a></td>
              <td class="text-right"><%= number_to_currency(total_cost_of_tote_items(tote_items_added)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-md-8">
    </div>
  </div>
<% end %>