<% if tote_has_items(tote_items) %>  
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Producer</th>
        <th>Posting</th>        
        <th>Price per Unit</th>
        <th>Quantity</th>
        <th>Cost</th>  
      </tr>
    </thead>
    <tbody>
      <% tote_items.each do |tote_item| %>        
        <tr>
          <td><%= tote_item.posting.product.name %></td>
          <td><%= tote_item.posting.user.farm_name %></td>
          <td><%= link_to "view", new_tote_item_path(posting_id: tote_item.posting_id) %></td>
          <td><%= number_to_currency(tote_item.price) %></td>
          <td><%= tote_item.quantity %></td>
          <td class="text-left"><%= number_to_currency(tote_item.price * tote_item.quantity) %></td>
        </tr>        
      <% end %>
    </tbody>
  </table>
  <div>
    <p><h3><strong>TOTAL: <%= number_to_currency(total_cost_of_tote_items(tote_items)) %></strong></h3></p>
  </div>
<% end %>