<% if !tote_item.nil? %>  
  <div class="panel-group" role="tablist" aria-multiselectable="true">      

    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">Order Info</h4>
      </div>                
      <div class="panel-body">
        <ul class="list-group">

          <% if additional_units_required_to_fill_my_case > 0 || biggest_order_minimum_producer_net_outstanding > 0 %>
            <li class="list-group-item">
              <div class="fat-finger-spacing">
                <p class="alert alert-danger"><span class="spin-continuously alert-danger glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <% if tote_item.will_partially_fill? && biggest_order_minimum_producer_net_outstanding == 0 %>                
                    <span class="wont-fully-ship"> Currently this item will only partially ship</span>
                    <% fully = " fully" %>
                  <% else %>
                    <span class="wont-fully-ship"> Currently this item will not ship</span>
                    <% fully = "" %>
                  <% end %>              
                </p>
              </div>              
              <div>
                <%= form_tag tote_items_pout_path do %>
                    <%= hidden_field_tag :id, tote_item.id %>
                    <%= hidden_field_tag :additional_units_required_to_fill_my_case, additional_units_required_to_fill_my_case %>
                    <%= hidden_field_tag :biggest_order_minimum_producer_net_outstanding, biggest_order_minimum_producer_net_outstanding %>
                    <%= submit_tag "More info", class: "btn btn-lg btn-primary outline" %>
                 <% end %>                                
              </div>              
            </li>
          <% end %>

          <% if tote_item.posting.important_notes %>
            <li class="list-group-item">
              <div class="alert alert-info">              
                <p>
                  <span class="glyphicon glyphicon-info-sign spin-continuously"></span>
                  <%= tote_item.posting.important_notes %>
                </p>
                <% if tote_item.posting.important_notes_body && !tote_item.posting.important_notes_body.empty? %>
                  <p>
                    <%= tote_item.posting.important_notes_body %>
                  </p>                
                <% end %>
              </div>
            </li>
          <% end %>

          <div class="hidden-sm hidden-md hidden-lg">
            <li class="list-group-item">
              Quantity: <%= tote_item.quantity.to_s + " " + Unit.find_by(id: tote_item.posting.unit_id).name.pluralize(tote_item.quantity) %>
              <% if tote_item.posting.unit_body %>
                <ul>
                  <li><%= tote_item.posting.unit_body %></li>
                </ul>
              <% end %>
            </li>
            <li class="list-group-item">
              Price: <%= number_to_currency(tote_item.posting.price) %> / <%= Unit.find_by(id: tote_item.posting.unit_id).name %>
              <% if tote_item.posting.price_body %>
                <ul>
                  <li><%= tote_item.posting.price_body %></li>
                </ul>
              <% end %>
            </li>
          </div>
          <li class="list-group-item"><%= link_to("Order Cutoff", how_things_work_path(anchor: "cutoff")) %>: <%= tote_item.posting.order_cutoff.strftime("%a %m/%d %l:%M %p") %></li>
          <% if tote_item.subscription %>
            <% if tote_item.subscription.kind?(:NORMAL) %>
              <li class="list-group-item">This is a subscription for <%= tote_item.subscription.description %></li>          
            <% elsif tote_item.subscription.kind?(:ROLLUNTILFILLED) %>
              <li class="list-group-item">This is a Roll Until Filled order. This means that if the order does not fill this delivery we will keep 'rolling' the order to the next delivery date until it fills.</li>
            <% end %>            
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">Product Info</h4>
      </div>                
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Producer: <%= tote_item.posting.user.farm_name %></li>
          <% if !tote_item.posting.user.website.nil? %>
            <li class="list-group-item">Producer Website:  <%= link_to tote_item.posting.user.website, tote_item.posting.user.full_website, target: "_blank" %></li>
          <% end %>
          <% if tote_item.posting.description %>
            <li class="list-group-item">Product Attributes: <%= tote_item.posting.description %></li>          
          <% end %>
          <li class="list-group-item">Product Description: <%= tote_item.posting.description_body %></li>          
          <li class="list-group-item">Producer Description: <%= tote_item.posting.user.description %></li>

        </ul>
      </div>
    </div>
  </div>
<% end %>