<% if tote_has_items(tote_items) %>  

<% tote_items_added = [] %>
<% tote_items_authorized = [] %>
<% if !local_assigns[:authorization_adjective] %>
  <% authorization_adjective = "needs" %>  
<% end %>

<h2>Items</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Product</th>          
          <th class="text-center">Quantity</th>
          <th class="text-center">Cost</th>
          <th class="text-center">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% tote_items.each do |tote_item| %>        
          <% if tote_item.state == ToteItem.states[:ADDED] %>
            <% tote_items_added << tote_item %>
            <tr class="action_needed">
          <% else %>
            <% tote_items_authorized << tote_item %>
            <tr>
          <% end %>        
            <td class="text-center">
              <%= link_to tote_item.posting.product.name, new_tote_item_path(posting_id: tote_item.posting_id) %>
              <% if tote_item.subscription && tote_item.subscription.on %>
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
              <% end %>
            </td>            
            <td class="text-center"><%= pluralize(tote_item.quantity, tote_item.posting.unit_kind.name)%></td>
            <td class="text-center"><%= number_to_currency(tote_item.price * tote_item.quantity) %></td>
            <td class="text-center">
            <% if tote_item.state == ToteItem.states[:ADDED] || tote_item.state == ToteItem.states[:AUTHORIZED] %>
              <%= link_to "-", tote_item, class: "btn btn-primary", method: :delete %>
            <% else %>
              <% data_content = "This item is not removable because it is in the " + link_to("Commitment Zone", how_things_work_path(anchor: "commitment_zone")) %>
              <a tabindex="0" class="btn btn-primary" role="button" data-container="body" data-placement="left" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">-</a>
              <% end %>
            </td>          
          </tr>        

            <% if tote_item.state == ToteItem.states[:ADDED] %>              
              <tr class="action_needed">
            <% else %>
              <tr>
            <% end %>
            
                <td colspan="4" class="borderless">
                  <div>
                    <a href="#<%= 'toteItemDetails' + tote_item.id.to_s %>" data-toggle="collapse"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span></a>
                  </div>

                  <div id="<%= 'toteItemDetails' + tote_item.id.to_s %>" class="collapse">
                    hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello 
                  </div>
                </td>                             
              </tr>
          
        <% end %>
      </tbody>
    </table>
  </div>
</div>  


  <h2>Totals</h2>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-right-8">

      <table class="table">
        <tbody>
          <% if tote_items.count > 0 %>            
            <tr>
              <td>Total (all items)</td>
              <td class="text-right"><%= number_to_currency(get_gross_tote(tote_items)) %></td>
            </tr>
          <% end %>
          <% if tote_items_authorized.count > 0 %>
            <% data_content = "This is the total of all the items that you have already authorized Farmer's Cellar to charge your payment account for. These are the items listed above with a white background. Your account will be charged the total amount shown here if and when all your ordered items are delivered." %>
            <tr>
              <td><a href="#" class="popover_init" tabindex="0" data-container="body" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">Total (already authorized)</a></td>
              <td class="text-right"><%= number_to_currency(get_gross_tote(tote_items_authorized)) %></td>
            </tr>
          <% end %>
          <% if tote_items_added.count > 0 %>

            <% if authorization_adjective == "needs" %>
              <% data_content = "This is the total of all the items that you added to your shopping tote but have not yet authorized Farmer's Cellar to charge your payment account for. These are the items listed above with a yellow background. Your account will not be charged for these unless you first authorize payment for them." %>
            <% else %>
              <% data_content = "This is the total of all the items that you just successfully authorized Farmer's Cellar to charge your payment account for. Your account will be charged for these once your order is delivered." %>
            <% end %>
            
            <tr class="action_needed">
              <td><a href="#" class="popover_init" tabindex="0" data-container="body" data-html="true" data-toggle="popover" data-trigger="focus" data-content="<%=data_content%>">Total (<%= authorization_adjective %> authorization)</a></td>
              <td class="text-right"><%= number_to_currency(get_gross_tote(tote_items_added)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    
  </div>
<% end %>