<h1>New <%= Posting.product_name_from_posting_id(params[:posting_id])%> Delivery from <%= User.farm_name_from_posting_id(params[:posting_id])%></h1>

<% #pull up all tote_items for this posting id with successful authorizations %>
<% #display all the tote_items with a check box for 'filled' %>
<% #display a 'save' button at the end to mark this delivery with all the tote_items filled %>

<% if @tote_items != nil && @tote_items.any? %>

<%= form_tag deliveries_path, method: :post do %>

  <table class="table">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Filled</th>
      </tr>
    </thead>
    <tbody>
      <% @tote_items.each do |tote_item| %>
        <tr>
          <td><%= tote_item.quantity %></td>
          <td><%= check_box_tag "tote_item_ids[]", tote_item.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= hidden_field_tag :posting_id, params[:posting_id] %>
  <%= submit_tag "Save", data: { confirm: "Are you sure?" } %>

  <% end %>
<% end %>