<h1>New Delivery</h1>

<h2>Postings to Deliver</h2>
<div class="row">
  <div class="col-md-12">

    <%= form_tag deliveries_path do %>
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Include in Delivery</th>
            <th class="text-center">Producer</th>
            <th class="text-center">Product</th>
            <th class="text-center">Units</th>
            <th class="text-center">Posted Delivery Date</th>
          </tr>
        </thead>
        <tbody>
    
          <% @delivery_eligible_postings.each do |posting| %>
            <tr>
              <td><%= check_box_tag "posting_ids[]", posting.id, checked: true %></td>
              <td class="text-center"><%= User.find_by(id: posting.user_id).farm_name %></td>
              <td class="text-center"><%= Product.find_by(id: posting.product_id).name %></td>
              <td class="text-center"><%= posting.unit.name %></td>          
              <td class="text-center"><%= posting.delivery_date.strftime("%a %b %d") %></td>                    
            </tr>
          <% end %>
        </tbody>
      </table>  
      <%= submit_tag "Create delivery", class: "btn btn-primary outline" %>
    <% end %>

  </div>
</div>

<h2>Dropsites for Above Postings</h2>
<div class="row">
  <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Address</th>
          </tr>
        </thead>
        <tbody>    
          <% @dropsites.each do |dropsite| %>
            <tr>
              <td class="text-center"><%= dropsite.name %></td>
              <td class="text-center"><%= dropsite.address + " " + dropsite.city + " " + dropsite.state + " " + dropsite.zip.to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
  </div>
</div>