<h1>New Delivery</h1>

<h2>Postings to Deliver</h2>
<div class="row">
  <div class="col-md-12">

    <%= form_tag deliveries_path do %>
      <%= render partial: 'shared/postings_checkbox_table', locals: { check_box_column_header_text: "Include in Delivery", show_producer: true, postings: @delivery_eligible_postings, default_checked_state: true } %>
      <%= submit_tag "Create delivery", class: "btn btn-primary outline" %>
    <% end %>

  </div>
</div>

<h2>Dropsites for Above Postings</h2>
<div class="row">
  <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Address</th>
          </tr>
        </thead>
        <tbody>    
          <% @dropsites.each do |dropsite| %>
            <tr>
              <td class="text-center"><%= dropsite.name %></td>
              <td class="text-center"><%= dropsite.address + " " + dropsite.city + " " + dropsite.state + " " + dropsite.zip.to_s %></td>
            </tr>
          <% end %>
        </tbody>
      </table>  
  </div>
</div>