<h1>Enter Fills</h1>

<%= link_to "Back", creditor_order_path(@creditor_order) %>
<div class="panel-group">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Vitals</h2>
    </div>
    <div class="panel-body">      
      <table class="table">
        <tbody>
          <tr>
            <td class="text-left">Creditor</td>
            <td class="text-left"><%= @creditor_order.business_interface.name %></td>
          </tr>
          <tr>
            <td class="text-left">CreditorOrder ID</td>
            <td class="text-left"><%= @creditor_order.id.to_s %></td>
          </tr>
          <tr>
            <td class="text-left">CreditorOrder State</td>
            <td class="text-left"><%= @creditor_order.state_key.to_s %></td>
          </tr>
          <tr>
            <td class="text-left">Delivery date</td>
            <td class="text-left"><%= @creditor_order.delivery_date.strftime("%A %B %d, %Y") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Funds</h2>
    </div>
    <div class="panel-body">

      <table class="table">
        <tbody>

          <tr>
            <td class="text-left">Order Value (producer net)</td>
            <td class="text-left"><%= number_to_currency(@creditor_order.order_value_producer_net) %></td>
          </tr>

          <tr>
            <td class="text-left">Payment Payables Sum</td>
            <td class="text-left"><%= number_to_currency(@payment_payables_sum) %></td>
          </tr>

          <tr>
            <td class="text-left">Payments Sum</td>
            <td class="text-left"><%= number_to_currency(@payments_sum) %></td>
          </tr>

          <tr>
            <td class="text-left">Balance</td>
            <td class="text-left"><%= number_to_currency(@creditor_order.balance) %></td>
          </tr>

          <tr>
            <td class="text-left">Payment Type</td>
            <td class="text-left"><%= "#{@creditor_order.business_interface.friendly_payment_method} #{@creditor_order.business_interface.friendly_payment_time}" %></td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>




  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Postings</h2>      
    </div>
    <div class="panel-body">
      <%= form_tag creditor_order_path(@creditor_order), method: :patch do %>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <% if @creditor_order.creditor.distributor? %>
                <th>Producer</th>
              <% end %>
              <th>Product</th>
              <th class="text-center">Product ID Code</th>
              <th>Unit</th>        
              <th class="text-center">Units Ordered</th>            
              <th>Case Size</th>
              <th>Cases Ordered</th>        
              <th class="text-center">Units Filled</th>
              <th class="text-center">Units to Fill</th>
            </tr>
          </thead>

          <tbody>
            <% @creditor_order.postings.joins(:user).order("users.farm_name").each do |posting| %>
              <tr>
                <td><%= posting.id.to_s %></td>
                <% if @creditor_order.creditor.distributor? %>
                  <td><%= posting.user.farm_name %></td>
                <% end %>
                <td><%= posting.product.name %></td>
                <td class="text-center"><%= posting.product_id_code %></td>
                <td><%= posting.unit.name %></td>
                <td class="text-center"><%= posting.total_quantity_ordered_from_creditor %></td>              
                <%
                if posting.units_per_case.nil? || posting.units_per_case < 2
                  units_per_case = nil
                  num_cases_ordered = nil
                else
                  units_per_case = posting.units_per_case.to_s
                  num_cases_ordered = posting.inbound_num_cases_ordered.to_s
                end
                %>
                <td><%= units_per_case %></td>
                <td><%= num_cases_ordered %></td>                    
                <td class="text-center"><%= posting.num_units_filled %></td>
                <td class="text-center">
                  <%= hidden_field_tag "fills[][posting_id]", posting.id.to_s %>
                  <%= number_field_tag "fills[][quantity]", posting.num_units_unfilled, class: "input-lg" %>
                </td>
              </tr>
            <% end %>
          </tbody>
          
        </table>

        <%= submit_tag "Update", class: "btn btn-lg btn-primary" %>

      <% end %>
      
    </div>
  </div>


</div>