<h1>Creditor Orders</h1>

<% if (@open_orders.nil? || !@open_orders.any?) && (@closed_orders.nil? || !@closed_orders.any?)  %>
  <p class="text-center">There are no CreditorOrders to view</p>
<% else %>
    <% if @open_orders && @open_orders.any? %>

      <h2>Open Orders</h2>

      <div class="row">        
        <% @open_orders.each do |co| %>
          <div class="col-xs-12 col-sm-3">            
            <%= link_to creditor_order_path(co), class: "thumbnail" do %>
              <div class="caption">
                <h3>Creditor</h3>
                <p><%= co.business_interface.name %></p>

                <h3>Order Value (producer net)</h3>
                <p><%= number_to_currency(co.order_value_producer_net) %></p>

                <h3>Balance</h3>
                <p><%= number_to_currency(co.balance.to_f) %></p>

                <h3>Payment Type</h3>
                <p><%= co.business_interface.friendly_payment_description %></p>

                <h3>Delivery Date</h3>                
                <p><%= co.delivery_date.strftime("%A %B %d, %Y") %></p>
              </div>
            <% end %>
          </div>
        <% end %>
        
      </div>      

    <% end %>

    <% if @closed_orders && @closed_orders.any? %>

      <h2>Closed Orders</h2>
      <div class="row">        
        <% @closed_orders.each do |co| %>
          <div class="col-xs-12 col-sm-3">
            <%= link_to creditor_order_path(co), class: "thumbnail" do %>
              <div class="caption">
                <h3>Creditor</h3>
                <p><%= co.business_interface.name %></p>

                <h3>Order Value (producer net)</h3>
                <p><%= number_to_currency(co.order_value_producer_net) %></p>                

                <h3>Delivery Date</h3>                
                <p><%= co.delivery_date.strftime("%A %B %d, %Y") %></p>
              </div>
            <% end %>
          </div>
        <% end %>        
      </div>      

    <% end %>  
<% end %>