<h1>Authorization</h1>

<% content_for :nav_trinket do %>
  <%= render partial: 'shared/nav_trinket', locals: { links: [{text: "Account", path: user_path(current_user)}, {text: "Authorizations", path: rtauthorizations_path}] } %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div>Authorized <%= @auth.created_at.strftime("%a %b %d, %Y at %l:%M%p") %></div>
    <% if spoofing? %>
      <div>
        <% if @auth.class.name == "Authorization" %>
          <%= "Authorization ##{@auth.id.to_s}" %>
        <% else %>
          <%= "Rtauthorization ##{@auth.id.to_s}" %>
        <% end %>        
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/orderables', locals: { tote_items: @tote_items, subscriptions: @subscriptions, show_remove_button: false, items_total_gross: @items_total_gross } %>