<h1><%= "Edit #{@unit.name}" %></h1>

<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <div>
      <%= link_to @unit.name, unit_path(@unit) %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <div>
      <%= form_for @unit do |f| %>
        <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @unit } %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>        
        <%= f.submit "Update", class: "btn btn-lg btn-primary outline" %>
      <% end %>
    </div>
  </div>
</div>