<h1>New ProducerProductCommission</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">  

    <div class="panel-group" role="tablist" aria-multiselectable="true">        
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">Set Commission Directly</h4>
        </div>                
        <div class="panel-body">
          
          <%= form_for @ppc do |f| %>
            <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @ppc } %>

            <%= f.label :user_id %>
            <%= f.collection_select(:user_id, @producers, :id, :farm_name, prompt: true) %>

            <%= f.label :product_id %>
            <%= f.collection_select(:product_id, @products, :id, :name, prompt: true) %>

            <%= f.label :commission %>
            <%= f.text_field :commission, class: "form-control" %>

            <%= f.submit class: "btn btn-primary" %>

          <% end %>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">Set Commission by Retail and Producer Net Price</h4>
        </div>                
        <div class="panel-body">

          <%= form_for @ppc do |f| %>
            <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @ppc } %>

            <%= f.label :user_id %>
            <%= f.collection_select(:user_id, @producers, :id, :farm_name, prompt: true) %>

            <%= f.label :product_id %>
            <%= f.collection_select(:product_id, @products, :id, :name, prompt: true) %>

            <%= label_tag :retail %>
            <%= text_field_tag :retail, nil, class: "form-control" %>

            <%= label_tag :producer_net %>
            <%= text_field_tag :producer_net, nil, class: "form-control" %>

            <%= f.submit class: "btn btn-primary" %>

          <% end %>

        </div>
      </div>

    </div>

  </div>
</div>