<h1>Email</h1>

<h2>Info</h2>
<div>
  <p><%= "#{@email.recipients.count.to_s} recipients" %></p>
</div>
<div>
  <p><%= "Sent #{@email.created_at.strftime("%a, %b")} #{@email.created_at.day.ordinalize}, #{@email.created_at.strftime("%l:%M %p")}" %></p>
</div>

<h2>Subject</h2>
<div>
  <%= @email.subject %>
</div>

<h2>Body</h2>
<div>
  <%= @email.body %>
</div>

<h2>Postings</h2>
<div>
  <%= render partial: 'shared/postings_checkbox_table', locals: {
    check_box_column_header_text: "N/A",
    show_producer: current_user.distributor?,
    postings: @email.postings, show_check_boxes: false } %>
</div>

<h2>Distribution List</h2>
<div>
  <% @email.recipients.order(:email).each do |user| %>
    <p><%= user.email %></p>
  <% end %>
</div>