<h1>Dropsite</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    Name: <%= @dropsite.name %>
  </div>
</div>

<% if !@dropsite.phone.nil? %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    Phone: <%= @dropsite.phone %>
  </div>
</div>
<% end %>

<% if !@dropsite.hours.nil? %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    Hours: <%= @dropsite.hours %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    Address: <%= @dropsite.address + ", " + @dropsite.city + ", " + @dropsite.state + " " + @dropsite.zip.to_s %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to "Map it!", '#' %>
  </div>
</div>