<% #grab params from local_assigns
  food_category = local_assigns[:food_category]  
%>

<% if food_category %>

  <ul>
    <li>
      <%= label_tag :to_category, class: "radio-inline" do %>
        <%= radio_button_tag :to_category, food_category.id, nil, class: "radio-checkbox" %>        

        <%
        if food_category.sequence.blank?
          display_category = "#{food_category.name}"
        else
          display_category = "#{food_category.name}, #{food_category.sequence}"
        end
        %>

        <span class="category-background"><%= link_to display_category, food_category_path(food_category) %></span>        
      <% end %>
    </li>
    <% food_category.children.order(:sequence).each do |child_food_category| %>    
      <%= render partial: 'food_category_branch', locals: { food_category: child_food_category } %>    
    <% end %>

    <% if food_category.products.any? %>
      <ul>
        <% food_category.products.order(:name).each do |product| %>
          <li>
            <%= label_tag :to_category, class: "checkbox-inline" do %>
              <%= check_box_tag "products[]", product.id, nil, class: "radio-checkbox" %>
              <span class="product-background"><%= link_to product.name, product_path(product) %></span>              
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </ul>

<% end %>