<h1>New Food Category</h1>

<p>
  <span class="glyphicon glyphicon-arrow-left"></span>
  <%= link_to "Food Categories", food_categories_path %>
</p>

<%= form_for @food_category do |f| %>
  
  <%= render partial: 'shared/error_messages_general', locals: { active_record_object: @food_category } %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :parent %>
  <%= select_tag :parent, options_from_collection_for_select(@food_categories, "id", "name"), class: 'form-control' %>
  
  <%= f.submit "Create", class: "btn btn-lg btn-primary outline" %>

<% end %>