<div class="row">
  <div class="col-xs-12">
    <div  data-toggle="collapse" data-target="#headerContent">
      <span id="logo">Farmer's Cellar</span> <span id="headerContentChevron" class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>
</div>

<% if (yield :nav_trinket).blank? %>
  <% if request.path != root_path %>
    <%= render partial: 'shared/nav_trinket', locals: { links: nil } %>
  <% end %>
<% else %>
  <%= yield :nav_trinket %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div id="headerContent" class="collapse" data-chevron="#headerContentChevron">        
      <% if logged_in? %>
        
        <div class="left-most-header-link header-link">
          <%= link_to tote_items_path, class: "non-blue" do %>                  
            <span class="glyphicon glyphicon-shopping-cart"></span><span class="header-object-count"> <%= (session[:tote] && (session[:tote] > 0)) ? session[:tote].to_s : "" %></span>
            <span> Tote</span>                    
          <% end %>
        </div>


        <div class="left-most-header-link header-link">
          <%= link_to tote_items_path(orders: true), class: "non-blue" do %>
            <span class="glyphicon glyphicon glyphicon-list-alt"></span><span class="header-object-count"> <%= (session[:orders] && (session[:orders] > 0)) ? session[:orders].to_s : "" %></span>
            <span> Orders</span>
          <% end %>
        </div>


        <div class="left-most-header-link header-link">
          <%= link_to tote_items_path(calendar: 1), class: "non-blue" do %>                            
            <span class="glyphicon glyphicon glyphicon-calendar"></span><span class="header-object-count"> <%= (session[:calendar] && (session[:calendar] > 0)) ? session[:calendar].to_s : "" %></span>
            <span> Orders calendar</span>
          <% end %>
        </div>


        <div class="left-most-header-link header-link">
          <%= link_to subscriptions_path, class: "non-blue" do %>          
            <span class="glyphicon glyphicon glyphicon-repeat"></span><span class="header-object-count"> <%= (session[:subscriptions] && (session[:subscriptions] > 0)) ? session[:subscriptions].to_s : "" %></span>
            <span> Subscriptions</span>
          <% end %>
        </div>


        <div class="left-most-header-link header-link">
          <%= link_to pickup_path, class: "non-blue" do %>          
            <span class="glyphicon glyphicon glyphicon-ok"></span><span class="header-object-count"> <%= (session[:ready_for_pickup] && (session[:ready_for_pickup] > 0)) ? session[:ready_for_pickup].to_s : "" %></span>
            <span> Ready for pickup</span>
          <% end %>
        </div>


        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Account", user_path(current_user), class: "non-blue" %>
        </div>

        <div class="left-most-header-link header-link">
          <%= link_to "Settings", edit_user_path(current_user), class: "non-blue" %>
        </div>
       
        <% if current_user.account_type_is?(:PRODUCER) %>
          <div class="left-most-header-link header-link">
            <%= link_to "Create new posting", new_posting_path, class: "non-blue" %>
          </div>
        <% end %>    

        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Log out", logout_path, class: "non-blue", method: "delete" %>
        </div>

      <% else %>
        <div class="left-most-header-link header-link">
          <%= link_to "Log in", login_path, class: "non-blue" %>
        </div>
        <div class="left-most-header-link header-link">
          <%= link_to "Sign up", login_path, class: "non-blue" %>
        </div>
      <% end %>

    </div>
    
  </div>
</div>