<div class="row">
  <div class="col-xs-12">

    <div  data-toggle="collapse" data-target="#headerContent">
      <span id="logo">Farmer's Cellar</span> <span id="headerContentChevron" class="glyphicon glyphicon-chevron-down"></span>
    </div>


    <div id="headerContent" class="collapse" data-chevron="#headerContentChevron">        
      <div class="header-margin">
        <%= link_to "Home", root_path, class: "non-blue" %>
      </div>

      <% if logged_in? %>
        
        <hr class="header-section-divider" />

        <div class="header-margin">
          <%= link_to tote_items_path, class: "non-blue" do %>      
            <%
              unauthorized_items = unauthorized_items_for(current_user)
              if unauthorized_items.nil? || (num_tote_items = unauthorized_items.count) == 0
                num_items_string = ""
              else
                num_items_string = "#{num_tote_items.to_s}"
              end
            %>
            <span class="glyphicon glyphicon-shopping-cart"></span><span class="header-object-count"><%= num_items_string %></span>

            <%
              unauthorized_subscriptions = get_active_subscriptions_by_authorization_state(current_user, include_paused_subscriptions = true, kind = Subscription.kinds[:NORMAL])[:unauthorized]
              if unauthorized_subscriptions && (num_unauthorized_subscriptions = unauthorized_subscriptions.count) > 0
            %>
                <span> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><span class="header-object-count"><%= num_unauthorized_subscriptions.to_s %></span></span>
              <% end %>

            <span> Tote</span>                    
          <% end %>
        </div>


        <div class="header-margin">
          <%= link_to tote_items_path(orders: true), class: "non-blue" do %>                

            <%
              num_order_objects = num_order_objects(current_user)
              if num_order_objects.nil? || num_order_objects == 0
                num_order_objects = ""
              else
                num_order_objects= "#{num_order_objects.to_s}"
              end
            %>

            <span class="glyphicon glyphicon glyphicon-list-alt"></span><span class="header-object-count"> <%= num_order_objects %></span>
            <span> Orders</span>

          <% end %>
        </div>

        <div class="header-margin">
          <%= link_to "Subscriptions", subscriptions_path, class: "non-blue" %>
        </div>

        <hr class="header-section-divider" />

        <div class="header-margin">
          <%= link_to "Settings", edit_user_path(current_user), class: "non-blue" %>
        </div>

        <div class="header-margin">
          <%= link_to "Info", user_path(current_user), class: "non-blue" %>
        </div>
        
        <% if current_user.account_type_is?(:PRODUCER) %>
          <div class="header-margin">
            <%= link_to "Create new posting", new_posting_path, class: "non-blue" %>
          </div>
        <% end %>    

        <hr class="header-section-divider" />

        <div class="header-margin">
          <%= link_to "Log out", logout_path, class: "non-blue", method: "delete" %>
        </div>

      <% else %>
        <div class="header-margin">
          <%= link_to "Log in", login_path, class: "non-blue" %>
        </div>
        <div class="header-margin">
          <%= link_to "Sign up", login_path, class: "non-blue" %>
        </div>
      <% end %>

    </div>
    
  </div>
</div>