<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Farmer's Cellar", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>          
          <% if current_user.access_code != nil  %>
            <li><%= link_to "Shop", postings_path %></li>
            <li><%= link_to "Tote", tote_items_path %></li>
            <li><%= link_to "How Things Work", how_things_work_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>              
              <% if current_user.access_code != nil  %>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>                
              <% end %>
              <% if current_user.account_type == 1 && current_user.access_code != nil %>
                <li><%= link_to "Create new posting", new_posting_path(current_user) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>