<div class="row">
  <div class="col-xs-12">
    <div  data-toggle="collapse" data-target="#headerContent">
      <span id="logo">Farmer's Cellar</span> <span id="headerContentChevron" class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>
</div>

<% if (yield :nav_trinket).blank? %>
  <% if request.path != root_path %>
    <%= render partial: 'shared/nav_trinket', locals: { links: nil } %>
  <% end %>
<% else %>
  <%= yield :nav_trinket %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div id="headerContent" class="collapse" data-chevron="#headerContentChevron">        
      <% if logged_in? %>
        
        <div class="left-most-header-link header-link">
          <%= link_to tote_items_path, class: "non-blue" do %>      
            <%
              unauthorized_items = unauthorized_items_for(current_user)
              if unauthorized_items.nil? || (num_tote_items = unauthorized_items.count) == 0
                num_items_string = ""
              else
                num_items_string = "#{num_tote_items.to_s}"
              end
            %>
            <span class="glyphicon glyphicon-shopping-cart"></span><span class="header-object-count"><%= num_items_string %></span>
            <span> Tote</span>                    
          <% end %>
        </div>


        <div class="left-most-header-link header-link">
          <%= link_to tote_items_path(calendar: 1), class: "non-blue" do %>                

            <%
              num_order_objects = num_order_objects(current_user)
              if num_order_objects.nil? || num_order_objects == 0
                num_order_objects = ""
              else
                num_order_objects= "#{num_order_objects.to_s}"
              end
            %>

            <span class="glyphicon glyphicon glyphicon-calendar"></span><span class="header-object-count"> <%= num_order_objects %></span>
            <span> Orders calendar</span>

          <% end %>
        </div>

        <div class="left-most-header-link header-link">
          <%= link_to subscriptions_path, class: "non-blue" do %>          
            <span class="glyphicon glyphicon glyphicon-repeat"></span><span class="header-object-count"> <%= @num_authorized_subscriptions > 0 ? @num_authorized_subscriptions.to_s : " " %></span>
            <span> Subscriptions</span>
          <% end %>
        </div>

        <div class="left-most-header-link header-link">
          <%= link_to "Ready for pickup", pickup_path, class: "non-blue" %>
        </div>

        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Account", user_path(current_user), class: "non-blue" %>
        </div>

        <div class="left-most-header-link header-link">
          <%= link_to "Settings", edit_user_path(current_user), class: "non-blue" %>
        </div>
       
        <% if current_user.account_type_is?(:PRODUCER) %>
          <div class="left-most-header-link header-link">
            <%= link_to "Create new posting", new_posting_path, class: "non-blue" %>
          </div>
        <% end %>    

        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Log out", logout_path, class: "non-blue", method: "delete" %>
        </div>

      <% else %>
        <div class="left-most-header-link header-link">
          <%= link_to "Log in", login_path, class: "non-blue" %>
        </div>
        <div class="left-most-header-link header-link">
          <%= link_to "Sign up", login_path, class: "non-blue" %>
        </div>
      <% end %>

    </div>
    
  </div>
</div>