<div class="row">
  <div class="col-xs-12">
    <div  data-toggle="collapse" data-target="#headerContent">
      <span id="logo">Farmer's Cellar</span> <span id="headerContentChevron" class="glyphicon glyphicon-chevron-down"></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    
    <%= link_to root_path, class: "non-blue" do %>
      <span class="header-icon glyphicon glyphicon-home"></span>
    <% end %>

    <% if logged_in? %>

      <%= link_to tote_items_path, class: "non-blue" do %>                  
        <span class="header-icon glyphicon glyphicon-shopping-cart">
          <% if session[:tote] && (session[:tote] > 0) %>
            <span class="badge"><%= session[:tote].to_s %></span>
          <% end %>
        </span>
      <% end %>


      <%= link_to tote_items_path(orders: true), class: "non-blue" do %>
        <span class="header-icon glyphicon glyphicon glyphicon-list-alt">
          <% if session[:orders] && (session[:orders] > 0) %>
            <span class="badge"><%= session[:orders].to_s %></span>
          <% end %>
        </span>
      <% end %>


      <%= link_to tote_items_path(calendar: 1), class: "non-blue" do %>                            
        <span class="header-icon glyphicon glyphicon glyphicon-calendar">
          <% if session[:calendar] && (session[:calendar] > 0) %>
            <span class="badge"><%= session[:calendar].to_s %></span>
          <% end %>
        </span>
      <% end %>


      <%= link_to subscriptions_path, class: "non-blue" do %>          
        <span class="header-icon glyphicon glyphicon glyphicon-repeat">
          <% if session[:subscriptions] && (session[:subscriptions] > 0) %>
            <span class="badge"><%= session[:subscriptions].to_s %></span>
          <% end %>
        </span>
      <% end %>

      <%= link_to pickup_path, class: "non-blue" do %>          
        <span class="header-icon glyphicon glyphicon glyphicon-ok">
          <% if session[:ready_for_pickup] && (session[:ready_for_pickup] > 0) %>
            <span class="badge"><%= session[:ready_for_pickup].to_s %></span>
          <% end %>
        </span>
      <% end %>


    <% end %>

  </div>
</div>

<% if (yield :nav_trinket).blank? %>
  <% if request.path != root_path %>
    <%= render partial: 'shared/nav_trinket', locals: { links: nil } %>
  <% end %>
<% else %>
  <%= yield :nav_trinket %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div id="headerContent" class="collapse" data-chevron="#headerContentChevron">        
      <% if logged_in? %>

        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Account", user_path(current_user), class: "non-blue" %>
        </div>

        <div class="left-most-header-link header-link">
          <%= link_to "Settings", edit_user_path(current_user), class: "non-blue" %>
        </div>
       
        <% if current_user.account_type_is?(:PRODUCER) %>
          <div class="left-most-header-link header-link">
            <%= link_to "Create new posting", new_posting_path, class: "non-blue" %>
          </div>
        <% end %>    

        <hr class="header-section-divider" />

        <div class="left-most-header-link header-link">
          <%= link_to "Log out", logout_path, class: "non-blue", method: "delete" %>
        </div>

      <% else %>
        <div class="left-most-header-link header-link">
          <%= link_to "Log in", login_path, class: "non-blue" %>
        </div>
        <div class="left-most-header-link header-link">
          <%= link_to "Sign up", login_path, class: "non-blue" %>
        </div>
      <% end %>

    </div>
    
  </div>
</div>